Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

fix(python): wrong batch size (#2314)
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

bump datafusion to 36
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

wip
  Cargo.lock
  Cargo.toml
  javascript/.cargo/config.toml
  javascript/.gitignore
  javascript/.npmignore
  javascript/.yarnrc.yml
  javascript/Cargo.toml
  javascript/__test__/index.spec.mjs
  javascript/build.rs
  javascript/deltalake/index.ts
  javascript/deltalake/table.ts
  javascript/hello.js
  javascript/index.d.ts
  javascript/npm/darwin-x64/README.md
  javascript/npm/darwin-x64/package.json
  javascript/npm/linux-x64-gnu/README.md
  javascript/npm/linux-x64-gnu/package.json
  javascript/npm/win32-x64-msvc/README.md
  javascript/npm/win32-x64-msvc/package.json
  javascript/package.json
  javascript/rustfmt.toml
  javascript/src/lib.rs
  javascript/yarn.lock
Owners: none

fix: make struct fields nullable in stats schema
  crates/core/src/kernel/snapshot/mod.rs
Owners: @wjones127, @roeap, @rtyler

add test case for table with null stats in notnull struct
  crates/core/tests/read_delta_log_test.rs
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/_delta_log/00000000000000000000.json
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/_delta_log/00000000000000000001.json
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00000-38343f4d-d7db-4e6c-b174-d0dd01510f34-c000.snappy.parquet
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00004-e7a7f9d9-18cb-45ee-9d64-6c711cd8eb77-c000.snappy.parquet
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00009-ffa42641-8c4e-4f27-875e-bbb68e3bb100-c000.snappy.parquet
Owners: @wjones127, @roeap, @rtyler

fix(rust): throw schema mismatch when decimal doesn't fit in the decimal type of table (#2330)
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(rust): throw schema mismatch when decimal doesn't fit in the decimal type of table (#2330)
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add test case for table with null stats in notnull struct
  crates/core/tests/read_delta_log_test.rs
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/_delta_log/00000000000000000000.json
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/_delta_log/00000000000000000001.json
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00000-38343f4d-d7db-4e6c-b174-d0dd01510f34-c000.snappy.parquet
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00004-e7a7f9d9-18cb-45ee-9d64-6c711cd8eb77-c000.snappy.parquet
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00009-ffa42641-8c4e-4f27-875e-bbb68e3bb100-c000.snappy.parquet
Owners: @wjones127, @roeap, @rtyler

add test case for table with null stats in notnull struct
  crates/core/tests/read_delta_log_test.rs
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/_delta_log/00000000000000000000.json
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/_delta_log/00000000000000000001.json
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00000-38343f4d-d7db-4e6c-b174-d0dd01510f34-c000.snappy.parquet
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00004-e7a7f9d9-18cb-45ee-9d64-6c711cd8eb77-c000.snappy.parquet
  crates/test/tests/data/table_with_null_stats_in_notnull_struct/part-00009-ffa42641-8c4e-4f27-875e-bbb68e3bb100-c000.snappy.parquet
Owners: @wjones127, @roeap, @rtyler

fix: make struct fields nullable in stats schema
  crates/core/src/kernel/snapshot/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: make struct fields nullable in stats schema
  crates/core/src/kernel/snapshot/mod.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/kernel/snapshot/log_data.rs
Owners: @wjones127, @roeap, @rtyler

remove tmp files in cleanup
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: remove tmp files in cleanup_metadata (#2356)
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: remove tmp files in cleanup_metadata (#2356)
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

parse missing scalarValues
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler

add missing
  crates/core/src/operations/optimize.rs
Owners: @wjones127, @roeap, @rtyler

tests
  python/tests/test_optimize.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

tests
  python/tests/test_optimize.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add missing
  crates/core/src/operations/optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix(python,rust): optimize compact on schema evolved table (#2358)
  crates/core/src/operations/optimize.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python,rust): optimize compact on schema evolved table (#2358)
  crates/core/src/operations/optimize.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(rust): derive Copy on some public enums (#2329)
  crates/core/src/kernel/expressions/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
  crates/sql/src/parser.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(rust): derive Copy on some public enums (#2329)
  crates/core/src/kernel/expressions/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
  crates/sql/src/parser.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

parse missing scalarValues
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler

convert Option<T> to Result<T,E>
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler

enable config for parquet pushdown on delta scan
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

add new tc for merge to test with parquet pushdown
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

cargo fmt
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: add config for parquet pushdown on delta scan (#2364)
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: add config for parquet pushdown on delta scan (#2364)
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

snappy
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

fix: add snappy compression on checkpoint files (#2365)
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

fix: add snappy compression on checkpoint files (#2365)
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

Update Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

update executionplan children methods
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/merge/barrier.rs
Owners: @wjones127, @roeap, @rtyler

chore(rust): bump datafusion to 36 (#2249)
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/merge/barrier.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

chore(rust): bump datafusion to 36 (#2249)
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/merge/barrier.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
