Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

fixup! chore: upgrade to Datafusion 38
  crates/benchmarks/src/bin/merge.rs
Owners: @wjones127, @roeap, @rtyler

fixup! fixup! chore: upgrade to Datafusion 38
  crates/benchmarks/src/bin/merge.rs
  crates/sql/src/planner.rs
Owners: @wjones127, @roeap, @rtyler

chore: upgrade to Datafusion 38
  Cargo.toml
  crates/core/src/delta_datafusion/cdf/scan_utils.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/merge/mod.rs
  crates/sql/src/logical_plan.rs
  crates/sql/src/planner.rs
Owners: @wjones127, @roeap, @rtyler

wip
  crates/core/src/operations/update.rs
  crates/core/src/table/state_arrow.rs
Owners: @wjones127, @roeap, @rtyler

pull delta from conda not pip
  docs/usage/installation.md
Owners: @MrPowers

syntax fix
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

docs: dask write syntax fix (#2543)
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

docs: dask write syntax fix (#2543)
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

docs: pull delta from conda not pip (#2535)
  docs/usage/installation.md
Owners: @MrPowers

docs: pull delta from conda not pip (#2535)
  docs/usage/installation.md
Owners: @MrPowers

fix: clippy warnings
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/cast.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/command_merge.rs
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fix: clippy warnings
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/cast.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/command_merge.rs
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fix: clippy warnings
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/cast.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/command_merge.rs
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fix: remove deprecated overwrite_schema configuration which has incorrect behavior
  crates/core/Cargo.toml
  python/Cargo.toml
  python/deltalake/writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: update all the version ranges to handle the new 0.18.0 point release
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/mount/Cargo.toml
  crates/test/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update all the version ranges to handle the new 0.18.0 point release
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/mount/Cargo.toml
  crates/test/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update all the version ranges to handle the new 0.18.0 point release
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/mount/Cargo.toml
  crates/test/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

fix: remove deprecated overwrite_schema configuration which has incorrect behavior
  crates/core/Cargo.toml
  python/Cargo.toml
  python/deltalake/writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: remove deprecated overwrite_schema configuration which has incorrect behavior
  crates/core/Cargo.toml
  python/Cargo.toml
  python/deltalake/writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Reword concurrent writing documentation to clarify it is only necessary for S3
  docs/usage/writing/writing-to-s3-with-locking-provider.md
  python/deltalake/writer.py
Owners: @MrPowers, @wjones127, @fvaleye, @roeap, @ion-elgreco

Clarify R2 and MinIO
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

fix: update deltalake crate examples for crate layout and TimestampNtz
  crates/deltalake/Cargo.toml
  crates/deltalake/examples/basic_operations.rs
  crates/deltalake/examples/load_table.rs
  crates/deltalake/examples/read_delta_table.rs
  crates/deltalake/examples/recordbatch-writer.rs
Owners: @wjones127, @roeap, @rtyler

fix: update deltalake crate examples for crate layout and TimestampNtz
  crates/deltalake/Cargo.toml
  crates/deltalake/examples/basic_operations.rs
  crates/deltalake/examples/load_table.rs
  crates/deltalake/examples/read_delta_table.rs
  crates/deltalake/examples/recordbatch-writer.rs
Owners: @wjones127, @roeap, @rtyler

fix: update deltalake crate examples for crate layout and TimestampNtz
  crates/deltalake/Cargo.toml
  crates/deltalake/examples/basic_operations.rs
  crates/deltalake/examples/load_table.rs
  crates/deltalake/examples/read_delta_table.rs
  crates/deltalake/examples/recordbatch-writer.rs
Owners: @wjones127, @roeap, @rtyler

add context + api docs link
  docs/usage/deleting-rows-from-delta-lake-table.md
Owners: @MrPowers

add drop cols usage doc
  docs/usage/droppings-columns.md
Owners: @MrPowers

Make into markdown hyperlink
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Fix hyperlinks
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

Fix other formatting in page
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

Clarify language
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

docs: clarify locking mechanism requirement for S3 (#2558)
  docs/usage/writing/writing-to-s3-with-locking-provider.md
  python/deltalake/writer.py
Owners: @MrPowers, @wjones127, @fvaleye, @roeap, @ion-elgreco

docs: clarify locking mechanism requirement for S3 (#2558)
  docs/usage/writing/writing-to-s3-with-locking-provider.md
  python/deltalake/writer.py
Owners: @MrPowers, @wjones127, @fvaleye, @roeap, @ion-elgreco

init
  crates/core/src/operations/alter_column.rs
  crates/core/src/operations/mod.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add timestampntz advancement
  crates/core/src/operations/add_column.rs
  crates/core/src/operations/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  crates/core/src/kernel/models/actions.rs
  crates/core/src/operations/add_column.rs
  crates/core/src/operations/mod.rs
Owners: @wjones127, @roeap, @rtyler

more formatting
  crates/core/src/kernel/models/actions.rs
  crates/core/src/operations/add_column.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

rename operation
  crates/core/src/operations/add_column.rs
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

add tests
  python/deltalake/table.py
  python/tests/test_alter.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

typo
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/add_column.rs
Owners: @wjones127, @roeap, @rtyler

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
