Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

fix: Update snapshot when having concurrent writers
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

bump chrono
  Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/storage/utils.rs
  crates/core/src/writer/stats.rs
  crates/core/tests/command_restore.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump python 0.16.4 (#2371)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: bump python 0.16.4 (#2371)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  crates/core/src/delta_datafusion/mod.rs
  crates/core/tests/command_restore.rs
Owners: @wjones127, @roeap, @rtyler

fix improper partitionvalue logic
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

.
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler

doc update for tag `python-v0.16.4`
  sitemap.xml
  sitemap.xml.gz
Owners: none

cast
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/delta_datafusion/mod.rs
  crates/core/tests/command_restore.rs
Owners: @wjones127, @roeap, @rtyler

bump chrono
  Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/storage/utils.rs
  crates/core/src/writer/stats.rs
  crates/core/tests/command_restore.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/delta_datafusion/mod.rs
  crates/core/tests/command_restore.rs
Owners: @wjones127, @roeap, @rtyler

bump chrono
  Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/storage/utils.rs
  crates/core/src/writer/stats.rs
  crates/core/tests/command_restore.rs
Owners: @wjones127, @roeap, @rtyler

fix improper partitionvalue logic
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

fix improper partitionvalue logic
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

test: clean up test for concurrent checkpoint
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

use to_timestamp_micros
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix cast
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

implement conflict check & table read
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

remove print
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

refactor for review
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix(python, rust): expr parsing date/timestamp (#2357)
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): expr parsing date/timestamp (#2357)
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

bump crates
  crates/aws/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/client/retry.rs
Owners: @wjones127, @roeap, @rtyler

Fix compile errors
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

Add Time64 support
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Add Arrow Time64 => PrimitiveType Time64
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

Debug
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

Default Time to nanosecond precision
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

support arrow time64 types
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

format
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat: added configuration variables to handle EC2 metadata service
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

added missing file
  crates/aws/src/credentials.rs
Owners: @wjones127, @roeap, @rtyler

fix compact flush every batch
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust): remove flush after writing every batch (#2387)
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust): remove flush after writing every batch (#2387)
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

Update parquet
  Cargo.toml
  crates/benchmarks/Cargo.toml
  crates/benchmarks/README.md
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/kernel/expressions/scalars.rs
Owners: @wjones127, @roeap, @rtyler

Update datafusion
  Cargo.toml
Owners: none

Update datafusion
  Cargo.toml
Owners: none

Update datafusion
  Cargo.toml
Owners: none

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
