Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

Update Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: bump python 0.17.5 (#2531)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: bump python 0.17.5 (#2531)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Fix map root type to comply with https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#maps. The indication is to have a key_value name instead of entries.
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

impl write app txn
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

:WIP: POC for log replay visitor + txn ids
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

implement conflict check & table read
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

remove print
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

refactor for review
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix: only keep latest txn per app
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

chore: some commit flow pruning
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

refactor: rename Txn -> Transaction
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/parquet_read/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix: pass transaction tests
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: cleanup
  .cargo/config.toml
  crates/core/src/protocol/parquet_read/mod.rs
  python/.cargo/config.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: remove some unused code
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

refactor: a little more API harmonization
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  crates/core/src/table/state_arrow.rs
Owners: @wjones127, @roeap, @rtyler

refactor: rename Txn -> Transaction
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/parquet_read/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

chore: cleanup
  .cargo/config.toml
  crates/core/src/protocol/parquet_read/mod.rs
  python/.cargo/config.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

refactor: rename Txn -> Transaction
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/parquet_read/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

chore: some commit flow pruning
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

fix: pass transaction tests
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

:WIP: POC for log replay visitor + txn ids
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix: only keep latest txn per app
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

remove print
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

chore: remove some unused code
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

remove print
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

impl write app txn
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

chore: cleanup
  .cargo/config.toml
  crates/core/src/protocol/parquet_read/mod.rs
  python/.cargo/config.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: pass transaction tests
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: some commit flow pruning
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

implement conflict check & table read
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix: only keep latest txn per app
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

refactor for review
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

implement conflict check & table read
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

:WIP: POC for log replay visitor + txn ids
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

impl write app txn
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

refactor: a little more API harmonization
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  crates/core/src/table/state_arrow.rs
Owners: @wjones127, @roeap, @rtyler

refactor for review
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

refactor: a little more API harmonization
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  crates/core/src/table/state_arrow.rs
Owners: @wjones127, @roeap, @rtyler

chore: remove some unused code
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
