Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

chore: missed one macos runner reference in actions
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

chore: missed one macos runner reference in actions
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

chore: missed one macos runner reference in actions
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

fix: set large_dtypes=False as the default behavior on merge
  python/deltalake/table.py
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: add a reproduction case for merge failures with struct<string>
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: set large_dtypes=False as the default behavior on merge
  python/deltalake/table.py
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: add a reproduction case for merge failures with struct<string>
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: bump the deltalake-azure crate version for a release
  crates/azure/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: bump the deltalake-gcp package for release
  crates/gcp/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
