Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

remove lifetimes
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix s3 tests
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

fix s3 tests2
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

chore: remove caches from github actions
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

fix(python): sort before schema comparison (#2209)
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): sort before schema comparison (#2209)
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: canonicalize config keys
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

make tests more robust to other environmental settings
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

remove all aws-revelant keys from the environment in the tests
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

undo rework; just unset vars from integration tests
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

create scope around environment variable sets/gets
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

feat: Logical Node for find files
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/kernel/snapshot/log_data.rs
Owners: @wjones127, @roeap, @rtyler

make tests more robust to other environmental settings
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

create scope around environment variable sets/gets
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

make tests more robust to other environmental settings
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix: canonicalize config keys
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

remove all aws-revelant keys from the environment in the tests
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

create scope around environment variable sets/gets
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

remove all aws-revelant keys from the environment in the tests
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix: canonicalize config keys
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

undo rework; just unset vars from integration tests
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

undo rework; just unset vars from integration tests
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

perf: directly create projection instead of using DataFrame::with_column
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

remove comment
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

perf: directly create projection instead of using DataFrame::with_column (#2222)
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

perf: directly create projection instead of using DataFrame::with_column (#2222)
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: remove caches from github actions
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

chore: remove caches from github actions
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

Fixing example in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

chore: add binary field back into test checkpoint
  python/tests/test_checkpoint.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Fixing example in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Fixing example in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

chore: fix the Cargo.tomls to publish information properly on docs.rs
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: fix the Cargo.tomls to publish information properly on docs.rs
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

fix generic->trait
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler

keep old behavior
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

bump datafusion
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

try something
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/expr.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

feat(rust, python): add `drop constraint` operation (#2071)
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/mod.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(rust, python): add `drop constraint` operation (#2071)
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/mod.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
