Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

remove parameter that causes trouble with pyarrow 8
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

format again :)
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fighting with py 3.8 ;)
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Update Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

address feedback
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
  docs/usage/writing/index.md
  python/src/error.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

clippy
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

Update Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Update Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

errors
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

unused import
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

Better exception handling
  python/deltalake/exceptions.py
  python/src/error.rs
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

commit missing file
  python/deltalake/_internal.pyi
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  crates/core/src/operations/mod.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/table.py
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

remove noop, and commit always
  crates/core/src/operations/unset_tbl_properties.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

do not use 0.9.1 of object_store for now
  Cargo.toml
Owners: none

fix object_store 0.9.0 since 0.9.1 causes CI failure
  Cargo.toml
Owners: none

fix: object_store 0.9.0 since 0.9.1 causes CI failure (#2245)
  Cargo.toml
Owners: none

fix: object_store 0.9.0 since 0.9.1 causes CI failure (#2245)
  Cargo.toml
Owners: none

chore: clean up some compilation failures and un-ignore some tests
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/lib.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/writer/stats.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

chore: clean up some compilation failures and un-ignore some tests
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/lib.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/writer/stats.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

feat: merge schema support for the write operation and Python (with Rust engine)
  crates/core/src/operations/cast.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  docs/integrations/delta-lake-pandas.md
  docs/usage/writing/index.md
  python/deltalake/_internal.pyi
  python/deltalake/exceptions.py
  python/deltalake/writer.py
  python/docs/source/usage.rst
  python/src/error.rs
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

feat: merge schema support for the write operation and Python (with Rust engine)
  crates/core/src/operations/cast.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  docs/integrations/delta-lake-pandas.md
  docs/usage/writing/index.md
  python/deltalake/_internal.pyi
  python/deltalake/exceptions.py
  python/deltalake/writer.py
  python/docs/source/usage.rst
  python/src/error.rs
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

feat: merge schema support for the write operation and Python (with Rust engine)
  crates/core/src/operations/cast.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  docs/integrations/delta-lake-pandas.md
  docs/usage/writing/index.md
  python/deltalake/_internal.pyi
  python/deltalake/exceptions.py
  python/deltalake/writer.py
  python/docs/source/usage.rst
  python/src/error.rs
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

fmt
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

propagate table features to python
  python/deltalake/_internal.pyi
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix serde in schema print
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

parse ConfigProperty into TableFeature
  crates/core/src/kernel/models/actions.rs
  crates/core/src/operations/create.rs
Owners: @wjones127, @roeap, @rtyler

add reader support for v3
  python/deltalake/table.py
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

pass all python tests
  crates/core/src/kernel/expressions/scalars.rs
  python/deltalake/_internal.pyi
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

update write format
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

fix serialization of UTC timestamp
  crates/core/src/kernel/expressions/scalars.rs
  python/src/lib.rs
  python/tests/test_table_read.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

undo default version change
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/test/src/concurrent.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix bug
  crates/core/src/kernel/models/actions.rs
Owners: @wjones127, @roeap, @rtyler

rm println/dbgs
  crates/core/src/operations/transaction/protocol.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix rust test
  crates/test/src/concurrent.rs
Owners: @wjones127, @roeap, @rtyler

mark test incorrect
  python/tests/data_acceptance/test_reader.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

ignore test (datafusion doesn't support that)
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fix most tests
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/table/state_arrow.rs
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_alter.py
  python/tests/test_schema.py
  python/tests/test_table_read.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

timestampntz feature
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler
