Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

fix typo
  docs/how-delta-lake-works/architecture-of-delta-table.md
Owners: @MrPowers

fix typo
  docs/how-delta-lake-works/architecture-of-delta-table.md
Owners: @MrPowers

fix typo
  docs/how-delta-lake-works/architecture-of-delta-table.md
Owners: @MrPowers

fix: format
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat(#2597): allow pyarrow.dataset.Expression in filters kwarg
  python/deltalake/table.py
  python/stubs/pyarrow/parquet.pyi
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(#2597): allow pyarrow.dataset.Expression in filters kwarg (#2600)
  python/deltalake/table.py
  python/stubs/pyarrow/parquet.pyi
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(#2597): allow pyarrow.dataset.Expression in filters kwarg (#2600)
  python/deltalake/table.py
  python/stubs/pyarrow/parquet.pyi
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

ruff fmt
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

constrain object_store multipart upload size to fixed length buffer
  python/src/filesystem.rs
  python/src/schema.rs
  python/src/utils.rs
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix edge case in logic and update tests
  python/src/filesystem.rs
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): constrain multipart upload size to fixed length (#2606)
  python/src/filesystem.rs
  python/src/schema.rs
  python/src/utils.rs
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): constrain multipart upload size to fixed length (#2606)
  python/src/filesystem.rs
  python/src/schema.rs
  python/src/utils.rs
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: implement regression test for push down panic
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

feat(core): Allow schema evolution on read
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/schema_adapter.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

chore: implement regression test for push down panic
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: implement regression test for push down panic
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

Make feature flags consistent
  crates/deltalake/Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Rename to just hdfs
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
  crates/hdfs/Cargo.toml
  crates/hdfs/src/error.rs
  crates/hdfs/src/lib.rs
  crates/hdfs/tests/context.rs
  crates/hdfs/tests/integration.rs
Owners: @wjones127, @roeap, @rtyler

Add hdfs support via hdfs-native
  crates/deltalake/Cargo.toml
  crates/hdfs-native/Cargo.toml
  crates/hdfs-native/src/error.rs
  crates/hdfs-native/src/lib.rs
  crates/hdfs-native/tests/context.rs
  crates/hdfs-native/tests/integration.rs
  python/Cargo.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Remove unused error module and update integrations on readme
  README.md
  crates/hdfs/src/error.rs
  crates/hdfs/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

Use released version
  crates/hdfs/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

Add integration docs
  docs/integrations/object-storage/hdfs.md
  mkdocs.yml
Owners: @MrPowers

Update for next hdfs-native release
  crates/deltalake/Cargo.toml
  crates/hdfs/Cargo.toml
  crates/hdfs/src/lib.rs
  crates/hdfs/tests/context.rs
  python/Cargo.toml
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Remove thiserror as dependency
  crates/hdfs/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

Register handles in Python
  crates/deltalake/src/lib.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Add hdfs to integration test CI
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

Add feature flag to context too
  .github/workflows/build.yml
  crates/hdfs/tests/context.rs
Owners: @wjones127, @rtyler, @roeap

Update version and cleanup test
  crates/hdfs-native/Cargo.toml
  crates/hdfs-native/src/lib.rs
  crates/hdfs-native/tests/integration.rs
Owners: @wjones127, @roeap, @rtyler

Fix import
  crates/hdfs/tests/context.rs
Owners: @wjones127, @roeap, @rtyler

feat(rust, python): add HDFS support via hdfs-native package (#2612)
  .github/workflows/build.yml
  README.md
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
  crates/hdfs/Cargo.toml
  crates/hdfs/src/lib.rs
  crates/hdfs/tests/context.rs
  crates/hdfs/tests/integration.rs
  docs/integrations/object-storage/hdfs.md
  mkdocs.yml
  python/Cargo.toml
  python/src/lib.rs
Owners: @wjones127, @rtyler, @roeap, @MrPowers, @fvaleye, @ion-elgreco

feat(rust, python): add HDFS support via hdfs-native package (#2612)
  .github/workflows/build.yml
  README.md
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
  crates/hdfs/Cargo.toml
  crates/hdfs/src/lib.rs
  crates/hdfs/tests/context.rs
  crates/hdfs/tests/integration.rs
  docs/integrations/object-storage/hdfs.md
  mkdocs.yml
  python/Cargo.toml
  python/src/lib.rs
Owners: @wjones127, @rtyler, @roeap, @MrPowers, @fvaleye, @ion-elgreco

Use the correct schema for schema adapter.
  crates/core/src/delta_datafusion/mod.rs
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

feat: report DataFusion metrics for DeltaScan
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: fmt
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: fmt
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: TableProvider impl for DeltaTable does not enable parquet pushdown
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump python
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: ensure parquet options for scanning are used from SessionState
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump python 0.18.2 (#2621)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: bump python 0.18.2 (#2621)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
