Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

Pick up config options on which columns to skip
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust, python): fixed differences in storage options between log and object stores (#2500)
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust, python): fixed differences in storage options between log and object stores (#2500)
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

feat: add stats to convert-to-delta operation (#2491)
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

feat: add stats to convert-to-delta operation (#2491)
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

chore: tidying up builds without datafusion feature and clippy
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: tidying up builds without datafusion feature and clippy
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: tidying up builds without datafusion feature and clippy
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: accommodate changes in Commit APIs
  crates/core/src/operations/set_tbl_properties.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

rm state merge, not required anymore
  crates/core/src/operations/set_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

fix: enable field_with_name to support nested fields with '.' delimiter
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

feat(python, rust): add `set table properties` operation (#2264)
  crates/core/src/kernel/models/actions.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
  python/tests/test_convert_to_delta.py
  python/tests/test_create.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(python, rust): add `set table properties` operation (#2264)
  crates/core/src/kernel/models/actions.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
  python/tests/test_convert_to_delta.py
  python/tests/test_create.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: enable field_with_name to support nested fields with '.' delimiter
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

fix: enable field_with_name to support nested fields with '.' delimiter
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

fix lints
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Relase the GIL in most operations
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Relase the GIL in most operations
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): release GIL on most operations (#2512)
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): release GIL on most operations (#2512)
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: fixing some clips
  crates/aws/src/storage.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/operations/set_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

chore: fixing some clips
  crates/aws/src/storage.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/operations/set_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

chore: fixing some clips
  crates/aws/src/storage.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/operations/set_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

fix: msrv in workspace
  Cargo.toml
Owners: none

fix: msrv in workspace (#2524)
  Cargo.toml
Owners: none

fix: msrv in workspace (#2524)
  Cargo.toml
Owners: none

Make PartitionWriter public
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

feat(rust): make PartitionWriter public (#2525)
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

feat(rust): make PartitionWriter public (#2525)
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

improve daft integration docs
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

fix header
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

clarification fix
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

fix formatting
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

fix typo
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

add z-order blog link
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

minor format fix
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

docs: improve daft integration docs (#2496)
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

docs: improve daft integration docs (#2496)
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
