Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

docs: delta lake is great for small data (#2113)
  docs/delta-lake-big-data-small-data.md
  mkdocs.yml
Owners: @MrPowers

docs: delta lake is great for small data (#2113)
  docs/delta-lake-big-data-small-data.md
  mkdocs.yml
Owners: @MrPowers

drop custom filesystem
  python/deltalake/writer.py
  python/tests/test_benchmark.py
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: use transparent logo
  README.md
  logo.png
Owners: none

chore: use transparent logo
  README.md
  logo.png
Owners: none

fix: fmt
  crates/deltalake-core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

fix(#2143): Keep specific error type when writing fails.
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
Owners: @wjones127, @roeap, @rtyler

Introduce `LogStore::list_from` for lock-aware listing
  crates/deltalake-aws/src/logstore.rs
  crates/deltalake-core/src/kernel/snapshot/log_segment.rs
  crates/deltalake-core/src/kernel/snapshot/mod.rs
  crates/deltalake-core/src/kernel/snapshot/replay.rs
  crates/deltalake-core/src/logstore/default_logstore.rs
  crates/deltalake-core/src/logstore/mod.rs
  crates/deltalake-core/src/table/mod.rs
  crates/deltalake-core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix(#2143): Keep specific error type when writing fails.
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix(#2143): Keep specific error type when writing fails.
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
Owners: @wjones127, @roeap, @rtyler

Introduce `LogStore::list_from` for lock-aware listing
  crates/aws/src/logstore.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix(s3): restore working test for DynamoDb log store repair log on read
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

drop custom filesystem
  python/deltalake/writer.py
  python/tests/test_benchmark.py
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

drop custom filesystem
  python/deltalake/writer.py
  python/tests/test_benchmark.py
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

implement replaceWhere
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/test_utils.rs
  docs/_build/links.yml
  docs/src/python/operations.py
  docs/src/rust/operations.rs
  docs/usage/writing/index.md
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

doc update for tag `main`
  404.html
  api/catalog/index.html
  api/delta_table/delta_table_merger/index.html
  api/delta_table/delta_table_optimizer/index.html
  api/delta_table/index.html
  api/delta_table/metadata/index.html
  api/delta_writer/index.html
  api/exceptions/index.html
  api/schema/index.html
  api/storage/index.html
  delta-lake-big-data-small-data/index.html
  how-delta-lake-works/architecture-of-delta-table/index.html
  how-delta-lake-works/delta-lake-acid-transactions/index.html
  how-delta-lake-works/delta-lake-file-skipping/index.html
  index.html
  integrations/delta-lake-arrow/index.html
  integrations/delta-lake-dask/index.html
  integrations/delta-lake-datafusion/index.html
  integrations/delta-lake-pandas/index.html
  integrations/delta-lake-polars/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/appending-overwriting-delta-lake-table/index.html
  usage/constraints/index.html
  usage/create-delta-lake-table/index.html
  usage/deleting-rows-from-delta-lake-table/index.html
  usage/examining-table/index.html
  usage/installation/index.html
  usage/loading-table/index.html
  usage/managing-tables/index.html
  usage/optimize/delta-lake-z-order/index.html
  usage/optimize/small-file-compaction-with-optimize/index.html
  usage/overview/index.html
  usage/querying-delta-tables/index.html
  usage/writing/index.html
  usage/writing/writing-to-s3-with-locking-provider/index.html
  why-use-delta-lake/index.html
Owners: none

fix: made generalize_filter less permissive, also added more cases
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

Revert "Introduce `LogStore::list_from` for lock-aware listing"
  crates/aws/src/logstore.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

Implement breaking changes
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
Owners: @wjones127, @roeap, @rtyler

Fix cargo tests
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

Remove accidental change
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

Fix import
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

Remove DescribeTableStmt
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

Run cargo fmt
  crates/core/src/kernel/snapshot/log_data.rs
Owners: @wjones127, @roeap, @rtyler

Upgrade to DataFusion 35
  Cargo.toml
Owners: none

Use ScalarUDFImpl instead and fix Clippy
  crates/azure/src/config.rs
  crates/azure/src/error.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/gcp/src/error.rs
Owners: @wjones127, @roeap, @rtyler

chore: upgrade to DataFusion 35.0 (#2121)
  Cargo.toml
  crates/azure/src/config.rs
  crates/azure/src/error.rs
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/gcp/src/error.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

chore: upgrade to DataFusion 35.0 (#2121)
  Cargo.toml
  crates/azure/src/config.rs
  crates/azure/src/error.rs
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/gcp/src/error.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

Introduce `LogStore::refresh()` as a cheap log store sync mechanism
  crates/aws/src/logstore.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/logstore/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix(s3): restore working test for DynamoDb log store repair log on read (#2120)
  crates/aws/src/logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix(s3): restore working test for DynamoDb log store repair log on read (#2120)
  crates/aws/src/logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

Point pyspark test to the local dockjer-compose setup
  python/tests/pyspark_integration/test_concurrent_write_s3_dynamo.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(test): Integration test for S3 log store with pyspark
  python/tests/pyspark_integration/test_concurrent_write_s3_dynamo.py
  python/tests/pyspark_integration/utils.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: upgrade to DataFusion 35.0 (#2121)
  Cargo.toml
  crates/azure/src/config.rs
  crates/azure/src/error.rs
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/gcp/src/error.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

fix: don't panic in table load
  crates/deltalake-core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

fix(s3): restore working test for DynamoDb log store repair log on read (#2120)
  crates/aws/src/logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  python/tests/pyspark_integration/test_concurrent_write_s3_dynamo.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

rm old code
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

change dead delta.io links
  docs/index.md
  python/docs/source/index.rst
Owners: @MrPowers

feat: implementation for replaceWhere (#1996)
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/test_utils.rs
  docs/_build/links.yml
  docs/index.md
  docs/src/python/operations.py
  docs/src/rust/operations.rs
  docs/usage/writing/index.md
  python/deltalake/writer.py
  python/docs/source/index.rst
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

feat: implementation for replaceWhere (#1996)
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/test_utils.rs
  docs/_build/links.yml
  docs/index.md
  docs/src/python/operations.py
  docs/src/rust/operations.rs
  docs/usage/writing/index.md
  python/deltalake/writer.py
  python/docs/source/index.rst
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco
