Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

Optimize commit v1
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
  docs/usage/optimize/small-file-compaction-with-optimize.md
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

cargo fmt
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

read only checkpoints that match _last_updated version
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000000.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000001.checkpoint.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000001.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000002.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000003.checkpoint.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000003.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/_last_checkpoint
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-6791b37e-f318-4d2b-87a0-89be205c338b-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-9c90a84d-6999-463c-bd2d-f68333e6d03d-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-bea93a33-9112-41a5-aca6-c2d1f2c43873-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-fed6d112-d244-4c54-810d-25ba3f0a4016-c000.snappy.parquet
  python/tests/test_table_read.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

always encapsulate in backticks in _all functions
  python/deltalake/table.py
  python/tests/conftest.py
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): always encapsulate column names in backticks in _all functions (#2271)
  python/deltalake/table.py
  python/tests/conftest.py
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): always encapsulate column names in backticks in _all functions (#2271)
  python/deltalake/table.py
  python/tests/conftest.py
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(rust): read only checkpoints that match _last_checkpoint version (#2270)
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000000.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000001.checkpoint.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000001.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000002.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000003.checkpoint.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000003.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/_last_checkpoint
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-6791b37e-f318-4d2b-87a0-89be205c338b-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-9c90a84d-6999-463c-bd2d-f68333e6d03d-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-bea93a33-9112-41a5-aca6-c2d1f2c43873-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-fed6d112-d244-4c54-810d-25ba3f0a4016-c000.snappy.parquet
  python/tests/test_table_read.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(rust): read only checkpoints that match _last_checkpoint version (#2270)
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000000.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000001.checkpoint.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000001.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000002.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000003.checkpoint.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000003.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/_last_checkpoint
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-6791b37e-f318-4d2b-87a0-89be205c338b-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-9c90a84d-6999-463c-bd2d-f68333e6d03d-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-bea93a33-9112-41a5-aca6-c2d1f2c43873-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-fed6d112-d244-4c54-810d-25ba3f0a4016-c000.snappy.parquet
  python/tests/test_table_read.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Add Time64 support
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Fix compile errors
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

Add Arrow Time64 => PrimitiveType Time64
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

Debug
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

Default Time to nanosecond precision
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

support arrow time64 types
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

cargo fmt
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/write.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

cleanup
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

wip on fixes
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/test_utils.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/integration_datafusion.rs
  crates/deltalake/examples/basic_operations.rs
Owners: @wjones127, @roeap, @rtyler

more fixes
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/integration_datafusion.rs
  crates/deltalake/examples/basic_operations.rs
  docs/src/rust/check_constraints.rs
  docs/src/rust/operations.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

more fixes
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/test_utils.rs
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/schema/partitions.rs
  crates/core/tests/integration_datafusion.rs
  crates/deltalake/examples/basic_operations.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

adjust test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

doc update for tag `main`
  404.html
  api/catalog/index.html
  api/delta_table/delta_table_alterer/index.html
  api/delta_table/delta_table_merger/index.html
  api/delta_table/delta_table_optimizer/index.html
  api/delta_table/index.html
  api/delta_table/metadata/index.html
  api/delta_writer/index.html
  api/exceptions/index.html
  api/schema/index.html
  api/storage/index.html
  delta-lake-best-practices/index.html
  delta-lake-big-data-small-data/index.html
  how-delta-lake-works/architecture-of-delta-table/index.html
  how-delta-lake-works/delta-lake-acid-transactions/index.html
  how-delta-lake-works/delta-lake-file-skipping/index.html
  index.html
  integrations/delta-lake-dagster/index.html
  integrations/delta-lake-dask/index.html
  integrations/delta-lake-datafusion/index.html
  integrations/delta-lake-pandas/index.html
  integrations/delta-lake-polars/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/appending-overwriting-delta-lake-table/index.html
  usage/constraints/index.html
  usage/create-delta-lake-table/index.html
  usage/deleting-rows-from-delta-lake-table/index.html
  usage/examining-table/index.html
  usage/installation/index.html
  usage/loading-table/index.html
  usage/managing-tables/index.html
  usage/optimize/delta-lake-z-order/index.html
  usage/optimize/small-file-compaction-with-optimize/index.html
  usage/overview/index.html
  usage/querying-delta-tables/index.html
  usage/writing/index.html
  usage/writing/writing-to-s3-with-locking-provider/index.html
  why-use-delta-lake/index.html
Owners: none

use into()
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/test_utils.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/integration_datafusion.rs
  crates/deltalake/examples/basic_operations.rs
  docs/src/rust/check_constraints.rs
  docs/src/rust/operations.rs
Owners: @wjones127, @roeap, @rtyler, @MrPowers

we need GIL, no?
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

clippy, your so right
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

docs: fix typo in delta-lake-polars.md
  docs/integrations/delta-lake-polars.md
Owners: @MrPowers

revert 965968cda0d3d6cace62905b5af5437960ea851a and 965968cda0d3d6cace62905b5af5437960ea851a
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

docs: fix typo in delta-lake-polars.md (#2285)
  docs/integrations/delta-lake-polars.md
Owners: @MrPowers

docs: fix typo in delta-lake-polars.md (#2285)
  docs/integrations/delta-lake-polars.md
Owners: @MrPowers

fix: replace assert and AssertionError with appropriate exceptions
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

formatting
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/_ext/edit_on_github.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco, @MrPowers

add more non gil blocking code
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/_ext/edit_on_github.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco, @MrPowers

fix mut py obj
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

don't modify self insinde the allow threads
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix formatting
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/_ext/edit_on_github.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco, @MrPowers

fix: replace assert and AssertionError with appropriate exceptions (#2286)
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: replace assert and AssertionError with appropriate exceptions (#2286)
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

refactor!: use builder for commit interface (#2154)
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/errors.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

refactor!: use builder for commit interface (#2154)
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/errors.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: Update snapshot when having concurrent writers
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler
