Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

old doc
  crates/core/src/operations/add_column.rs
Owners: @wjones127, @roeap, @rtyler

add AWS_ENDPOINT_URL_DYNAMODB
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

update format
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

update test
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

update format
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

update test endpoint
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

upate endpoint
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

update format
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

fix format issue
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

add optional dynamodb endpoint
  crates/aws/helpers.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

update integration test
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

remove unused variable
  crates/aws/helpers.rs
Owners: @wjones127, @roeap, @rtyler

fix format issue
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix syntax issue
  crates/aws/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

fix: add raise_if_key_not_exists to CreateBuilder
  crates/core/src/operations/create.rs
Owners: @wjones127, @roeap, @rtyler

fix: add raise_if_key_not_exists to Python code
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

update unit tests
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix: add raise_if_key_not_exists to CreateBuilder (#2565)
  crates/core/src/operations/create.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: add raise_if_key_not_exists to CreateBuilder (#2565)
  crates/core/src/operations/create.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add context + api docs link
  docs/usage/deleting-rows-from-delta-lake-table.md
Owners: @MrPowers

docs: dt.delete add context + api docs link (#2560)
  docs/usage/deleting-rows-from-delta-lake-table.md
Owners: @MrPowers

docs: dt.delete add context + api docs link (#2560)
  docs/usage/deleting-rows-from-delta-lake-table.md
Owners: @MrPowers

handle pycapsule interface objects in write_deltalake
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: consistently use raise_if_key_not_exists in CreateBuilder
  crates/core/src/operations/create.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Ignore the some CDC related integration tests until upstream works
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/update.rs
Owners: @wjones127, @roeap, @rtyler

feat: introduce CDC write-side support for the Update operations
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

chore: add a Python integration test
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Allow writers lower than minWriterVersion 7 to be gracefully supported
  crates/core/src/operations/transaction/protocol.rs
Owners: @wjones127, @roeap, @rtyler

chore: provide a warning if the schema contains fields which break CDC
  crates/core/src/operations/cdc.rs
Owners: @wjones127, @roeap, @rtyler

fix: consistently use raise_if_key_not_exists in CreateBuilder (#2569)
  crates/core/src/operations/create.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: consistently use raise_if_key_not_exists in CreateBuilder (#2569)
  crates/core/src/operations/create.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Ignore the some CDC related integration tests until upstream works
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/update.rs
Owners: @wjones127, @roeap, @rtyler

Allow writers lower than minWriterVersion 7 to be gracefully supported
  crates/core/src/operations/transaction/protocol.rs
Owners: @wjones127, @roeap, @rtyler

Allow writers lower than minWriterVersion 7 to be gracefully supported
  crates/core/src/operations/transaction/protocol.rs
Owners: @wjones127, @roeap, @rtyler

chore: add a Python integration test
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: provide a warning if the schema contains fields which break CDC
  crates/core/src/operations/cdc.rs
Owners: @wjones127, @roeap, @rtyler

Ignore the some CDC related integration tests until upstream works
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/update.rs
Owners: @wjones127, @roeap, @rtyler

feat: introduce CDC write-side support for the Update operations
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

chore: provide a warning if the schema contains fields which break CDC
  crates/core/src/operations/cdc.rs
Owners: @wjones127, @roeap, @rtyler

chore: add a Python integration test
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
