Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

refactor to own action & op
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
  crates/core/src/writer/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix clippy
  crates/core/src/operations/transaction/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

create struct to encapsulate commit data
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/lib.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Introduce schema evolution on RecordBatchWriter
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

Introduce schema evolution on RecordBatchWriter
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

refactor
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/mod.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix rust test
  crates/core/src/operations/drop_constraints.rs
Owners: @wjones127, @roeap, @rtyler

simplify code
  crates/core/src/operations/drop_constraints.rs
Owners: @wjones127, @roeap, @rtyler

remove protocol downgrade
  crates/core/src/operations/drop_constraints.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Update crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/drop_constraints.rs
Owners: @wjones127, @roeap, @rtyler

bump python
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add drop constraint operation
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/mod.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Update crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/drop_constraints.rs
Owners: @wjones127, @roeap, @rtyler

rewrite
  crates/core/src/operations/drop_constraints.rs
Owners: @wjones127, @roeap, @rtyler

feedback
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/drop_constraints.rs
Owners: @wjones127, @roeap, @rtyler

typo
  crates/core/src/operations/drop_constraints.rs
Owners: @wjones127, @roeap, @rtyler

title
  crates/core/src/operations/drop_constraints.rs
Owners: @wjones127, @roeap, @rtyler

doc update for tag `python-v0.15.2`
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/writing/index.html
Owners: none

rm println
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

rm println
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

rm println
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: update all the package metadata for publication to crates.io
  Cargo.toml
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/sql/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update all the package metadata for publication to crates.io
  Cargo.toml
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/sql/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update all the package metadata for publication to crates.io
  Cargo.toml
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/sql/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

bump
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore(python): bump version (#2170)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore(python): bump version (#2170)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: fix wildcard hashbrown version for publishing
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

fix: wildcard dev-dependencies are also verboten
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: fix the remaining subcrates wildcards
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/gcp/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update metacrate with released subcrate versions
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

skip row groups with 0 records
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Update python/tests/test_writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): skip empty row groups during stats gathering (#2172)
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): skip empty row groups during stats gathering (#2172)
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: fix wildcard hashbrown version for publishing
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: fix the remaining subcrates wildcards
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/gcp/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update metacrate with released subcrate versions
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

fix: wildcard dev-dependencies are also verboten
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler
