Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

prevent reading to return large arrow schema
  crates/core/src/operations/transaction/state.rs
  python/tests/test_delete.py
  python/tests/test_update.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

impl write app txn
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix(python, rust): prevent table scan returning large arrow dtypes (#2274)
  crates/core/src/operations/transaction/state.rs
  python/tests/test_delete.py
  python/tests/test_update.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): prevent table scan returning large arrow dtypes (#2274)
  crates/core/src/operations/transaction/state.rs
  python/tests/test_delete.py
  python/tests/test_update.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

Add test case for python
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat: support deltalake-mount for writing the mounted path
  crates/deltalake/Cargo.toml
  crates/mount/Cargo.toml
  crates/mount/src/config.rs
  crates/mount/src/error.rs
  crates/mount/src/file.rs
  crates/mount/src/lib.rs
  crates/mount/tests/context.rs
  crates/mount/tests/integration.rs
Owners: @wjones127, @roeap, @rtyler

fix ci
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

fix test case and python
  crates/mount/src/lib.rs
  crates/mount/tests/context.rs
  crates/mount/tests/integration.rs
  python/Cargo.toml
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add ignore flag for dbfs test
  crates/mount/tests/integration.rs
Owners: @wjones127, @roeap, @rtyler

fix: compatible to write to local file systems that do not support hard link (#1868)
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
  crates/mount/Cargo.toml
  crates/mount/src/config.rs
  crates/mount/src/error.rs
  crates/mount/src/file.rs
  crates/mount/src/lib.rs
  crates/mount/tests/context.rs
  crates/mount/tests/integration.rs
  python/Cargo.toml
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: compatible to write to local file systems that do not support hard link (#1868)
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
  crates/mount/Cargo.toml
  crates/mount/src/config.rs
  crates/mount/src/error.rs
  crates/mount/src/file.rs
  crates/mount/src/lib.rs
  crates/mount/tests/context.rs
  crates/mount/tests/integration.rs
  python/Cargo.toml
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

use tasks for writing
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/operations/write.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

use new commitbuilder
  crates/core/src/operations/set_tbl_properties.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

use new builder
  crates/core/src/operations/unset_tbl_properties.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

clippy
  crates/core/src/operations/unset_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

clippy
  crates/core/src/operations/set_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

bump
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: update the changelog for rust-v0.17.1
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none

chore: update the changelog for rust-v0.17.1 (#2259)
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none

chore: update the changelog for rust-v0.17.1 (#2259)
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none

bump
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  python/tests/test_checkpoint.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix features not saved in parquet
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add feature
  Cargo.toml
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

add feature
  Cargo.toml
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

wrong click :S
  Cargo.toml
Owners: none

feat: Logical Node for find files - added the ability to determine whether or not to wrap partition columns in dictionary encodings, this is on by default
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

typo
  crates/core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

Update merge predicate to fix collision detection
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

Format code
  crates/core/src/operations/merge/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

Fix test
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

Hardening tests
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

Add concurrent merge tests
  crates/core/src/operations/merge/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

Format
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore(python): bump to v0.16.1 (#2294)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore(python): bump to v0.16.1 (#2294)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(rust): features not maintained in protocol after checkpoint (#2293)
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(rust): features not maintained in protocol after checkpoint (#2293)
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco
