Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

chore: update the changelog to include rust-v0.17.3
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none

chore: update the changelog to include rust-v0.17.3
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none

add clean up logs hook, expose PostCommitHookProps to python
  crates/core/src/operations/transaction/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

ignore to many args
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

expose
  python/deltalake/__init__.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

update test
  python/tests/test_checkpoint.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

correct timestamp cutoff
  crates/core/src/operations/transaction/mod.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

missing docs
  python/deltalake/table.py
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt and simplify
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_merge.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

abort commit
  crates/aws/src/errors.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/storage/retry_ext.rs
Owners: @wjones127, @roeap, @rtyler

format
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: update the deltalake-aws version and clippy for release of #2452
  crates/aws/Cargo.toml
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

chore: update the deltalake-aws version and clippy for release of #2452
  crates/aws/Cargo.toml
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

abort commit
  crates/aws/src/errors.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/storage/retry_ext.rs
Owners: @wjones127, @roeap, @rtyler

format
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

format
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

abort commit
  crates/aws/src/errors.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/storage/retry_ext.rs
Owners: @wjones127, @roeap, @rtyler

chore: update the deltalake-aws version and clippy for release of #2452
  crates/aws/Cargo.toml
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix(python, rust): region lookup wasn't working correctly for dynamo
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

skip on old pyarrow
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Add note
  python/deltalake/table.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix tests
  python/deltalake/table.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(python): add parameter to DeltaTable.to_pyarrow_dataset()
  python/deltalake/table.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Update test_writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(python): add parameter to DeltaTable.to_pyarrow_dataset() (#2465)
  python/deltalake/table.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(python): add parameter to DeltaTable.to_pyarrow_dataset() (#2465)
  python/deltalake/table.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix issue
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): use new schema for stats parsing instead of old (#2480)
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): use new schema for stats parsing instead of old (#2480)
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: check to see if the file exists before attempting to rename
  crates/mount/src/file.rs
Owners: @wjones127, @roeap, @rtyler

fix: check to see if the file exists before attempting to rename (#2482)
  crates/mount/src/file.rs
Owners: @wjones127, @roeap, @rtyler

fix: check to see if the file exists before attempting to rename (#2482)
  crates/mount/src/file.rs
Owners: @wjones127, @roeap, @rtyler

also test a null_count column
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix fmt
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust): unable to read delta table when table contains both null and non-null add stats
  crates/core/src/protocol/mod.rs
  crates/core/src/table/state_arrow.rs
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000000.json
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000001.json
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000002.json
  crates/test/tests/data/delta-stats-optional/part-00000-28925d3a-bdf2-411e-bca9-b067444cbcb0-c000.snappy.parquet
  crates/test/tests/data/delta-stats-optional/part-00000-7a509247-4f58-4453-9202-51d75dee59af-c000.snappy.parquet
Owners: @wjones127, @roeap, @rtyler

fix(rust): unable to read delta table when table contains both null and non-null add stats (#2476)
  crates/core/src/protocol/mod.rs
  crates/core/src/table/state_arrow.rs
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000000.json
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000001.json
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000002.json
  crates/test/tests/data/delta-stats-optional/part-00000-28925d3a-bdf2-411e-bca9-b067444cbcb0-c000.snappy.parquet
  crates/test/tests/data/delta-stats-optional/part-00000-7a509247-4f58-4453-9202-51d75dee59af-c000.snappy.parquet
Owners: @wjones127, @roeap, @rtyler

fix(rust): unable to read delta table when table contains both null and non-null add stats (#2476)
  crates/core/src/protocol/mod.rs
  crates/core/src/table/state_arrow.rs
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000000.json
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000001.json
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000002.json
  crates/test/tests/data/delta-stats-optional/part-00000-28925d3a-bdf2-411e-bca9-b067444cbcb0-c000.snappy.parquet
  crates/test/tests/data/delta-stats-optional/part-00000-7a509247-4f58-4453-9202-51d75dee59af-c000.snappy.parquet
Owners: @wjones127, @roeap, @rtyler

applied cargo fmt
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix(python, rust): region lookup wasn't working correctly for dynamo
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix(python, rust): region lookup wasn't working correctly for dynamo
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler
