Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

feat: add custom dynamodb endpoint configuration (#2575)
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump to datafusion 39, arrow 52
  Cargo.toml
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
  crates/aws/tests/common.rs
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/cdf/scan_utils.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/logical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/storage/file.rs
  crates/core/src/storage/retry_ext.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/fs_common/mod.rs
  crates/gcp/src/storage.rs
  crates/gcp/tests/context.rs
  crates/mount/src/file.rs
  crates/sql/src/logical_plan.rs
  crates/sql/src/planner.rs
  crates/test/src/lib.rs
  python/Cargo.toml
  python/src/filesystem.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: fix integration tests and improve code to use iterators
  crates/aws/tests/repair_s3_rename_test.rs
  crates/azure/tests/integration.rs
  crates/core/src/operations/update.rs
Owners: @wjones127, @roeap, @rtyler

chore: reimplement python filesystem functions
  python/src/filesystem.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: fix final python errors, cargo fmt
  crates/aws/tests/repair_s3_rename_test.rs
  crates/azure/tests/integration.rs
  python/src/filesystem.rs
  python/tests/test_update.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: filesystem errors
  python/src/filesystem.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

bump to published versions, add decimals test
  Cargo.toml
  python/Cargo.toml
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Update table.py
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Update table.py
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Adding missing method to Python API
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Add files by partitions
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: expose `files_by_partition` to public api (#2533)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: expose `files_by_partition` to public api (#2533)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add aws/config note
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

fix typo reference
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

add aws/config note to load-table docs
  docs/usage/loading-table.md
Owners: @MrPowers

add aws/config note to load-table docs
  docs/usage/loading-table.md
Owners: @MrPowers

add aws/config note
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

fix typo reference
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

add aws/config note
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

fix typo reference
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

add aws/config note to load-table docs
  docs/usage/loading-table.md
Owners: @MrPowers

bump runners
  .github/workflows/build.yml
  .github/workflows/python_release.yml
Owners: @wjones127, @rtyler

remove bump on rust bild
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

bump runners
  .github/workflows/build.yml
  .github/workflows/python_release.yml
Owners: @wjones127, @rtyler

bump runners
  .github/workflows/build.yml
  .github/workflows/python_release.yml
Owners: @wjones127, @rtyler

remove bump on rust bild
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

remove bump on rust bild
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

add daft write functionality
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

chore: migrate to bounds api
  python/.gitignore
  python/Cargo.toml
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt & clippy
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

test: reintroduce azurite SAS integration tests
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: migrate to pyo3 Bounds API (#2596)
  python/.gitignore
  python/Cargo.toml
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: migrate to pyo3 Bounds API (#2596)
  python/.gitignore
  python/Cargo.toml
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

test: reintroduce azurite SAS integration tests (#2598)
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

test: reintroduce azurite SAS integration tests (#2598)
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(rust): lazy commit, draft
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: update changelog
  CHANGELOG.md
Owners: none

fix: update changelog
  CHANGELOG.md
Owners: none

fix: update changelog
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
