Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

fix: schema issue within writebuilder (#2106)
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fix: schema issue within writebuilder (#2106)
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fix: optimize::compact not setting partitions correctly
  crates/deltalake-core/src/operations/optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix: set partition values for added files when building compaction plan
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix(s3): restore working test for DynamoDb log store repair log on read
  crates/deltalake-aws/tests/integration_s3_dynamodb.rs
  crates/deltalake-core/src/kernel/snapshot/log_segment.rs
  crates/deltalake-core/src/kernel/snapshot/mod.rs
  crates/deltalake-core/src/table/mod.rs
  crates/deltalake-core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

Create delta-lake-dask.md
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

Update delta-lake-dask.md
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

Update delta-lake-dask.md
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

fix: cargo fmt
  crates/deltalake-core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix: do not write empty parquet file/add on writer close; accurately track unflushed row group size
  crates/deltalake-core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

fix: fmt
  crates/deltalake-core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

fix: temporarily skip s3 roundtrip test
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: prevent empty stats struct during parquet write
  crates/deltalake-core/src/kernel/arrow/mod.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

fix: revert change to null_count schema conversion
  crates/deltalake-core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: temporarily skip s3 roundtrip test (#2124)
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: temporarily skip s3 roundtrip test (#2124)
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: set partition values for added files when building compaction plan (#2119)
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix: set partition values for added files when building compaction plan (#2119)
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix: cleanup paths created during tests
  crates/deltalake-core/src/table/builder.rs
Owners: @wjones127, @roeap, @rtyler

fix: clean-up paths created during tests (#2126)
  crates/deltalake-core/src/table/builder.rs
Owners: @wjones127, @roeap, @rtyler

fix: clean-up paths created during tests (#2126)
  crates/deltalake-core/src/table/builder.rs
Owners: @wjones127, @roeap, @rtyler

fix: add missing pandas import (#2116)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: add missing pandas import (#2116)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

docs: add dask page to integration docs (#2122)
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

docs: add dask page to integration docs (#2122)
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

feat: update table config to contain new config keys
  crates/deltalake-core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

feat: update table config to contain new config keys (#2127)
  crates/deltalake-core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

feat: update table config to contain new config keys (#2127)
  crates/deltalake-core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

feat: expose stats schema on Snapshot
  crates/deltalake-core/src/kernel/snapshot/mod.rs
  crates/deltalake-core/src/kernel/snapshot/replay.rs
Owners: @wjones127, @roeap, @rtyler

feat: expose stats schema on Snapshot (#2128)
  crates/deltalake-core/src/kernel/snapshot/mod.rs
  crates/deltalake-core/src/kernel/snapshot/replay.rs
Owners: @wjones127, @roeap, @rtyler

feat: expose stats schema on Snapshot (#2128)
  crates/deltalake-core/src/kernel/snapshot/mod.rs
  crates/deltalake-core/src/kernel/snapshot/replay.rs
Owners: @wjones127, @roeap, @rtyler

fix: order logical schema to match physical schema
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: order logical schema to match physical schema (#2129)
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: order logical schema to match physical schema (#2129)
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: do not write empty parquet file/add on writer close; accurately … (#2123)
  crates/deltalake-core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

fix: do not write empty parquet file/add on writer close; accurately … (#2123)
  crates/deltalake-core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

fix: prevent empty stats struct during parquet write (#2125)
  crates/deltalake-core/src/kernel/arrow/mod.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

fix: prevent empty stats struct during parquet write (#2125)
  crates/deltalake-core/src/kernel/arrow/mod.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

docs: fix arg indent (#2103)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

docs: fix arg indent (#2103)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco
