Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

fix: merge concurrency control (#2324)
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

fix #2158
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

add assert mergePredicate
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

manually push merge pre-filter into scan
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

clean up
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: merge pushdown handling (#2326)
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: merge pushdown handling (#2326)
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix deprecated optimizer call return type
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

run cargo fmt on optimize.rs
  crates/core/src/operations/optimize.rs
Owners: @wjones127, @roeap, @rtyler

add custom deserializer for MetricDetails, add Python spark tests
  crates/core/src/operations/optimize.rs
  python/.coverage.K6YM66TK0P.3430.XGfplNvx
  python/.coverage.K6YM66TK0P.3430.XTvDAmox
  python/tests/pyspark_integration/test_write_to_pyspark.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

python format fixes
  python/tests/pyspark_integration/test_write_to_pyspark.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

don't load metrics into JSON from rust compact / z-order calls
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

remove coverage files
  python/.coverage.K6YM66TK0P.3430.XGfplNvx
  python/.coverage.K6YM66TK0P.3430.XTvDAmox
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

set custom serializer for MetricDetails fields
  crates/core/src/operations/optimize.rs
  python/deltalake/table.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

comment tweak
  crates/core/src/operations/optimize.rs
Owners: @wjones127, @roeap, @rtyler

clarification
  crates/core/src/operations/optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust): serialize MetricDetails from compaction runs to a string (#2317)
  crates/core/src/operations/optimize.rs
  python/tests/pyspark_integration/test_write_to_pyspark.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(rust): serialize MetricDetails from compaction runs to a string (#2317)
  crates/core/src/operations/optimize.rs
  python/tests/pyspark_integration/test_write_to_pyspark.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

:WIP: POC for log replay visitor + txn ids
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

derive Copy on some public enums
  crates/core/src/kernel/expressions/mod.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/config.rs
  crates/core/src/writer/mod.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

fix clippy warnings
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/writer.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/record_batch.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat: Logical Node for find files - removed turning off dictionary encoding, now just turn it on and rebuild the batch
  crates/core/src/delta_datafusion/find_files/mod.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

adhere to protocol
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
  python/deltalake/_internal.pyi
  python/src/schema.rs
  python/tests/test_schema.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat: logical Node for find files (#2194)
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/table/state_arrow.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat: logical Node for find files (#2194)
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/table/state_arrow.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

adhere to protocol
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
  python/deltalake/_internal.pyi
  python/src/schema.rs
  python/tests/test_schema.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

adhere to protocol
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
  python/deltalake/_internal.pyi
  python/src/schema.rs
  python/tests/test_schema.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: fix more recent build failures after latest merge
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

chore: cargo fmt
  crates/core/src/delta_datafusion/cdf/mod.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/mod.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

oops
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

error out when decimal does not fit
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

simplify
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

rm pandas dependency in test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

conform to protocol
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

update test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

.
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

test fixews
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

doc update for tag `python-v0.16.3`
  api/delta_table/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

fix(python): wrong batch size (#2314)
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco
