Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

make stats_cols and num_index accessible in python
  python/deltalake/_internal.pyi
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

respect file stats column collection configs
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Collect table stats according to config in rust writer
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/table/config.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

rm dbgs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

clippy
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

add tests
  crates/core/src/writer/stats.rs
  python/deltalake/writer.py
  python/tests/test_delete.py
  python/tests/test_merge.py
  python/tests/test_update.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

lint
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add missing params
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

handle -1
  crates/core/src/writer/stats.rs
  python/deltalake/writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

make datetime object w/o tz work
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): load_as_version with datetime object with no timezone specified (#2429)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): load_as_version with datetime object with no timezone specified (#2429)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat: add python support for CDF
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/mod.rs
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_cdf.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat: add python support for CDF
  python/deltalake/table.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Introduce the `Operation` trait for all operations to implement
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

adds remove actions during overwrite create on existing table
  crates/core/src/operations/create.rs
  python/tests/test_create.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add rust tests
  crates/core/src/operations/create.rs
Owners: @wjones127, @roeap, @rtyler

fix(python,rust): missing remove actions during `create_or_replace` (#2437)
  crates/core/src/operations/create.rs
  python/tests/test_create.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python,rust): missing remove actions during `create_or_replace` (#2437)
  crates/core/src/operations/create.rs
  python/tests/test_create.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

bump
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: bump python for 0.17 release (#2439)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: bump python for 0.17 release (#2439)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

doc update for tag `python-v0.17.0`
  api/delta_table/index.html
  api/delta_writer/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

add logs
  crates/aws/src/logstore.rs
  crates/core/src/logstore/mod.rs
Owners: @wjones127, @roeap, @rtyler

use from_name
  crates/core/src/operations/merge/mod.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

use from_name
  crates/core/src/operations/merge/mod.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): remove imds calls from profile auth and region lookup when disabled by settings
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix(python, rust): use from_name during column projection creation (#2441)
  crates/core/src/operations/merge/mod.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): use from_name during column projection creation (#2441)
  crates/core/src/operations/merge/mod.rs
  python/tests/test_merge.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): defaulting AWS_EC2_METADATA_DISABLED to true
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

check nested fields for timestampNtz
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/protocol.rs
Owners: @wjones127, @roeap, @rtyler

add test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

check_can_write_timestamp_ntz in python
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

bump version for quick fix
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fixed broken unit test
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix(python, rust): check timestamp_ntz in nested fields, add check_can_writestamp_ntz in pyarrow writer (#2443)
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/protocol.rs
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): check timestamp_ntz in nested fields, add check_can_writestamp_ntz in pyarrow writer (#2443)
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/protocol.rs
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(python, rust): remove imds calls from profile auth and region (#2442)
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix(python, rust): remove imds calls from profile auth and region (#2442)
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

doc update for tag `python-v0.17.1`
  sitemap.xml
  sitemap.xml.gz
Owners: none

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
