Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

chore: update metacrate with released subcrate versions
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

fix: wildcard dev-dependencies are also verboten
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: fix the remaining subcrates wildcards
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/gcp/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: fix wildcard hashbrown version for publishing
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update metacrate with released subcrate versions
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: fix the remaining subcrates wildcards
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/gcp/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

fix: wildcard dev-dependencies are also verboten
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: fix wildcard hashbrown version for publishing
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

Add a note about register_handlers()
  CHANGELOG.md
Owners: none

docs: changelog update for rust-v0.17.0
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none

doc update for tag `python-v0.15.3`
  sitemap.xml
  sitemap.xml.gz
Owners: none

docs: changelog update for rust-v0.17.0
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none

docs: changelog update for rust-v0.17.0
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none

Add a note about register_handlers()
  CHANGELOG.md
Owners: none

Add a note about register_handlers()
  CHANGELOG.md
Owners: none

feat: CDF reader, refactoring for execution plan
  crates/core/src/delta_datafusion/cdf/mod.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/logical.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

Add assert comment
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Reformat strings
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

Do ruff formatting
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat: add comment to explain why assert has failed and show state (#2179)
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat: add comment to explain why assert has failed and show state (#2179)
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

:WIP: try trait object for snapshot
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

fix: correct map field names
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

test
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: removed panic in method
  crates/core/src/table/builder.rs
Owners: @wjones127, @roeap, @rtyler

fix: removed panic in method
  crates/core/src/table/builder.rs
Owners: @wjones127, @roeap, @rtyler

fix: removed panic in method
  crates/core/src/table/builder.rs
Owners: @wjones127, @roeap, @rtyler

fix: correct map field names (#2182)
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: correct map field names (#2182)
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat: implement string representation for PartitionFilter
  crates/core/src/operations/optimize.rs
  crates/core/src/schema/partitions.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix bug and cleaning up
  crates/core/src/schema/partitions.rs
Owners: @wjones127, @roeap, @rtyler

fix: removed broken stats_cols logic.
  crates/core/src/kernel/snapshot/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat: implement string representation for PartitionFilter (#2183)
  crates/core/src/operations/optimize.rs
  crates/core/src/schema/partitions.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

feat: implement string representation for PartitionFilter (#2183)
  crates/core/src/operations/optimize.rs
  crates/core/src/schema/partitions.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix: add data_type and nullable to StructField hash (#2045)
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

docs: add delta lake best practices
  docs/delta-lake-best-practices.md
  mkdocs.yml
Owners: @MrPowers

docs: update best practices
  docs/delta-lake-best-practices.md
Owners: @MrPowers

docs: add delta lake best practices (#2147)
  docs/delta-lake-best-practices.md
  mkdocs.yml
Owners: @MrPowers

docs: add delta lake best practices (#2147)
  docs/delta-lake-best-practices.md
  mkdocs.yml
Owners: @MrPowers

doc update for tag `main`
  404.html
  api/catalog/index.html
  api/delta_table/delta_table_alterer/index.html
  api/delta_table/delta_table_merger/index.html
  api/delta_table/delta_table_optimizer/index.html
  api/delta_table/index.html
  api/delta_table/metadata/index.html
  api/delta_writer/index.html
  api/schema/index.html
  api/storage/index.html
  delta-lake-best-practices/index.html
  delta-lake-big-data-small-data/index.html
  how-delta-lake-works/architecture-of-delta-table/index.html
  how-delta-lake-works/delta-lake-acid-transactions/index.html
  how-delta-lake-works/delta-lake-file-skipping/index.html
  index.html
  integrations/delta-lake-arrow/index.html
  integrations/delta-lake-dask/index.html
  integrations/delta-lake-datafusion/index.html
  integrations/delta-lake-pandas/index.html
  integrations/delta-lake-polars/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/appending-overwriting-delta-lake-table/index.html
  usage/constraints/index.html
  usage/create-delta-lake-table/index.html
  usage/deleting-rows-from-delta-lake-table/index.html
  usage/examining-table/index.html
  usage/installation/index.html
  usage/loading-table/index.html
  usage/managing-tables/index.html
  usage/optimize/delta-lake-z-order/index.html
  usage/optimize/small-file-compaction-with-optimize/index.html
  usage/overview/index.html
  usage/querying-delta-tables/index.html
  usage/writing/index.html
  usage/writing/writing-to-s3-with-locking-provider/index.html
  why-use-delta-lake/index.html
Owners: none

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
