Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @houqp, @wjones127

chore: enable the datafusion feature for integration tests which need it
  crates/core/Cargo.toml
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: build default tests with the crate in CI
  .github/workflows/build.yml
Owners: @rtyler

chore: annotate tests which require datafusion appropriately
  crates/core/src/kernel/transaction/application.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/restore.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: build default tests with the crate in CI
  .github/workflows/build.yml
Owners: @rtyler

ci: add spellchecker to pr tests
  .github/workflows/dev_pr.yml
  Cargo.toml
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/table/mod.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

feat: replace delta-rs cdf reading with kernel based cdf reading
  Cargo.toml
  crates/core/src/delta_datafusion/cdf/mod.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/cdf/scan_utils.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/table_changes.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write/mod.rs
  python/src/lib.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

ci: add spellchecker to pr tests
  .github/workflows/dev_pr.yml
  Cargo.toml
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/table/mod.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

ci: add spellchecker to pr tests
  .github/workflows/dev_pr.yml
  Cargo.toml
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/table/mod.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

chore: mark more tests which require datafusion
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/operations/create.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: mark more tests which require datafusion
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/operations/create.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: mark more tests which require datafusion
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/operations/create.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: fix some typos
  CHANGELOG.md
  CONTRIBUTING.md
  crates/benchmarks/README.md
  crates/core/tests/command_filesystem_check.rs
  crates/core/tests/integration_datafusion.rs
  crates/core/tests/time_travel.rs
  dev/release/update_change_log.sh
  docs/how-delta-lake-works/architecture-of-delta-table.md
  docs/integrations/delta-lake-daft.md
  docs/usage/appending-overwriting-delta-lake-table.md
  docs/usage/optimize/small-file-compaction-with-optimize.md
  proofs/stateright/src/main.rs
  python/deltalake/_internal.pyi
  python/src/query.rs
  python/tests/test_alter.py
  python/tests/test_fs.py
  python/tests/test_lakefs.py
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @houqp, @wjones127

refactor: use root store in log processing
  crates/azure/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/conflict_checker.rs
  crates/core/src/kernel/transaction/protocol.rs
  crates/core/src/kernel/transaction/state.rs
  crates/core/src/logstore/config.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/table/state.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

fix: use more accurate log path parsing
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/logstore/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: update kernel
  Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/cast/mod.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write/execution.rs
  crates/core/src/operations/write/generated_columns.rs
  crates/core/src/operations/write/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/test_utils/factories/data.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/integration_datafusion.rs
  crates/deltalake/Cargo.toml
  crates/deltalake/examples/recordbatch-writer.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

fix: correct spelling errors found by CI spell checker
  CHANGELOG.md
  CONTRIBUTING.md
  _typos.toml
  crates/benchmarks/README.md
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/schema/partitions.rs
  crates/core/src/table/mod.rs
  crates/core/tests/command_filesystem_check.rs
  crates/core/tests/integration_datafusion.rs
  crates/core/tests/time_travel.rs
  dev/release/update_change_log.sh
  docs/how-delta-lake-works/architecture-of-delta-table.md
  docs/integrations/delta-lake-daft.md
  docs/usage/appending-overwriting-delta-lake-table.md
  docs/usage/optimize/small-file-compaction-with-optimize.md
  proofs/stateright/src/main.rs
  python/deltalake/_internal.pyi
  python/src/query.rs
  python/tests/test_alter.py
  python/tests/test_fs.py
  python/tests/test_lakefs.py
  python/tests/test_table_read.py
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @houqp, @wjones127

feat: add table description and name API for Python
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/tests/command_set_tbl_properties.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/tests/test_alter.py
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

chore: pr feedback
  .github/workflows/python_benchmark.yml
  .github/workflows/python_build.yml
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/fs/_base_handler.py
  python/tests/test_benchmark.py
  python/tests/test_schema.py
Owners: @rtyler, @wjones127, @roeap, @ion-elgreco

chore: pr feedback
  .github/workflows/python_benchmark.yml
  .github/workflows/python_build.yml
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/fs/_base_handler.py
  python/tests/test_benchmark.py
  python/tests/test_schema.py
Owners: @rtyler, @wjones127, @roeap, @ion-elgreco

chore: pr feedback
  .github/workflows/python_benchmark.yml
  .github/workflows/python_build.yml
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/fs/_base_handler.py
  python/tests/test_benchmark.py
  python/tests/test_schema.py
Owners: @rtyler, @wjones127, @roeap, @ion-elgreco

feat: cdf reader with kernel
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/table_changes.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write/mod.rs
  python/src/lib.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

Revert "Upgrade load_with_datetime to ignore any uncommited deltas in any subdirectory of delta_log."
  crates/core/src/logstore/mod.rs
  crates/core/src/table/mod.rs
  crates/core/tests/time_travel.rs
  crates/test/tests/data/simple_table/_delta_log/.tmp/00000000000000000005.json
  crates/test/tests/data/simple_table/part-00000-c1777d7d-89d9-4790-b38a-6ee7e24456b1-c001.snappy.parquet
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

Revert "chore: annotate tests which require datafusion appropriately"
  crates/core/src/kernel/transaction/application.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/restore.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

Revert "chore: enable the datafusion feature for integration tests which need it"
  crates/core/Cargo.toml
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

Revert "chore: build default tests with the crate in CI"
  .github/workflows/build.yml
Owners: @rtyler

Revert "refactor: use LogStore in Snapshot / LogSegment APIs"
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/lib.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  crates/core/tests/checkpoint_writer.rs
  crates/core/tests/command_filesystem_check.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration.rs
  crates/core/tests/integration_checkpoint.rs
  crates/test/src/lib.rs
  crates/test/src/read.rs
  python/src/lib.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

Revert "test: avoid circular dependency with core/test crates"
  crates/core/Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/lib.rs
  crates/core/src/test_utils/mod.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration_datafusion.rs
  crates/test/Cargo.toml
  crates/test/src/datafusion.rs
  crates/test/src/lib.rs
  crates/test/src/utils.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

Revert "chore: pr feedback and test fixes"
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/lakefs/src/execute.rs
  crates/lakefs/src/logstore.rs
Owners: @rtyler, @ion-elgreco

Revert "feat: expose kernel Engine on LogStore"
  crates/aws/src/lib.rs
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/src/logstore/dynamodb_logstore.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/create.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
  crates/core/tests/integration_datafusion.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/lakefs/src/logstore.rs
  crates/mount/src/lib.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

Revert "refactor: more specific factory parameter names"
  crates/aws/src/lib.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/mount/src/lib.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

Revert "docs: add 1.0.0 migration guide"
  docs/upgrade-guides/guide-1.0.0.md
  mkdocs.yml
Owners: none

Revert "chore: refactor some symbols out of table/mod.rs into their own files"
  crates/core/src/kernel/models/schema.rs
  crates/core/src/table/checkpoint.rs
  crates/core/src/table/columns.rs
  crates/core/src/table/mod.rs
  python/tests/test_generated_columns.py
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

Revert "chore: remove peek_next_commit on DeltaTable which has been deprecated since 0.22.4"
  crates/core/src/table/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

Revert "chore: remove unused code and deps"
  crates/core/Cargo.toml
  crates/core/src/kernel/models/actions.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

Revert "chore: refactor the Rust build to use as much as possible of sccache"
  .github/workflows/build.yml
Owners: @rtyler

Revert "chore: only check our documentation, not dependencies"
  .github/workflows/build.yml
Owners: @rtyler

.github/CODEOWNERS:

crates/core @roeap @rtyler @hntd187 @ion-elgreco
crates/deltalake @roeap @rtyler @hntd187 @ion-elgreco
crates/aws @rtyler
crates/lakefs @ion-elgreco
crates/catalog-unity @roeap @hntd187

delta-inspect/ @rtyler

proofs/ @houqp
python/ @wjones127 @roeap @ion-elgreco

tlaplus/ @houqp

.github/ @rtyler
