Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

doc update for tag `python-v0.16.2`
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/writing/index.html
Owners: none

push
  Cargo.toml
Owners: none

check
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

remove env variables?
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

.
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

.
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

.
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

skip tests
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: object store 0.9.1 (#2311)
  Cargo.toml
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: object store 0.9.1 (#2311)
  Cargo.toml
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

flush after writing every batch?
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

bump
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix param
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

.
  crates/core/src/operations/writer.rs
Owners: @wjones127, @roeap, @rtyler

docs
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

typo
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

don't load metrics into JSON from rust compact / z-order calls
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix deprecated optimizer call return type
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: try to fix timeouts (#2318)
  crates/core/src/operations/writer.rs
  python/Cargo.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: try to fix timeouts (#2318)
  crates/core/src/operations/writer.rs
  python/Cargo.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

docs: add example in to_pyarrow_dataset (#2315)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

docs: add example in to_pyarrow_dataset (#2315)
  python/deltalake/table.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: handle conflict checking in optimize correctly (#2208)
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/tests/command_optimize.rs
  crates/mount/src/file.rs
Owners: @wjones127, @roeap, @rtyler

fix: handle conflict checking in optimize correctly (#2208)
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/tests/command_optimize.rs
  crates/mount/src/file.rs
Owners: @wjones127, @roeap, @rtyler

Update crates/aws/src/lib.rs
  crates/aws/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

Add comment
  crates/aws/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

simple fix for now
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

Revert "fix: merge predicate for concurrent writes (#2291)"
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

push
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

Add TC for #2158
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

Revert 2291 merge predicate fix (#2323)
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

Revert 2291 merge predicate fix (#2323)
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

.
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

push
  crates/core/src/operations/merge/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

.
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

show issue in testcase
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: merge concurrency control (#2324)
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler
