Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

time type support (#3)
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: increment the version of the deltalake-gcp crate
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Update mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: increment the version of the deltalake-gcp crate
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Add file
  crates/core/src/operations/transaction/mod.rs
  crates/gcp/Cargo.toml
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Update mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

Handle 429 from GCS
  crates/core/src/operations/transaction/mod.rs
  crates/gcp/Cargo.toml
  crates/gcp/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

add debug
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

add debug
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

Handle 429 from GCS
  crates/core/src/operations/transaction/mod.rs
  crates/gcp/Cargo.toml
  crates/gcp/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

Add file
  crates/core/src/operations/transaction/mod.rs
  crates/gcp/Cargo.toml
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Update crates/gcp/src/storage.rs
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Update crates/gcp/src/storage.rs
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

upgrade object-store
  Cargo.toml
Owners: none

adding logs
  Cargo.toml
  crates/aws/src/storage.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump the core and python crate for its next release
  crates/core/Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: bump the core and python crate for its next release
  crates/core/Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: bump the core and python crate for its next release
  crates/core/Cargo.toml
  python/Cargo.toml
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(python, rust): add OBJECT_STORE_CONCURRENCY_LIMIT setting for ObjectStoreFactory (#2458)
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
  crates/azure/src/lib.rs
  crates/core/src/operations/create.rs
  crates/core/src/storage/mod.rs
  crates/gcp/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

feat(python, rust): add OBJECT_STORE_CONCURRENCY_LIMIT setting for ObjectStoreFactory (#2458)
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
  crates/azure/src/lib.rs
  crates/core/src/operations/create.rs
  crates/core/src/storage/mod.rs
  crates/gcp/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump the deltalake-aws version for release
  crates/aws/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: increment the patch version for deltalake-gcp
  crates/gcp/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

feat: Add deltaOps set metadata operation
  crates/core/src/operations/mod.rs
  crates/core/src/operations/set_metadata.rs
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: update the deltalake-azure number for release
  crates/azure/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: bump deltalake-azure for release
  crates/azure/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: bump the metacrate and correct some of the version ranges for patch releases
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

chore: update the python version and dependencies for release
  python/Cargo.toml
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: update the python version and dependencies for release
  python/Cargo.toml
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: increment the patch version for deltalake-gcp
  crates/gcp/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: bump the deltalake-aws version for release
  crates/aws/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update the deltalake-azure number for release
  crates/azure/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: bump the metacrate and correct some of the version ranges for patch releases
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump deltalake-azure for release
  crates/azure/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update the deltalake-azure number for release
  crates/azure/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: bump deltalake-azure for release
  crates/azure/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: bump the metacrate and correct some of the version ranges for patch releases
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump the deltalake-aws version for release
  crates/aws/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: increment the patch version for deltalake-gcp
  crates/gcp/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

chore: update the python version and dependencies for release
  python/Cargo.toml
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: update the changelog to include rust-v0.17.3
  CHANGELOG.md
  dev/release/update_change_log.sh
Owners: none
