Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @houqp, @wjones127

Implement object store that caches to disk
  crates/core/src/logstore/mod.rs
  crates/core/src/logstore/storage/file_cache.rs
  crates/core/src/logstore/storage/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

feat: add log file caching layer
  crates/core/Cargo.toml
  crates/core/src/logstore/storage/cache.rs
  crates/core/src/logstore/storage/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: remove unused code and deps
  crates/core/Cargo.toml
  crates/core/src/kernel/models/actions.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: remove unused code and deps
  crates/core/Cargo.toml
  crates/core/src/kernel/models/actions.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: remove unused code and deps
  crates/core/Cargo.toml
  crates/core/src/kernel/models/actions.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: remove peek_next_commit on DeltaTable which has been deprecated since 0.22.4
  crates/core/src/table/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: refactor some symbols out of table/mod.rs into their own files
  crates/core/src/kernel/models/schema.rs
  crates/core/src/table/checkpoint.rs
  crates/core/src/table/columns.rs
  crates/core/src/table/mod.rs
  python/tests/test_generated_columns.py
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

chore: refactor some symbols out of table/mod.rs into their own files
  crates/core/src/kernel/models/schema.rs
  crates/core/src/table/checkpoint.rs
  crates/core/src/table/columns.rs
  crates/core/src/table/mod.rs
  python/tests/test_generated_columns.py
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

chore: refactor some symbols out of table/mod.rs into their own files
  crates/core/src/kernel/models/schema.rs
  crates/core/src/table/checkpoint.rs
  crates/core/src/table/columns.rs
  crates/core/src/table/mod.rs
  python/tests/test_generated_columns.py
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

chore: remove peek_next_commit on DeltaTable which has been deprecated since 0.22.4
  crates/core/src/table/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: remove peek_next_commit on DeltaTable which has been deprecated since 0.22.4
  crates/core/src/table/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

feat: initialize an Engine when constructing the DefaultLogStore
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

docs: add 1.0.0 migration guide
  docs/upgrade-guides/guide-1.0.0.md
  mkdocs.yml
Owners: none

feat: wiring kernel through for get_latest_version
  crates/core/src/logstore/default_logstore.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

docs: add 1.0.0 migration guide
  docs/upgrade-guides/guide-1.0.0.md
  mkdocs.yml
Owners: none

docs: add 1.0.0 migration guide
  docs/upgrade-guides/guide-1.0.0.md
  mkdocs.yml
Owners: none

refactor: more specific factory parameter names
  crates/aws/src/lib.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/mount/src/lib.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

refactor: more specific factory parameter names
  crates/aws/src/lib.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/mount/src/lib.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

refactor: more specific factory parameter names
  crates/aws/src/lib.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/mount/src/lib.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

feat: expose kernel Engine on LogStore
  crates/aws/src/lib.rs
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/src/logstore/dynamodb_logstore.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/create.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
  crates/core/tests/integration_datafusion.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/lakefs/src/logstore.rs
  crates/mount/src/lib.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

chore: pr feedback and test fixes
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/lakefs/src/execute.rs
  crates/lakefs/src/logstore.rs
Owners: @rtyler, @ion-elgreco

feat: expose kernel Engine on LogStore
  crates/aws/src/lib.rs
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/src/logstore/dynamodb_logstore.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/create.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
  crates/core/tests/integration_datafusion.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/lakefs/src/logstore.rs
  crates/mount/src/lib.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

feat: expose kernel Engine on LogStore
  crates/aws/src/lib.rs
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/src/logstore/dynamodb_logstore.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/create.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
  crates/core/tests/integration_datafusion.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/lakefs/src/logstore.rs
  crates/mount/src/lib.rs
Owners: @rtyler, @roeap, @hntd187, @ion-elgreco

chore: pr feedback and test fixes
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/lakefs/src/execute.rs
  crates/lakefs/src/logstore.rs
Owners: @rtyler, @ion-elgreco

chore: pr feedback and test fixes
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/lakefs/src/execute.rs
  crates/lakefs/src/logstore.rs
Owners: @rtyler, @ion-elgreco

feat: move some core path handling to use URLs
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/lib.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

feat: use kernel checkpoint writer
  Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/mod.rs
  python/src/error.rs
  python/src/lib.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

test: avoid circular dependency with core/test crates
  crates/core/Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/lib.rs
  crates/core/src/test_utils/mod.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration_datafusion.rs
  crates/test/Cargo.toml
  crates/test/src/datafusion.rs
  crates/test/src/lib.rs
  crates/test/src/utils.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

test: avoid circular dependency with core/test crates
  crates/core/Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/lib.rs
  crates/core/src/test_utils/mod.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration_datafusion.rs
  crates/test/Cargo.toml
  crates/test/src/datafusion.rs
  crates/test/src/lib.rs
  crates/test/src/utils.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

test: avoid circular dependency with core/test crates
  crates/core/Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/lib.rs
  crates/core/src/test_utils/mod.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration_datafusion.rs
  crates/test/Cargo.toml
  crates/test/src/datafusion.rs
  crates/test/src/lib.rs
  crates/test/src/utils.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

fix: handle edge in schema adapter for single missing field
  crates/core/src/operations/cast/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

refactor: use LogStore in Snapshot / LogSegment APIs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/lib.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  crates/core/tests/checkpoint_writer.rs
  crates/core/tests/command_filesystem_check.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration.rs
  crates/core/tests/integration_checkpoint.rs
  crates/test/src/lib.rs
  crates/test/src/read.rs
  python/src/lib.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

refactor: use LogStore in Snapshot / LogSegment APIs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/lib.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  crates/core/tests/checkpoint_writer.rs
  crates/core/tests/command_filesystem_check.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration.rs
  crates/core/tests/integration_checkpoint.rs
  crates/test/src/lib.rs
  crates/test/src/read.rs
  python/src/lib.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

refactor: use LogStore in Snapshot / LogSegment APIs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/lib.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  crates/core/tests/checkpoint_writer.rs
  crates/core/tests/command_filesystem_check.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration.rs
  crates/core/tests/integration_checkpoint.rs
  crates/test/src/lib.rs
  crates/test/src/read.rs
  python/src/lib.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco, @wjones127

feat: implement object store that caches to disk
  crates/core/src/logstore/config.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/logstore/storage/file_cache.rs
  crates/core/src/logstore/storage/mod.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: build default tests with the crate in CI
  .github/workflows/build.yml
Owners: @rtyler

chore: enable the datafusion feature for integration tests which need it
  crates/core/Cargo.toml
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: annotate tests which require datafusion appropriately
  crates/core/src/kernel/transaction/application.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/restore.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: enable the datafusion feature for integration tests which need it
  crates/core/Cargo.toml
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

chore: annotate tests which require datafusion appropriately
  crates/core/src/kernel/transaction/application.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/restore.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @roeap, @rtyler, @hntd187, @ion-elgreco

.github/CODEOWNERS:

crates/core @roeap @rtyler @hntd187 @ion-elgreco
crates/deltalake @roeap @rtyler @hntd187 @ion-elgreco
crates/aws @rtyler
crates/lakefs @ion-elgreco
crates/catalog-unity @roeap @hntd187

delta-inspect/ @rtyler

proofs/ @houqp
python/ @wjones127 @roeap @ion-elgreco

tlaplus/ @houqp

.github/ @rtyler
