Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

Update datafusion
  Cargo.toml
Owners: none

fix deseralization on missing format and missing primitve type
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix test
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

add timetravel fix
  crates/core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

add test
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add test
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add timetravel fix
  crates/core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

add test
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add test
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

change assert
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

create checkpoint on interval
  crates/core/src/kernel/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

change default to 100
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

change default to 100
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

create checkpoint on interval
  crates/core/src/kernel/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

working post commit
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

Update writing-to-s3-with-locking-provider.md
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

docs: document required aws permissions (#2393)
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

docs: document required aws permissions (#2393)
  docs/usage/writing/writing-to-s3-with-locking-provider.md
Owners: @MrPowers

bump arrow and datafusion
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/storage/mod.rs
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/data_catalog/unity/models.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/write.rs
  crates/core/tests/integration_datafusion.rs
  crates/sql/src/planner.rs
Owners: @wjones127, @roeap, @rtyler

impl add row_counts
  crates/core/src/operations/transaction/state.rs
Owners: @wjones127, @roeap, @rtyler

fix test_expr_sql
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler

use modulo
  crates/core/src/kernel/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

update default in test
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

add test
  python/tests/test_checkpoint.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

working post commit
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

change default to 100
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

change default
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

create checkpoint on interval
  crates/core/src/kernel/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

docs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

go to postcommit before finalized
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

feat(rust): post commit hook (v2), create checkpoint hook (#2391)
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(rust): post commit hook (v2), create checkpoint hook (#2391)
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  python/tests/test_checkpoint.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add retries
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/lib.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/reader/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat: CDF Reader, add timestamp filtering of versions, fix a few warnings and lints
  crates/core/src/delta_datafusion/cdf/mod.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/schema/partitions.rs
  crates/core/src/table/state.rs
Owners: @wjones127, @roeap, @rtyler

fix: return error when checkpoints and metadata get out of sync
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

fix: return error when checkpoints and metadata get out of sync (#2406)
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

fix: return error when checkpoints and metadata get out of sync (#2406)
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

feat: added configuration variables to handle EC2 metadata service
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

added missing file
  crates/aws/src/credentials.rs
Owners: @wjones127, @roeap, @rtyler
