Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

feat: Logical Node for find files
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/table/state_arrow.rs
Owners: @wjones127, @roeap, @rtyler

fix formatting typo
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

Upgrade to datafusion 36
  Cargo.toml
Owners: none

Backport fix for empty stats during checkpoint write
  rust/Cargo.toml
  rust/src/schema/arrow_convert.rs
Owners: none

fix formatting typo
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

fix formatting typo
  docs/integrations/delta-lake-dask.md
Owners: @MrPowers

fix bug
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

clean up
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

reformat
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

docs: update README code samples for newer versions
  README.md
Owners: none

feat: Logical Node for find files
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/kernel/snapshot/log_data.rs
Owners: @wjones127, @roeap, @rtyler

fix: retry storage.put on temporary network errors
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/storage/retry_ext.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

fix: add data_type and nullable to StructField hash (#2045) (#2190)
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

fix: add data_type and nullable to StructField hash (#2045) (#2190)
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

fix: handle conflict checking in optimize correctly
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/mod.rs
Owners: @wjones127, @roeap, @rtyler

Update crates/core/src/operations/mod.rs
  crates/core/src/operations/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: fix the Cargo.tomls to publish information properly on docs.rs
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

documentation + refactor
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

remove todo
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix documentation
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix missing docs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: should only catch commit jsons
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

remove unneccesary import
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

remove unnecessary qualification
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

remove unnecessary qualification
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

fix: should only catch commit jsons
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

remove unneccesary import
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

remove unneccesary import
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

remove unnecessary qualification
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

fix: should only catch commit jsons
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

docs: update README code samples for newer versions
  README.md
Owners: none

docs: update README code samples for newer versions
  README.md
Owners: none

sort before comparison
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

bump datafusion
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

bump datafusion
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

keep old behavior
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

fix generic->trait
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler

try something
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/expr.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler
