Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

feat: added configuration variables to handle EC2 metadata service
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

added missing file
  crates/aws/src/credentials.rs
Owners: @wjones127, @roeap, @rtyler

fix: time travel when checkpointed and logs removed (#2389)
  crates/core/src/table/mod.rs
  python/tests/test_table_read.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: time travel when checkpointed and logs removed (#2389)
  crates/core/src/table/mod.rs
  python/tests/test_table_read.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(rust): stats_parsed has different number of records with stats
  crates/core/src/kernel/arrow/json.rs
Owners: @wjones127, @roeap, @rtyler

fix wrong casting
  crates/core/src/kernel/snapshot/replay.rs
Owners: @wjones127, @roeap, @rtyler

fmt fix
  crates/core/src/kernel/arrow/json.rs
Owners: @wjones127, @roeap, @rtyler

Create delta-lake-daft.md
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

Update docs/integrations/delta-lake-daft.md
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

add Daft to integrations
  README.md
Owners: none

add Daft to integrations
  mkdocs.yml
Owners: none

add telemetry note
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

fix broken URLs
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

docs: add Daft integration (#2402)
  README.md
  docs/integrations/delta-lake-daft.md
  mkdocs.yml
Owners: @MrPowers

docs: add Daft integration (#2402)
  README.md
  docs/integrations/delta-lake-daft.md
  mkdocs.yml
Owners: @MrPowers

fix(rust): writer missing invariants feature
  crates/core/src/operations/transaction/protocol.rs
Owners: @wjones127, @roeap, @rtyler

Update local dependency
  Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/storage/file.rs
  crates/core/tests/fs_common/mod.rs
  crates/mount/src/file.rs
Owners: @wjones127, @roeap, @rtyler

chore: fmt
  crates/core/src/operations/load_cdf.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust): timestamp deserialization format not following protocol + missing timestampNtz deserialization (#2383)
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(rust): timestamp deserialization format not following protocol + missing timestampNtz deserialization (#2383)
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix(rust): stats_parsed has different number of records with stats (#2405)
  crates/core/src/kernel/arrow/json.rs
  crates/core/src/kernel/snapshot/replay.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust): stats_parsed has different number of records with stats (#2405)
  crates/core/src/kernel/arrow/json.rs
  crates/core/src/kernel/snapshot/replay.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

use parallel as arg
  crates/core/src/operations/merge/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

ruff
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

parallel
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

remove fancy union syntax
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

use lazy static rt
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

use oncelock, refactor rt lifetime
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/utils.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/utils.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

remove unnecessary pointer
  python/src/filesystem.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

remove last arcs
  python/src/filesystem.rs
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

>_< clippy
  python/src/filesystem.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

don't pass in struct
  python/src/filesystem.rs
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat: lazy static runtime in python (#2424)
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/utils.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat: lazy static runtime in python (#2424)
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/utils.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat: implement repartitioned for DeltaScan
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat: implement repartitioned for DeltaScan (#2421)
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat: implement repartitioned for DeltaScan (#2421)
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
