Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

feat: introduce CDC write-side support for the Update operations
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

fix: remove tests upstreamed to kernel
  Cargo.toml
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

feat: adopt more kernel
  Cargo.toml
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/operations/create.rs
  crates/core/src/schema/partitions.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state_arrow.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: bing back python expresssions
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: test cleanup
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/operations/delete.rs
Owners: @wjones127, @roeap, @rtyler

fix: update to ScalarData
  Cargo.toml
  crates/core/src/kernel/scalars.rs
Owners: @wjones127, @roeap, @rtyler

fix: python tests
  Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/operations/convert_to_delta.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: use released kernel
  Cargo.toml
Owners: none

fix: simplify to_array for scalars
  Cargo.toml
  crates/core/src/kernel/scalars.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: convert tests
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

fix: more fixes after rebase
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/protocol.rs
Owners: @wjones127, @roeap, @rtyler

fix: update to ScalarData
  Cargo.toml
  crates/core/src/kernel/scalars.rs
Owners: @wjones127, @roeap, @rtyler

fix: convert tests
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

fix: python tests
  Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/operations/convert_to_delta.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat: adopt more kernel
  Cargo.toml
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/operations/create.rs
  crates/core/src/schema/partitions.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state_arrow.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: more fixes after rebase
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/protocol.rs
Owners: @wjones127, @roeap, @rtyler

fix: test cleanup
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/operations/delete.rs
Owners: @wjones127, @roeap, @rtyler

fix: bing back python expresssions
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: use released kernel
  Cargo.toml
Owners: none

fix: remove tests upstreamed to kernel
  Cargo.toml
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

fix: convert tests
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

fix: bing back python expresssions
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: remove tests upstreamed to kernel
  Cargo.toml
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

feat: adopt more kernel
  Cargo.toml
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/operations/create.rs
  crates/core/src/schema/partitions.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state_arrow.rs
  python/src/lib.rs
  python/src/schema.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: simplify to_array for scalars
  Cargo.toml
  crates/core/src/kernel/scalars.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: test cleanup
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/operations/delete.rs
Owners: @wjones127, @roeap, @rtyler

chore: use released kernel
  Cargo.toml
Owners: none

fix: more fixes after rebase
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/protocol.rs
Owners: @wjones127, @roeap, @rtyler

fix: update to ScalarData
  Cargo.toml
  crates/core/src/kernel/scalars.rs
Owners: @wjones127, @roeap, @rtyler

fix: python tests
  Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/operations/convert_to_delta.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: simplify to_array for scalars
  Cargo.toml
  crates/core/src/kernel/scalars.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: Cast support fields nested in lists and maps
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

change cloned object
  crates/aws/src/logstore.rs
Owners: @wjones127, @roeap, @rtyler

create sdk config from dynamodb endpoint
  crates/aws/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

fix format issue
  crates/aws/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

fix: cast support fields nested in lists and maps (#2541)
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

fix: cast support fields nested in lists and maps (#2541)
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

add more unit tests
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

remove integration test
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

feat: add custom dynamodb endpoint configuration (#2575)
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler
