Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

doc update for tag `python-v0.16.1`
  integrations/delta-lake-polars/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

typo
  crates/core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

typo
  crates/core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: merge predicate for concurrent writes (#2291)
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

fix: merge predicate for concurrent writes (#2291)
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

Initial test
  crates/aws/Cargo.toml
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Fix for replaceWhere
  docs/src/rust/operations.rs
Owners: @MrPowers

Initial test
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Initial test
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Initial test
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Initial test
  crates/aws/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

merge, plus adding update
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/mod.rs
  crates/mount/src/file.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust): add missing chrono-tz feature (#2295)
  Cargo.toml
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

fix(rust): add missing chrono-tz feature (#2295)
  Cargo.toml
  crates/core/Cargo.toml
Owners: @wjones127, @roeap, @rtyler

Fix for replaceWhere
  docs/src/rust/operations.rs
Owners: @MrPowers

Fix for replaceWhere
  docs/src/rust/operations.rs
Owners: @MrPowers

fix: clean up some non-datafusion builds
  crates/core/src/operations/transaction/conflict_checker.rs
Owners: @wjones127, @roeap, @rtyler

fix: clean up some non-datafusion builds
  crates/core/src/operations/transaction/conflict_checker.rs
Owners: @wjones127, @roeap, @rtyler

fix: clean up some non-datafusion builds
  crates/core/src/operations/transaction/conflict_checker.rs
Owners: @wjones127, @roeap, @rtyler

Feedback from Review
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/operations/write.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

should now work
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix test
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

write None if below v3 or v7
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  python/tests/test_checkpoint.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

bump for patch
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

clippy
  crates/core/src/protocol/checkpoints.rs
Owners: @wjones127, @roeap, @rtyler

add pyspark test
  python/tests/pyspark_integration/test_writer_readable.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix test sort
  python/tests/pyspark_integration/test_writer_readable.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: checkpoint features format below v3,7 (#2307)
  crates/core/src/protocol/checkpoints.rs
  python/Cargo.toml
  python/tests/pyspark_integration/test_writer_readable.py
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: checkpoint features format below v3,7 (#2307)
  crates/core/src/protocol/checkpoints.rs
  python/Cargo.toml
  python/tests/pyspark_integration/test_writer_readable.py
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fixes test?
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

switch to merging delta schema
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

handle metadata and test
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

WIP on schema_merge
  crates/core/src/kernel/arrow/mod.rs
Owners: @wjones127, @roeap, @rtyler

Fixes #2298
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

oops, forgot fmt :)
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

Add decoding of prefix for s3 path
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Add decoding of prefix for s3 path
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix: schema evolution not coercing with large arrow types (#2305)
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: schema evolution not coercing with large arrow types (#2305)
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco
