Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @hntd187, @ion-elgreco, @houqp, @fvaleye, @MrPowers

fix typo
  docs/integrations/object-storage/s3.md
Owners: @MrPowers

create gcs docs
  docs/integrations/object-storage/gcs.md
Owners: @MrPowers

typo fix
  docs/integrations/object-storage/s3.md
Owners: @MrPowers

fix typo
  docs/integrations/object-storage/s3.md
Owners: @MrPowers

typo fix
  docs/integrations/object-storage/s3.md
Owners: @MrPowers

fix typo
  docs/integrations/object-storage/s3.md
Owners: @MrPowers

typo fix
  docs/integrations/object-storage/s3.md
Owners: @MrPowers

update docs
  docs/integrations/object-storage/gcs.md
Owners: @MrPowers

fix typos
  docs/integrations/object-storage/s3-like.md
Owners: @MrPowers

create gcs docs
  docs/integrations/object-storage/gcs.md
Owners: @MrPowers

update docs
  docs/integrations/object-storage/gcs.md
Owners: @MrPowers

update docs
  docs/integrations/object-storage/gcs.md
Owners: @MrPowers

create gcs docs
  docs/integrations/object-storage/gcs.md
Owners: @MrPowers

fix typos
  docs/integrations/object-storage/s3-like.md
Owners: @MrPowers

fix typos
  docs/integrations/object-storage/s3-like.md
Owners: @MrPowers

add adls docs
  docs/integrations/object-storage/adls.md
Owners: @MrPowers

add adls docs to nav
  mkdocs.yml
Owners: none

refactor: exposing CommitConflictError enum
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler, @hntd187, @ion-elgreco

refactor: exposing CommitConflictError enum
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler, @hntd187, @ion-elgreco

refactor: exposing CommitConflictError enum
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler, @hntd187, @ion-elgreco

Update storage_options when using DeltaTable in write_deltalake
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler @hntd187 @ion-elgreco
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
