Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

do not delete tmp commit on error
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

abort commit
  crates/aws/src/errors.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/storage/retry_ext.rs
Owners: @wjones127, @roeap, @rtyler

Introduce the `Operation` trait for all operations to implement
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

Introduce the `Operation` trait for all operations to implement
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

reuse table state in rust engine py-writer
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

quick fix release
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): reuse table state in write engine (#2453)
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): reuse table state in write engine (#2453)
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

doc update for tag `python-v0.17.2`
  sitemap.xml
  sitemap.xml.gz
Owners: none

format
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat: address PR feedback, added a test and some failure checks
  crates/core/src/delta_datafusion/cdf/mod.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/errors.rs
  crates/core/src/operations/load_cdf.rs
Owners: @wjones127, @roeap, @rtyler

fix test_delete_nested
  Cargo.toml
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

removed unwrap
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore(rust): bump arrow v51 and datafusion v37.1 (#2395)
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/storage/mod.rs
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/data_catalog/unity/models.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/tests/integration_datafusion.rs
  crates/sql/src/planner.rs
Owners: @wjones127, @roeap, @rtyler

chore(rust): bump arrow v51 and datafusion v37.1 (#2395)
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/storage/mod.rs
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/data_catalog/unity/models.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/tests/integration_datafusion.rs
  crates/sql/src/planner.rs
Owners: @wjones127, @roeap, @rtyler

advance in the post commit
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

always return state
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

update test
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

add aws_s3_concurrency_limit setting for S3ObjectStoreFactory
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

feat: address PR feedback, added a test and some failure checks
  crates/core/src/delta_datafusion/cdf/mod.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/cdf/scan_utils.rs
  crates/core/src/errors.rs
  crates/core/src/operations/load_cdf.rs
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_cdf.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(rust): advance state in post commit (#2396)
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

feat(rust): advance state in post commit (#2396)
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

add clean up logs hook, expose PostCommitHookProps to python
  crates/core/src/operations/transaction/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

correct timestamp cutoff
  crates/core/src/operations/transaction/mod.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

update test
  python/tests/test_checkpoint.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

expose
  python/deltalake/__init__.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

generalized limit store implementation
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
  crates/azure/src/lib.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/operations/create.rs
  crates/core/src/storage/mod.rs
  crates/gcp/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

missing docs
  python/deltalake/table.py
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

ignore to many args
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat: address PR feedback, fixed a few lints
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/update.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat: Add docs for CDF
  docs/index.md
  docs/src/python/read_cdf.py
  docs/src/rust/read_cdf.rs
  docs/usage/read-cdf.md
  mkdocs.yml
Owners: @MrPowers

Handle 429 from GCS
  crates/core/src/operations/transaction/mod.rs
  crates/gcp/Cargo.toml
  crates/gcp/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

add debug
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

Update crates/gcp/src/storage.rs
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

Update mod.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

Add file
  crates/core/src/operations/transaction/mod.rs
  crates/gcp/Cargo.toml
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

chore: increment the version of the deltalake-gcp crate
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/gcp/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix duplicated usage of prefix handler
  crates/aws/src/storage.rs
  crates/azure/src/lib.rs
  crates/gcp/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

fix parse
  crates/core/src/delta_datafusion/expr.rs
Owners: @wjones127, @roeap, @rtyler
