Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

fix: doc string
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix merge schema with overwrite
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix merge schema with overwrite
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix merge schema with overwrite
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

avoid making max min when no value in array
  crates/core/src/kernel/arrow/mod.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

test: add DeltaScan metric tests
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

test: add parquet pushdown validation test
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

Fix inconsistent order of partitioning columns (#2494)
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

Fix formatting
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat(core): Allow schema evolution on read
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/schema_adapter.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

Use the correct schema for schema adapter.
  crates/core/src/delta_datafusion/mod.rs
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fix: fmt
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

test: add DeltaScan metric tests
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

fix: fmt
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: fmt
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

test: add DeltaScan metric tests
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

feat: report DataFusion metrics for DeltaScan
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: fmt
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat: report DataFusion metrics for DeltaScan
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: doc string
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: doc string
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

added large_dtype to to schema convert
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: fix documentation generation with a pin of griffe
  docs/requirements.txt
Owners: @MrPowers

chore: fix documentation generation with a pin of griffe
  docs/requirements.txt
Owners: @MrPowers

chore: fix documentation generation with a pin of griffe
  docs/requirements.txt
Owners: @MrPowers

fix: TableProvider impl for DeltaTable does not enable parquet pushdown
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

test: add parquet pushdown validation test
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

added large_dtype to to schema convert
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

added large_dtype to to schema convert
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: remove macos builders from pull request flow
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

avoid making max min when no value in array
  crates/core/src/kernel/arrow/mod.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

avoid making max min when no value in array
  crates/core/src/kernel/arrow/mod.rs
  python/tests/test_checkpoint.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add daft write functionality
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

add daft write functionality
  docs/integrations/delta-lake-daft.md
Owners: @MrPowers

chore: remove macos builders from pull request flow
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

chore: remove macos builders from pull request flow
  .github/workflows/build.yml
Owners: @wjones127, @rtyler

fix: enable parquet pushdown for DeltaScan via TableProvider impl for DeltaTable (rebase) (#2637)
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: enable parquet pushdown for DeltaScan via TableProvider impl for DeltaTable (rebase) (#2637)
  crates/core/src/delta_datafusion/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: add a reproduction case for merge failures with struct<string>
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: set large_dtypes=False as the default behavior on merge
  python/deltalake/table.py
  python/tests/test_merge.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
