Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

fix bug in constraint operation, not setting feature in v7
  crates/core/src/operations/constraints.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  python/tests/test_table_read.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

serde types as snakecase for spark compat
  crates/core/src/kernel/models/schema.rs
Owners: @wjones127, @roeap, @rtyler

clipppyy
  crates/core/src/operations/create.rs
Owners: @wjones127, @roeap, @rtyler

update min protocl and features
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  python/deltalake/schema.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix rust tests
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

feat(python, rust): timestampNtz support (#2236)
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/table/state_arrow.rs
  crates/core/tests/integration_datafusion.rs
  python/deltalake/_internal.pyi
  python/deltalake/schema.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/data_acceptance/test_reader.py
  python/tests/test_schema.py
  python/tests/test_table_read.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(python, rust): timestampNtz support (#2236)
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/table/state_arrow.rs
  crates/core/tests/integration_datafusion.rs
  python/deltalake/_internal.pyi
  python/deltalake/schema.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/data_acceptance/test_reader.py
  python/tests/test_schema.py
  python/tests/test_table_read.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

bump
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

bump datafusion to 36
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/sql/src/parser.rs
Owners: @wjones127, @roeap, @rtyler

chore: bump to 0.16 (#2248)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

chore: bump to 0.16 (#2248)
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

disallow columnmapping mode unsetting
  crates/core/src/operations/unset_tbl_properties.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

oooops
  python/tests/test_alter.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

doc update for tag `python-v0.16.0`
  api/delta_table/delta_table_alterer/index.html
  api/delta_writer/index.html
  integrations/delta-lake-dask/index.html
  integrations/delta-lake-pandas/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/constraints/index.html
  usage/writing/index.html
Owners: none

make interval parsing compatible with delta-scala
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

typo
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

Fixes https://github.com/delta-io/delta-rs/issues/2253
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

ruff
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix chrono version
  Cargo.toml
Owners: none

adjust test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

typo
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

typo
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

Fixes https://github.com/delta-io/delta-rs/issues/2253
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix chrono version
  Cargo.toml
Owners: none

Fixes https://github.com/delta-io/delta-rs/issues/2253
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

adjust test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix chrono version
  Cargo.toml
Owners: none

ruff
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

ruff
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

adjust test
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(rust): make interval parsing compatible with plural form (#2250)
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

fix(rust): make interval parsing compatible with plural form (#2250)
  crates/core/src/table/config.rs
Owners: @wjones127, @roeap, @rtyler

docs: update comment about r2 requiring locks
  README.md
Owners: none

docs: update comment about r2 requiring locks
  README.md
Owners: none

docs: update comment about r2 requiring locks
  README.md
Owners: none

fix(#2256): use consistent units of time
  crates/core/src/operations/delete.rs
Owners: @wjones127, @roeap, @rtyler

add dagster integration to table of contents
  mkdocs.yml
Owners: none

fix(#2256): use consistent units of time (#2260)
  crates/core/src/operations/delete.rs
Owners: @wjones127, @roeap, @rtyler

fix(#2256): use consistent units of time (#2260)
  crates/core/src/operations/delete.rs
Owners: @wjones127, @roeap, @rtyler
