Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

applied cargo fmt
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

applied cargo fmt
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

fix: Return unsupported error for merging schemas in the presence of partiton columns
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

fix: Return unsupported error for merging schemas in the presence of partiton columns
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

fix: Return unsupported error for merging schemas in the presence of partiton columns
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

Add stats to convert-to-delta operation
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

Replace unwraps with error maps
  crates/core/src/operations/convert_to_delta.rs
Owners: @wjones127, @roeap, @rtyler

Fix Decimal stats parsing error from FixedLenByteArray
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

create vec of idx first
  crates/core/src/writer/stats.rs
  python/deltalake/writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

rewrite config grabbing
  crates/core/src/operations/write.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

rm print
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

add by accident removed lines back
  python/deltalake/writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

test: add test for concurrent checkpoint during table load (#2151)
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/test/src/utils.rs
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000000.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000001.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000002.checkpoint.parquet
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000002.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000003.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/_last_checkpoint
Owners: @wjones127, @roeap, @rtyler

test: add test for concurrent checkpoint during table load (#2151)
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/test/src/utils.rs
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000000.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000001.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000002.checkpoint.parquet
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000002.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000003.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/_last_checkpoint
Owners: @wjones127, @roeap, @rtyler

fmt
  python/deltalake/fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

wrap DeltaFileSystemHandler
  python/deltalake/_internal.pyi
  python/deltalake/fs.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/filesystem.rs
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  python/deltalake/fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

reuse state
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/filesystem.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  python/deltalake/fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt
  python/deltalake/fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

clippy
  python/src/filesystem.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix reuse state
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/filesystem.rs
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix fmt
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

bump
  python/Cargo.toml
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

type hints 3.8
  python/deltalake/_internal.pyi
  python/deltalake/fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): reuse state in `to_pyarrow_dataset` (#2485)
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/fs.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/filesystem.rs
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fix(python): reuse state in `to_pyarrow_dataset` (#2485)
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/fs.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/filesystem.rs
  python/tests/test_fs.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(python, rust): respect column stats collection configurations (#2428)
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/table/config.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_delete.py
  python/tests/test_merge.py
  python/tests/test_update.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

feat(python, rust): respect column stats collection configurations (#2428)
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/table/config.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_delete.py
  python/tests/test_merge.py
  python/tests/test_update.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

doc update for tag `python-v0.17.4`
  api/delta_table/index.html
  api/storage/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/constraints/index.html
  usage/loading-table/index.html
  usage/read-cdf/index.html
  usage/writing/index.html
Owners: none

fix(rust, python): fixed differences in storage options between log and object stores causing divergent dynamodb behavior
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

reformatted code
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

removed debug statement
  crates/aws/src/storage.rs
Owners: @wjones127, @roeap, @rtyler

docs: fix typo
  docs/why-use-delta-lake.md
Owners: @MrPowers

docs: fix typo
  docs/why-use-delta-lake.md
Owners: @MrPowers

docs: fix typo
  docs/why-use-delta-lake.md
Owners: @MrPowers

Add logic
  crates/core/src/operations/merge/mod.rs
  crates/core/tests/command_merge.rs
Owners: @wjones127, @roeap, @rtyler

Update name
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler
