Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

close to compiling
  crates/core/src/operations/mod.rs
  crates/core/src/operations/write.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

docs: create Dagster integration page (#2159)
  docs/integrations/delta-lake-dagster.md
  mkdocs.yml
Owners: @MrPowers

docs: create Dagster integration page (#2159)
  docs/integrations/delta-lake-dagster.md
  mkdocs.yml
Owners: @MrPowers

removing rusoto and replacing it with the Rust AWS SDK
  crates/aws/Cargo.toml
  crates/aws/src/errors.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/src/native.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

removing rusoto and replacing it with the Rust AWS SDK
  crates/aws/Cargo.toml
  crates/aws/src/errors.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/src/native.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

removing rusoto and replacing it with the Rust AWS SDK
  crates/aws/Cargo.toml
  crates/aws/src/errors.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/src/native.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
Owners: @wjones127, @roeap, @rtyler

release_gil
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

added py as argument
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

use dagster-deltalake-polars
  docs/integrations/delta-lake-dagster.md
Owners: @MrPowers

docs: use dagster deltalake polars library (#2263)
  docs/integrations/delta-lake-dagster.md
Owners: @MrPowers

docs: use dagster deltalake polars library (#2263)
  docs/integrations/delta-lake-dagster.md
Owners: @MrPowers

still learning :)
  crates/core/src/operations/mod.rs
  crates/core/src/operations/write.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix: clean up unnecessay mut and dead code warnings
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/merge/mod.rs
  crates/gcp/tests/context.rs
Owners: @wjones127, @roeap, @rtyler

feat(python): release GIL in the write_deltalake function (#2257)
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

feat(python): release GIL in the write_deltalake function (#2257)
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

init
  crates/core/src/operations/mod.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add tests
  crates/core/src/operations/create.rs
  crates/core/src/operations/set_tbl_properties.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/tests/test_alter.py
  python/tests/test_convert_to_delta.py
  python/tests/test_create.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add tests for create
  python/tests/test_create.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

remove config to feature in from_str for invariants/check constraints
  crates/core/src/kernel/models/actions.rs
Owners: @wjones127, @roeap, @rtyler

only convert configs that have "true"
  crates/core/src/operations/create.rs
  crates/core/src/operations/set_tbl_properties.rs
  python/tests/test_create.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add tests
  crates/core/src/operations/create.rs
  crates/core/src/operations/set_tbl_properties.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/tests/test_alter.py
  python/tests/test_convert_to_delta.py
  python/tests/test_create.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

remove config to feature in from_str for invariants/check constraints
  crates/core/src/kernel/models/actions.rs
Owners: @wjones127, @roeap, @rtyler

init
  crates/core/src/operations/mod.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

only convert configs that have "true"
  crates/core/src/operations/create.rs
  crates/core/src/operations/set_tbl_properties.rs
  python/tests/test_create.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

add tests for create
  python/tests/test_create.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

some compile errors
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/write.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

another bug fix
  crates/benchmarks/src/bin/merge.rs
Owners: @wjones127, @roeap, @rtyler

clippy feedback
  crates/core/src/operations/write.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

test compilation
  crates/core/src/operations/write.rs
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

wip on tests
  crates/core/tests/integration_datafusion.rs
Owners: @wjones127, @roeap, @rtyler

Optimize commit v1
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
  docs/usage/optimize/small-file-compaction-with-optimize.md
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

cargo fmt
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

fix: include .venv in .gitignore
  .gitignore
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
  crates/gcp/tests/context.rs
  docs/usage/optimize/small-file-compaction-with-optimize.md
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

fix: include .venv in .gitignore
  .gitignore
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
  crates/gcp/tests/context.rs
  docs/usage/optimize/small-file-compaction-with-optimize.md
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

cargo fmt
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

cargo fmt
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

Optimize commit v1
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
  docs/usage/optimize/small-file-compaction-with-optimize.md
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

fix: clean up unnecessay mut and dead code warnings
  crates/gcp/tests/context.rs
Owners: @wjones127, @roeap, @rtyler

fix: include .venv in .gitignore
  .gitignore
  crates/core/src/operations/optimize.rs
  crates/core/tests/command_optimize.rs
  crates/gcp/tests/context.rs
  docs/usage/optimize/small-file-compaction-with-optimize.md
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_optimize.py
Owners: @wjones127, @roeap, @rtyler, @MrPowers, @fvaleye, @ion-elgreco

fix: clean up unnecessay mut and dead code warnings
  crates/gcp/tests/context.rs
Owners: @wjones127, @roeap, @rtyler

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
