Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

compiles ;)
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

python compiles
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

fmt & clippy
  crates/core/src/operations/delete.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: clean up some compilation failures and un-ignore some tests
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/lib.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/writer/stats.rs
  crates/core/tests/command_optimize.rs
Owners: @wjones127, @roeap, @rtyler

try remove writer.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

compiles
  crates/core/src/writer/record_batch.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fmt
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  python/deltalake/_internal.pyi
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

clippy
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
  python/deltalake/writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

renamings
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

clippy's feedback
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

Optimize commit v1
  crates/core/src/kernel/models/mod.rs
  crates/core/src/lib.rs
  crates/core/src/operations/optimize.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

test seems ok
  crates/core/src/operations/cast.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

clippy feedback
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

compiles again after refactoring
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

clippy
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

wip on new merge method
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

next fix
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

WIP
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

compiles again
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

might fixes test
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

better cast
  crates/core/src/operations/cast.rs
Owners: @wjones127, @roeap, @rtyler

test passes!
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

fix: retry storage.put on temporary network errors
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/storage/retry_ext.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

fix: retry storage.put on temporary network errors
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/storage/retry_ext.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler

feat: Logical Node for find files
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
Owners: @wjones127, @roeap, @rtyler

tests passing in both rust and python
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fnt
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

format
  python/deltalake/writer.py
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

thanks, clippy for your feedback
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

fix ruff and mypy version and format
  docs/src/python/check_constraints.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/_ext/edit_on_github.py
  python/pyproject.toml
  python/tests/pyspark_integration/test_write_to_pyspark.py
  python/tests/pyspark_integration/test_writer_readable.py
Owners: @MrPowers, @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: fix ruff and mypy version and do formatting (#2240)
  docs/src/python/check_constraints.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/_ext/edit_on_github.py
  python/pyproject.toml
  python/tests/pyspark_integration/test_write_to_pyspark.py
  python/tests/pyspark_integration/test_writer_readable.py
Owners: @MrPowers, @wjones127, @fvaleye, @roeap, @ion-elgreco

fix: fix ruff and mypy version and do formatting (#2240)
  docs/src/python/check_constraints.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/_ext/edit_on_github.py
  python/pyproject.toml
  python/tests/pyspark_integration/test_write_to_pyspark.py
  python/tests/pyspark_integration/test_writer_readable.py
Owners: @MrPowers, @wjones127, @fvaleye, @roeap, @ion-elgreco

docs
  docs/integrations/delta-lake-pandas.md
  docs/usage/writing/index.md
  python/docs/source/usage.rst
Owners: @MrPowers

fmt
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

validate schema if schema_mode not given
  crates/core/src/operations/write.rs
Owners: @wjones127, @roeap, @rtyler

use new schema_mode parameter and refactor tests to match new behavior
  python/tests/test_writer.py
Owners: @wjones127, @fvaleye, @roeap, @ion-elgreco

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers
