Repository delta-io/delta-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wjones127, @roeap, @rtyler, @houqp, @fvaleye, @ion-elgreco, @MrPowers

.github/CODEOWNERS:

crates/ @wjones127 @roeap @rtyler
delta-inspect/ @wjones127 @rtyler
proofs/ @houqp
python/ @wjones127 @fvaleye @roeap @ion-elgreco
tlaplus/ @houqp
.github/ @wjones127 @rtyler
docs/ @MrPowers

test: add test to demonstrate panic during table load
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/test/src/utils.rs
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000000.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000001.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000002.checkpoint.parquet
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000002.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000003.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/_last_checkpoint
Owners: @wjones127, @roeap, @rtyler

test: add thread names
  crates/core/src/kernel/snapshot/log_segment.rs
Owners: @wjones127, @roeap, @rtyler

:WIP: Proposal for new interface
  crates/core/src/operations/create.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: made generalize_filter less permissive, also added more cases (#2149)
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: made generalize_filter less permissive, also added more cases (#2149)
  crates/core/src/operations/merge/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: properly load field metadata from a table with identity columns
  crates/core/src/kernel/models/schema.rs
  crates/core/src/lib.rs
  crates/test/tests/data/issue-2152/_delta_log/00000000000000000000.json
Owners: @wjones127, @roeap, @rtyler

fix: properly load field metadata from a table with identity columns
  crates/core/src/kernel/models/schema.rs
  crates/core/src/lib.rs
  crates/test/tests/data/issue-2152/_delta_log/00000000000000000000.json
Owners: @wjones127, @roeap, @rtyler

fix: properly load field metadata from a table with identity columns
  crates/core/src/kernel/models/schema.rs
  crates/core/src/lib.rs
  crates/test/tests/data/issue-2152/_delta_log/00000000000000000000.json
Owners: @wjones127, @roeap, @rtyler

draft dagster integration page
  docs/integrations/delta-lake-dagster.md
Owners: @MrPowers

fix: replace BTreeMap with IndexMap to actually prewsever insertion order
  crates/core/Cargo.toml
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/writer.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

made it possible to clone a delta table
  crates/core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: replace BTreeMap with IndexMap to preserve insertion order (#2150)
  crates/core/Cargo.toml
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/writer.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

fix: replace BTreeMap with IndexMap to preserve insertion order (#2150)
  crates/core/Cargo.toml
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/writer.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
Owners: @wjones127, @roeap, @rtyler

made it possible to clone a delta table
  crates/core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

made it possible to clone a delta table
  crates/core/src/table/mod.rs
Owners: @wjones127, @roeap, @rtyler

:WIP: move to eager snapshot + error type
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/transaction/state.rs
Owners: @wjones127, @roeap, @rtyler

chore: cleanup minor clippies and other warns
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/writer.rs
  crates/core/tests/fs_common/mod.rs
Owners: @wjones127, @roeap, @rtyler

Update crates/core/src/operations/unset_tbl_properties.rs
  crates/core/src/operations/unset_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

Update crates/core/src/operations/unset_tbl_properties.rs
  crates/core/src/operations/unset_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

working unset properties
  crates/core/src/operations/mod.rs
  crates/core/src/operations/unset_tbl_properties.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/table/config.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

rm commented code
  crates/core/src/operations/unset_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/unset_tbl_properties.rs
Owners: @wjones127, @roeap, @rtyler

feedback
  crates/core/src/operations/unset_tbl_properties.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

rename
  crates/core/src/operations/unset_tbl_properties.rs
  crates/core/src/protocol/mod.rs
Owners: @wjones127, @roeap, @rtyler

refactor
  crates/core/src/operations/mod.rs
  crates/core/src/operations/unset_tbl_properties.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

chore: cleanup minor clippies and other warns
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/writer.rs
  crates/core/tests/fs_common/mod.rs
Owners: @wjones127, @roeap, @rtyler

chore: cleanup minor clippies and other warns
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/writer.rs
  crates/core/tests/fs_common/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: allow checkpoints to contain metadata actions without a createdTime value
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/parquet_read/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: allow checkpoints to contain metadata actions without a createdTime value
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/parquet_read/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: allow checkpoints to contain metadata actions without a createdTime value
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/parquet_read/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix: optimize tables written by Spark
  crates/core/Cargo.toml
  crates/core/src/operations/optimize.rs
Owners: @wjones127, @roeap, @rtyler

:WIP: rewrite to use builder
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/errors.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
Owners: @wjones127, @roeap, @rtyler

fix python + clippy
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/protocol/checkpoints.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

fix retries
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix vaccum + integration tests
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/vacuum.rs
Owners: @wjones127, @roeap, @rtyler

fmt
  crates/core/src/operations/vacuum.rs
Owners: @wjones127, @roeap, @rtyler

refactor to allow intermediate commit steps & return opaque struct
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  python/src/lib.rs
Owners: @wjones127, @roeap, @rtyler, @fvaleye, @ion-elgreco

cargo fmt
  crates/core/src/operations/transaction/mod.rs
Owners: @wjones127, @roeap, @rtyler

fix restore
  crates/core/src/operations/restore.rs
Owners: @wjones127, @roeap, @rtyler

Introduce schema evolution on RecordBatchWriter
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
Owners: @wjones127, @roeap, @rtyler
