Repository delta-io/delta-rs, pull requests merged in 2021-01, with the labels that each got.

#63 Introduce a simple S3 integration test for reading from a table
  rust/tests/s3_test.rs
Labels: storage/aws

#71 Add a simple integration test which relies on the golden data set in S3
  rust/tests/s3_test.rs
Labels: binding/rust, enhancement

#70 Add details about the development meeting
  README.adoc
Labels: documentation

#73 Fixed issue #72
  python/deltalake/__init__.py
Labels: binding/python
