Repository delta-io/delta-rs, pull requests merged in 2021-09, with the labels that each got.

#418 Add S3StorageOptions to allow configuring S3 backend explicitly
  rust/src/lib.rs
  rust/src/storage/mod.rs
  rust/src/storage/s3/dynamodb_lock.rs
  rust/src/storage/s3/mod.rs
  rust/tests/dynamodb_lock_test.rs
  rust/tests/repair_s3_rename_test.rs
  rust/tests/s3_test.rs
Labels: enhancement, binding/rust

#419 Read a DeltaTable using a Data Catalog
  Cargo.lock
  python/Cargo.toml
  python/deltalake/__init__.py
  python/deltalake/data_catalog.py
  python/deltalake/table.py
  python/docs/source/api_reference.rst
  python/docs/source/usage.rst
  python/pyproject.toml
  python/src/lib.rs
  python/stubs/deltalake/deltalake.pyi
  python/stubs/pandas/__init__.pyi
  python/stubs/pyarrow/dataset.pyi
  rust/Cargo.toml
  rust/README.md
  rust/src/data_catalog/glue/mod.rs
  rust/src/data_catalog/mod.rs
  rust/src/lib.rs
Labels: binding/python, binding/rust

#422 Add LICENSE file in the Python binding and refer it in the pyproject
  python/LICENSE.txt
  python/pyproject.toml
Labels: enhancement, binding/python

#380 Audit action field optionality
  python/src/lib.rs
  rust/src/action.rs
  rust/src/delta.rs
  rust/tests/azure_test.rs
  rust/tests/read_delta_test.rs
  rust/tests/read_simple_table_test.rs
  rust/tests/s3_test.rs
  rust/tests/write_exploration.rs
Labels: binding/rust

#428 Add history command in delta-rs
  python/Makefile
  python/deltalake/data_catalog.py
  python/deltalake/table.py
  python/docs/source/usage.rst
  python/pyproject.toml
  python/src/lib.rs
  python/stubs/pyarrow/fs.pyi
  python/tests/test_table_read.py
  rust/src/action.rs
  rust/src/delta.rs
Labels: binding/python, binding/rust

#439 Release Python binding version 0.5.3
  python/Cargo.toml
Labels: binding/python

#448 Add maturin develop command with extras in Python binding
  Cargo.lock
  README.adoc
  python/Makefile
  python/README.md
  python/pyproject.toml
Labels: binding/python
