Repository delta-io/delta-rs, pull requests merged in 2021-04, with the labels that each got.

#180 Add rusdocs on partitions
  rust/src/partitions.rs
Labels: binding/rust, documentation

#184 Add rustdocs for the errors
  rust/src/delta.rs
  rust/src/storage/mod.rs
Labels: binding/rust, documentation

#185 Bump Python crate version to v.0.4.5
  python/Cargo.toml
Labels: binding/python

#173 Add Sphinx documentation for the Python bindings
  .github/workflows/python_build.yml
  python/.gitignore
  python/Cargo.toml
  python/README.md
  python/deltalake/schema.py
  python/deltalake/table.py
  python/docs/Makefile
  python/docs/make.bat
  python/docs/source/_ext/edit_on_github.py
  python/docs/source/_static/.gitignore
  python/docs/source/api_reference.rst
  python/docs/source/conf.py
  python/docs/source/index.rst
  python/docs/source/installation.rst
  python/docs/source/usage.rst
Labels: binding/python, documentation

#194 Change the default timestamp to nanosecond precision for Delta <> Arrow schema
  rust/src/delta_arrow.rs
Labels: binding/rust

#193 Add pyarrow floatingpoint in Python bindings
  python/deltalake/schema.py
  python/tests/test_schema.py
Labels: binding/python

#191 Add Metadata in Python bindings
  python/deltalake/__init__.py
  python/deltalake/table.py
  python/docs/source/usage.rst
  python/src/lib.rs
  python/tests/test_table_read.py
Labels: binding/python

#196 Bump Python bindings version to v0.4.6
  python/Cargo.toml
Labels: binding/python

#200 Add createdTime in Metadata
  python/deltalake/table.py
  python/docs/source/usage.rst
  python/src/lib.rs
  python/tests/test_table_read.py
  rust/README.md
  rust/src/action.rs
  rust/src/delta.rs
Labels: binding/python, binding/rust

#206 Add delete object in StorageBackend
  rust/src/storage/azure.rs
  rust/src/storage/file/mod.rs
  rust/src/storage/mod.rs
  rust/src/storage/s3/mod.rs
  rust/tests/s3_test.rs
Labels: binding/rust

#209 Accommodate AWS_ENDPOINT_URL in the python binding to allow alternatives to S3
  python/Cargo.toml
  python/deltalake/schema.py
  python/deltalake/table.py
Labels: binding/python, enhancement

#213 Refactor and clean up the README
  README.adoc
Labels: documentation

#221 Allow to_pyarrow_table() to take an optional list of partitions
  python/deltalake/table.py
Labels: binding/python, enhancement

#226 Add valueContainsNull for the MapType in DeltaTable schema
  python/deltalake/schema.py
  python/tests/test_schema.py
  rust/src/schema.rs
Labels: binding/python, binding/rust

#207 Add Vacuum command in DeltaTable
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_table_read.py
  rust/src/delta.rs
  rust/tests/read_delta_test.rs
Labels: binding/rust, enhancement

#229 Add Date, StructArray and Map for Pyarrow types in Python schema bindings
  python/deltalake/schema.py
  python/tests/test_schema.py
Labels: binding/python
