Repository delta-io/delta-rs, pull requests merged in 2021-05, with the labels that each got.

#243 Add requires for maturin in Python bindings
  python/Cargo.toml
Labels: binding/python

#253 Add get_file_paths_by_partitions in Python bindings
  python/Cargo.toml
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_table_read.py
Labels: binding/python

#259 Disable the Azure integration test
  rust/tests/azure_test.rs
Labels: binding/rust, storage/azure

#264 Add vacuum test resources
  rust/tests/data/delta-0.8.0/_change_data/.gitkeep
  rust/tests/data/delta-0.8.0/_delta_index/.gitkeep
Labels: binding/rust

#263 Improve dev experience with Python binding
  .github/workflows/python_build.yml
  .github/workflows/python_release.yml
  python/.gitignore
  python/Cargo.toml
  python/Makefile
  python/README.md
  python/deltalake/__init__.py
  python/deltalake/schema.py
  python/deltalake/table.py
  python/docs/source/_ext/edit_on_github.py
  python/docs/source/conf.py
  python/mypy.ini
  python/pyproject.toml
  python/tests/test_schema.py
Labels: binding/python

#274 Improve Python binding
  python/Cargo.toml
  python/Makefile
  python/deltalake/schema.py
  python/deltalake/table.py
Labels: binding/python

#277 Manage the read when the DeltaTable it's empty.
  python/deltalake/table.py
  python/tests/test_table_read.py
  rust/tests/data/delta-0.8-empty/.part-00000-b0cc5102-6177-4d60-80d3-b5d170011621-c000.snappy.parquet.crc
  rust/tests/data/delta-0.8-empty/.part-00007-02b8c308-e5a7-41a8-a653-cb5594582017-c000.snappy.parquet.crc
  rust/tests/data/delta-0.8-empty/_delta_log/00000000000000000000.json
  rust/tests/data/delta-0.8-empty/_delta_log/00000000000000000001.json
  rust/tests/data/delta-0.8-empty/part-00000-b0cc5102-6177-4d60-80d3-b5d170011621-c000.snappy.parquet
  rust/tests/data/delta-0.8-empty/part-00007-02b8c308-e5a7-41a8-a653-cb5594582017-c000.snappy.parquet
Labels: binding/python
