Repository delta-io/delta-rs, pull requests merged in 2021-08, with the labels that each got.

#378 Refactoring of black, isort, mypy tools usages into pyproject.toml
  python/Cargo.toml
  python/Makefile
  python/deltalake/__init__.py
  python/deltalake/table.py
  python/mypy.ini
  python/pyproject.toml
  python/setup.cfg
  python/stubs/deltalake/__init__.pyi
  python/stubs/deltalake/deltalake.pyi
  python/stubs/pandas/__init__.pyi
  python/stubs/pyarrow/__init__.pyi
  python/stubs/pyarrow/dataset.pyi
Labels: binding/python

#381 Merge Cargo.toml into pyproject.toml
  python/Cargo.toml
  python/pyproject.toml
Labels: binding/python

#395 Implement delete_objs in fs and s3 storage backends.
  .github/workflows/build.yml
  rust/src/delta.rs
  rust/src/storage/file/mod.rs
  rust/src/storage/mod.rs
  rust/src/storage/s3/mod.rs
  rust/tests/s3_test.rs
Labels: enhancement, binding/rust, storage/aws

#400 Add examples for reading delta table with Rust API.
  Cargo.lock
  rust/README.md
  rust/examples/read_delta_table.rs
Labels: documentation, binding/rust

#405 Update pyproject definition in pyproject.toml
  python/pyproject.toml
  python/stubs/deltalake/deltalake.pyi
Labels: binding/python

#398 Fix duplicates on update call
  rust/src/delta.rs
  rust/tests/read_delta_test.rs
Labels: bug, binding/rust

#410 Add a Makefile build task in the Python binding
  .github/workflows/python_build.yml
  .github/workflows/python_release.yml
  python/Makefile
  python/README.md
Labels: binding/python

#414 Add filesystem argument for reading DeltaTable in Python binding
  python/deltalake/table.py
  python/docs/source/conf.py
  python/stubs/pyarrow/fs.pyi
  python/tests/test_table_read.py
Labels: binding/python

#415 Ensures that all table schemas are of StructType
  rust/src/delta.rs
  rust/src/schema.rs
Labels: binding/rust

#412 Gcs writer bugs
  rust/src/storage/gcs/client.rs
Labels: binding/rust
