Repository delta-io/delta-rs, pull requests merged in 2021-03, with the labels that each got.

#107 Add missing fields in Remove Action.
  rust/src/action.rs
  rust/tests/azure_test.rs
  rust/tests/data/delta-0.8.0/.part-00000-04ec9591-0b73-459e-8d18-ba5711d6cbe1-c000.snappy.parquet.crc
  rust/tests/data/delta-0.8.0/.part-00000-c9b90f86-73e6-46c8-93ba-ff6bfaf892a1-c000.snappy.parquet.crc
  rust/tests/data/delta-0.8.0/.part-00001-911a94a2-43f6-4acb-8620-5e68c2654989-c000.snappy.parquet.crc
  rust/tests/data/delta-0.8.0/_delta_log/00000000000000000000.json
  rust/tests/data/delta-0.8.0/_delta_log/00000000000000000001.json
  rust/tests/data/delta-0.8.0/part-00000-04ec9591-0b73-459e-8d18-ba5711d6cbe1-c000.snappy.parquet
  rust/tests/data/delta-0.8.0/part-00000-c9b90f86-73e6-46c8-93ba-ff6bfaf892a1-c000.snappy.parquet
  rust/tests/data/delta-0.8.0/part-00001-911a94a2-43f6-4acb-8620-5e68c2654989-c000.snappy.parquet
  rust/tests/read_delta_test.rs
  rust/tests/read_simple_table_test.rs
  rust/tests/s3_test.rs
  rust/tests/write_exploration.rs
Labels: binding/rust, enhancement

#112 Add json_schema field in Schema Python binding
  python/deltalake/schema.py
  python/deltalake/table.py
  python/tests/test_schema.py
Labels: binding/python

#159 Documentation/python binding
  python/deltalake/schema.py
  python/deltalake/table.py
Labels: binding/python, documentation

#160 Enable date column support for delta -> arrow schema conversion.
  rust/src/delta_arrow.rs
  rust/tests/data/delta-0.8.0-date/.part-00000-d22c627d-9655-4153-9527-f8995620fa42-c000.snappy.parquet.crc
  rust/tests/data/delta-0.8.0-date/_delta_log/00000000000000000000.json
  rust/tests/data/delta-0.8.0-date/part-00000-d22c627d-9655-4153-9527-f8995620fa42-c000.snappy.parquet
  rust/tests/datafusion_test.rs
Labels: binding/rust, enhancement

#174 Add pytest coverage plugin
  .github/workflows/python_build.yml
  python/Cargo.toml
Labels: binding/python
