Repository delta-io/delta-rs, pull requests merged in 2022-01, with the labels that each got.

#535 Remove coupling of DynamoDbLockClient from S3 storage
  rust/.gitignore
  rust/src/storage/s3/mod.rs
Labels: binding/rust

#544 Add storage options for backends
  python/deltalake/table.py
  python/docs/source/usage.rst
  python/pyproject.toml
  python/src/lib.rs
  python/tests/test_table_read.py
  rust/src/storage/s3/mod.rs
Labels: enhancement, binding/python

#547 Release of the Python binding version 0.5.5
  python/Cargo.toml
Labels: binding/python

#548 Fix the Python release Github action workflow for macos11
  .github/workflows/python_release.yml
Labels: binding/python

#499 Implement missing Azure storage backend methods
  Cargo.lock
  rust/.gitignore
  rust/Cargo.toml
  rust/src/storage/azure/client.rs
  rust/src/storage/azure/mod.rs
  rust/src/storage/mod.rs
  rust/tests/adls_gen2_backend_test.rs
  rust/tests/adls_gen2_table_test.rs
  rust/tests/azure_test.rs
Labels: enhancement, binding/rust, storage/azure
