Repository delta-io/delta-rs, pull requests merged in 2022-12, with the labels that each got.

#986 Add the support of the AWS_PROFILE environment variable for S3
  rust/Cargo.toml
  rust/src/builder/mod.rs
  rust/src/storage/s3.rs
Labels: enhancement, binding/rust

#1022 Fix to support UTC timezone
  rust/src/delta_arrow.rs
Labels: rust, delta-rs-crate

#1036 fix: azure sas key url encoding
  rust/src/builder/azure.rs
  rust/src/builder/mod.rs
Labels: rust, delta-rs-crate

#1042 Add provisional workaround to support CDC #1039
  python/tests/test_table_read.py
  rust/src/action/mod.rs
  rust/src/action/parquet_read/mod.rs
  rust/src/table_state.rs
  rust/tests/data/simple_table_with_cdc/_change_data/cdc-00000-a846ce80-2eec-484d-bef7-0e63557786ca.c000.snappy.parquet
  rust/tests/data/simple_table_with_cdc/_delta_log/00000000000000000000.crc
  rust/tests/data/simple_table_with_cdc/_delta_log/00000000000000000000.json
  rust/tests/data/simple_table_with_cdc/_delta_log/00000000000000000001.crc
  rust/tests/data/simple_table_with_cdc/_delta_log/00000000000000000001.json
  rust/tests/data/simple_table_with_cdc/_delta_log/00000000000000000002.crc
  rust/tests/data/simple_table_with_cdc/_delta_log/00000000000000000002.json
  rust/tests/data/simple_table_with_cdc/part-00000-7444aec4-710a-4a4c-8abe-3323499043e9.c000.snappy.parquet
  rust/tests/data/simple_table_with_cdc/part-00000-996384f7-3fc5-4a5f-9921-6e56269ec2c9-c000.snappy.parquet
  rust/tests/read_delta_test.rs
Labels: python, rust, delta-rs-crate

#1032 refactor(api!): refactor Python APIs for getting file list
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_fs.py
  python/tests/test_table_read.py
Labels: python

#1043 feat: enable passing storage options to Delta table builder via DataFusion's CREATE EXTERNAL TABLE
  rust/src/delta.rs
  rust/src/delta_datafusion.rs
  rust/src/test_utils.rs
  rust/tests/common/datafusion.rs
  rust/tests/common/mod.rs
  rust/tests/datafusion_test.rs
  rust/tests/integration_datafusion.rs
Labels: rust, delta-rs-crate

#1016 feat: make `DeltaStorageHandler` pickle serializable
  python/Cargo.toml
  python/deltalake/fs.py
  python/deltalake/table.py
  python/src/filesystem.rs
  python/src/lib.rs
  python/tests/test_fs.py
Labels: python

#1014 feat: clean up dependencies and feature flags
  .github/workflows/build.yml
  python/Cargo.toml
  python/pyproject.toml
  rust/Cargo.toml
  rust/README.md
  rust/src/action/mod.rs
  rust/src/delta.rs
  rust/src/lib.rs
  rust/src/operations/mod.rs
  rust/src/operations/write.rs
  rust/src/storage/mod.rs
  rust/src/table_state.rs
  rust/src/time_utils.rs
  rust/tests/common/mod.rs
  rust/tests/datafusion_test.rs
  rust/tests/integration_datafusion.rs
Labels: python, rust, delta-rs-crate
