Repository delta-io/delta-rs, pull requests merged in 2023-07, with the labels that each got.

#1502 feat: implement restore operation
  rust/src/action/mod.rs
  rust/src/operations/mod.rs
  rust/src/operations/restore.rs
  rust/src/operations/transaction/mod.rs
  rust/tests/command_restore.rs
Labels: binding/rust, rust

#1504 chore: update datafusion and related crates
  docker-compose.yml
  python/Cargo.toml
  python/src/lib.rs
  python/src/schema.rs
  rust/Cargo.toml
  rust/src/action/checkpoints.rs
  rust/src/data_catalog/storage/mod.rs
  rust/src/delta_datafusion.rs
  rust/src/operations/delete.rs
  rust/src/operations/transaction/state.rs
  rust/src/operations/update.rs
  rust/src/storage/config.rs
  rust/src/storage/file.rs
  rust/src/storage/mod.rs
  rust/src/storage/s3.rs
  rust/src/storage/utils.rs
  rust/src/writer/json.rs
  rust/tests/datafusion_test.rs
  rust/tests/repair_s3_rename_test.rs
Labels: binding/python, binding/rust, rust

#1516 fix: tiny typo in AggregatedStats
  rust/src/writer/stats.rs
Labels: binding/rust, rust

#1512 refactor: unify with_predicate for delete ops
  rust/src/operations/delete.rs
  rust/src/operations/mod.rs
  rust/src/operations/update.rs
Labels: binding/rust, rust

#1520 fix: handle nulls in file-level stats
  .github/workflows/python_build.yml
  python/pyproject.toml
  python/src/lib.rs
  python/tests/test_table_read.py
Labels: binding/python

#1532 docs: show data catalog options in Python API reference
  python/deltalake/data_catalog.py
Labels: binding/python

#1511 chore: remove deprecated table functions
  rust/src/delta.rs
  rust/src/operations/transaction/mod.rs
  rust/src/writer/mod.rs
  rust/src/writer/test_utils.rs
  rust/tests/checkpoint_writer.rs
  rust/tests/command_optimize.rs
  rust/tests/commit_info_format.rs
  rust/tests/common/mod.rs
  rust/tests/data/concurrent_workers/_delta_log/00000000000000000000.json
  rust/tests/fs_common/mod.rs
  rust/tests/integration_commit.rs
  rust/tests/integration_concurrent_writes.rs
Labels: binding/rust, rust

#1536 chore: fix the latest clippy warnings with the newer rustc's
  rust/src/action/mod.rs
  rust/src/lib.rs
  rust/tests/command_filesystem_check.rs
  rust/tests/integration_object_store.rs
Labels: binding/rust, rust

#1519 feat: add nested struct supports
  rust/src/operations/write.rs
  rust/src/writer/test_utils.rs
Labels: binding/rust, rust

#1498 fix: avoid writing statistics for binary columns to fix JSON error
  rust/src/action/checkpoints.rs
  rust/src/action/parquet_read/mod.rs
  rust/src/writer/stats.rs
  rust/tests/checkpoint_writer.rs
Labels: binding/rust, rust

#1542 chore: increment python version
  python/Cargo.toml
Labels: binding/python

#1556 feat!: bulk delete for vacuum
  python/deltalake/table.py
  python/src/lib.rs
  rust/src/operations/vacuum.rs
Labels: binding/python, binding/rust, rust

#1560 feat: make find_files public
  rust/src/delta_datafusion.rs
Labels: binding/rust, rust

#1571 chore: update `datafusion` to `28` and arrow to `43`
  python/Cargo.toml
  rust/Cargo.toml
  rust/src/action/parquet_read/mod.rs
  rust/src/delta_datafusion.rs
  rust/src/operations/update.rs
  rust/src/table_state.rs
  rust/tests/checkpoint_writer.rs
Labels: binding/python, binding/rust, rust

#1575 chore: move deps to `[workspace.dependencies]`
  Cargo.toml
  python/Cargo.toml
  rust/Cargo.toml
Labels: binding/python, binding/rust, rust
