Repository delta-io/delta-rs, pull requests merged in 2023-03, with the labels that each got.

#1187 Enable passing Datafusion session state to WriteBuilder
  rust/src/operations/write.rs
  rust/tests/datafusion_test.rs
Labels: binding/rust, rust

#1192 chore: let dependabot ignore arrow and datafusion
  .github/dependabot.yml
Labels: ci

#1202 chore: increment dynamodb_lock version
  dynamodb_lock/Cargo.toml
Labels: rust, dynamodb_lock

#1155 docs(python): update docs
  python/CONTRIBUTING.md
  python/README.md
  python/deltalake/writer.py
  python/docs/source/index.rst
  python/docs/source/usage.rst
  python/tests/test_writer.py
Labels: documentation, binding/python

#1205 fix: load command for local tables
  rust/src/operations/load.rs
Labels: binding/rust, rust

#1167 Python write_deltalake fails if pyarrow table contains binary columns
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#1206 feat: extend configuration handling
  rust/src/delta_config.rs
  rust/src/lib.rs
  rust/src/operations/create.rs
  rust/src/operations/optimize.rs
  rust/src/table_properties.rs
  rust/src/table_state.rs
  rust/tests/checkpoint_writer.rs
Labels: binding/rust, rust

#1180 add boolean, date, timestamp & binary partition types
  rust/src/writer/utils.rs
Labels: binding/rust, rust

#1207 feat: typed commit info
  rust/src/action/mod.rs
  rust/src/action/parquet2_read/mod.rs
  rust/src/delta.rs
  rust/src/operations/create.rs
  rust/src/operations/filesystem_check.rs
  rust/src/operations/optimize.rs
  rust/src/operations/transaction.rs
  rust/src/operations/write.rs
  rust/src/storage/mod.rs
  rust/src/table_state.rs
  rust/tests/command_optimize.rs
  rust/tests/commit_info_format.rs
Labels: binding/rust, rust

#1213 Add monthly PyPi downloads badge to README
  README.adoc
Labels: documentation

#1179 Implement pruning on partition columns
  rust/src/builder.rs
  rust/src/delta_datafusion.rs
  rust/src/writer/record_batch.rs
  rust/tests/datafusion_test.rs
Labels: binding/rust, rust

#1217 build(deps): bump datafusion
  python/Cargo.toml
  rust/Cargo.toml
Labels: binding/python, binding/rust, rust

#1216 docs: update changelog for Rust 0.8.0 release
  CHANGELOG.md
  delta-inspect/Cargo.toml
  python/Cargo.toml
  rust/Cargo.toml
Labels: binding/python, binding/rust, rust, delta-inspect

#1212 Unique delta object store url
  rust/src/delta_datafusion.rs
  rust/src/storage/mod.rs
  rust/tests/datafusion_test.rs
Labels: binding/rust, rust

#1222 fix: make sure we handle data checking correctly
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_writer.py
Labels: binding/python

#1221 improve err msg on use of non-partitioned column
  python/tests/test_table_read.py
  rust/src/delta.rs
  rust/src/table_state.rs
Labels: binding/python, binding/rust, rust

#1242 Add Max Partitions Arg to Write
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#1243 feat: add package version
  python/deltalake/__init__.py
  python/deltalake/_internal.pyi
  python/src/lib.rs
Labels: binding/python

#1253 Fixed Documentation for `get_add_actions` function
  python/deltalake/table.py
Labels: binding/python
