Repository delta-io/delta-rs, pull requests merged in 2023-02, with the labels that each got.

#1114 chore: update datafusion
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  rust/Cargo.toml
  rust/src/action/parquet_read/mod.rs
Labels: binding/python, binding/rust, rust

#1103 Implement filesystem check
  rust/src/action/mod.rs
  rust/src/operations/filesystem_check.rs
  rust/src/operations/mod.rs
  rust/src/test_utils.rs
  rust/tests/command_filesystem_check.rs
Labels: binding/rust, rust

#1120 minor: optimize partition lookup for vacuum loop
  rust/src/operations/vacuum.rs
Labels: binding/rust, rust

#1121 add test for get_boolean_from_metadata
  rust/src/delta_config.rs
Labels: binding/rust, rust

#1129 Move roadmap to a pinned issue
  CONTRIBUTING.md
Labels: documentation

#1122 add test for min_max_schema_for_fields
  rust/src/delta_arrow.rs
Labels: binding/rust, rust

#1119 improve debuggability of json ser/de errors
  rust/src/action/mod.rs
  rust/src/delta.rs
  rust/src/operations/transaction.rs
  rust/src/schema.rs
  rust/src/table_state_arrow.rs
Labels: binding/rust, rust

#1133 Set AddAction timestamps to milliseconds. Fixes #1124
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#1135 add test for null_count_schema_for_fields
  rust/src/delta_arrow.rs
Labels: binding/rust, rust

#1097 Make rustls default across all packages
  .github/workflows/build.yml
  .github/workflows/lambda_checkpoint_build.yml
  aws/delta-checkpoint/Cargo.toml
  aws/delta-checkpoint/README.md
  aws/delta-checkpoint/src/main.rs
  aws/delta-checkpoint/tests/lambda_checkpoint.rs
  delta-inspect/Cargo.lock
  delta-inspect/Cargo.toml
  dynamodb_lock/Cargo.toml
  dynamodb_lock/tests/dynamodb_lock_test.rs
  glibc_version/src/lib.rs
  python/Cargo.toml
  rust/Cargo.toml
  rust/README.md
  rust/src/delta.rs
  rust/src/delta_config.rs
  rust/src/lib.rs
  rust/src/operations/create.rs
  rust/src/storage/config.rs
  rust/src/storage/mod.rs
  rust/tests/command_filesystem_check.rs
  rust/tests/commit_info_format.rs
  rust/tests/common/adls.rs
  rust/tests/common/mod.rs
  rust/tests/common/s3.rs
  rust/tests/integration_checkpoint.rs
  rust/tests/integration_commit.rs
  rust/tests/integration_concurrent_writes.rs
  rust/tests/integration_datafusion.rs
  rust/tests/integration_object_store.rs
  rust/tests/integration_read.rs
  rust/tests/repair_s3_rename_test.rs
Labels: binding/ruby, binding/python, binding/rust, storage/aws, rust, dynamodb_lock, delta-inspect, delta-checkpoint, glibc_version

#1137 chore(rust): update rust changelog for 0.7.0
  CHANGELOG-old.md
  CHANGELOG.md
  delta-inspect/Cargo.toml
  dev/release/update_change_log.sh
  rust/Cargo.toml
Labels: binding/rust, rust, delta-inspect

#1139 chore: remove star dependencies
  rust/Cargo.toml
Labels: binding/rust, rust

#1138 add function & test for parsing table_or_uri
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/conf.py
  python/tests/test_writer.py
Labels: documentation, binding/python

#1147 use Path object in writer tests
  python/tests/test_writer.py
Labels: binding/python

#1166 fix typo
  rust/src/storage/s3.rs
Labels: binding/rust, rust

#1159 add test for extract_partition_values
  rust/src/writer/json.rs
Labels: binding/rust, rust

#1115 fix: avoid some allocations in DeltaStorageHandler
  python/src/filesystem.rs
  python/tests/test_fs.py
Labels: binding/python

#1158 first setup of ruff for python linting
  .github/workflows/python_build.yml
  python/Makefile
  python/deltalake/schema.py
  python/deltalake/writer.py
  python/docs/source/_ext/edit_on_github.py
  python/docs/source/conf.py
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/pyspark_integration/test_write_to_pyspark.py
  python/tests/pyspark_integration/test_writer_readable.py
  python/tests/test_schema.py
  python/tests/test_table_read.py
  python/tests/test_vacuum.py
  python/tests/test_writer.py
Labels: documentation, binding/python

#1154 feat: move and update Optimize operation
  python/Cargo.toml
  python/deltalake/table.py
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/schema.rs
  rust/Cargo.toml
  rust/examples/recordbatch-writer.rs
  rust/src/lib.rs
  rust/src/operations/mod.rs
  rust/src/operations/optimize.rs
  rust/src/operations/writer.rs
  rust/src/storage/mod.rs
  rust/src/storage/utils.rs
  rust/src/writer/json.rs
  rust/tests/command_optimize.rs
Labels: binding/python, binding/rust, rust

#1101 Selectively overwrite data with python
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_writer.py
Labels: binding/python

#1183 fix: update out-of-date doc about datafusion
  rust/src/lib.rs
Labels: binding/rust, rust
