Repository delta-io/delta-rs, pull requests merged in 2023-12, with the labels that each got.

#1902 fix: prune each merge bin with only 1 file
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/tests/command_optimize.rs
Labels: binding/rust, crate/core

#1809 fix: support os.PathLike for table references
  python/deltalake/table.py
Labels: binding/python

#1928 fix: get rid of panic in during table
  crates/deltalake-core/src/lib.rs
  crates/deltalake-core/src/table/builder.rs
Labels: binding/rust, crate/core

#1926 fix(rust/python): `optimize.compact` not working with tables with mixed large/normal arrow
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/src/operations/write.rs
  python/tests/test_optimize.py
Labels: binding/python, binding/rust, crate/core

#1932 feat(python): expose create to DeltaTable class
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_create.py
Labels: binding/python

#1935 refactor: prefer usage of metadata and protocol fields
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/kernel/actions/schemas.rs
  crates/deltalake-core/src/kernel/actions/types.rs
  crates/deltalake-core/src/lib.rs
  crates/deltalake-core/src/operations/convert_to_delta.rs
  crates/deltalake-core/src/operations/create.rs
  crates/deltalake-core/src/operations/restore.rs
  crates/deltalake-core/src/operations/transaction/test_utils.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
  crates/deltalake-core/src/protocol/mod.rs
  crates/deltalake-core/src/protocol/parquet_read/mod.rs
  crates/deltalake-core/src/storage/utils.rs
  crates/deltalake-core/src/table/builder.rs
  crates/deltalake-core/src/table/mod.rs
  crates/deltalake-core/src/table/state.rs
  crates/deltalake-core/src/writer/json.rs
  crates/deltalake-core/src/writer/mod.rs
  crates/deltalake-core/src/writer/record_batch.rs
  crates/deltalake-core/src/writer/stats.rs
  crates/deltalake-core/tests/common/mod.rs
  crates/deltalake-core/tests/fs_common/mod.rs
  crates/deltalake-core/tests/integration_concurrent_writes.rs
  crates/deltalake-core/tests/integration_read.rs
  crates/deltalake-core/tests/read_delta_log_test.rs
  crates/deltalake/examples/recordbatch-writer.rs
  python/src/lib.rs
Labels: binding/python, binding/rust, crate/core

#1940 chore: update runs-on value in python_release.yml
  .github/workflows/python_release.yml
  crates/deltalake/Cargo.toml
Labels: binding/rust

#1955 chore: relocate cast_record_batch into its own module to shed the datafusion dependency
  crates/deltalake-core/Cargo.toml
  crates/deltalake-core/src/operations/cast.rs
  crates/deltalake-core/src/operations/mod.rs
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/src/operations/write.rs
Labels: binding/rust, crate/core

#1941 fix: remove the get_data_catalog() function
  crates/deltalake-core/src/data_catalog/mod.rs
  crates/deltalake-core/src/lib.rs
  python/src/lib.rs
Labels: binding/python, binding/rust, crate/core

#1825 chore: break Glue support into its own crate without rusoto
  crates/deltalake-catalog-glue/Cargo.toml
  crates/deltalake-catalog-glue/Makefile
  crates/deltalake-catalog-glue/examples/demo.rs
  crates/deltalake-catalog-glue/src/lib.rs
  crates/deltalake-core/Cargo.toml
  crates/deltalake-core/README.md
  crates/deltalake-core/src/data_catalog/glue/mod.rs
  crates/deltalake-core/src/data_catalog/mod.rs
  crates/deltalake-core/src/lib.rs
  crates/deltalake-sql/src/planner.rs
  crates/deltalake/Cargo.toml
Labels: binding/rust, crate/core, crate/sql

#1954 fix: respect case sensitivity on operations
  crates/deltalake-core/src/delta_datafusion/expr.rs
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/operations/delete.rs
  crates/deltalake-core/src/operations/merge.rs
  crates/deltalake-core/src/operations/update.rs
Labels: binding/rust, crate/core

#1963 fix: handle empty table response in unity api
  crates/deltalake-core/src/data_catalog/unity/models.rs
Labels: binding/rust, crate/core

#1930 feat: update to include pyarrow-hotfix
  python/CONTRIBUTING.md
  python/deltalake/table.py
  python/pyproject.toml
  python/stubs/pyarrow_hotfix/__init__.pyi
Labels: binding/python

#1915 feat: check constraints
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/kernel/actions/types.rs
  crates/deltalake-core/src/kernel/mod.rs
  crates/deltalake-core/src/kernel/schema.rs
  crates/deltalake-core/src/operations/constraints.rs
  crates/deltalake-core/src/operations/mod.rs
  crates/deltalake-core/src/operations/transaction/protocol.rs
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/src/protocol/mod.rs
  crates/deltalake-core/src/table/mod.rs
  crates/deltalake-sql/src/planner.rs
  python/src/lib.rs
Labels: binding/python, binding/rust, crate/core, crate/sql

#1966 fix: enable S3 integration tests to be configured via environment vars
  crates/deltalake-core/src/test_utils.rs
  crates/deltalake-core/tests/integration_checkpoint.rs
  crates/deltalake-core/tests/integration_concurrent_writes.rs
  crates/deltalake-core/tests/integration_s3_dynamodb.rs
Labels: binding/rust, crate/core

#1970 fix: properly decode percent-encoded file paths coming from parquet checkpoints
  crates/deltalake-core/src/kernel/actions/mod.rs
  crates/deltalake-core/src/kernel/actions/serde_path.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
  crates/deltalake-core/src/protocol/parquet_read/mod.rs
  crates/deltalake-core/src/protocol/serde_path.rs
Labels: binding/rust, crate/core

#1982 fix: case sensitivity for z-order
  crates/deltalake-core/src/operations/optimize.rs
Labels: binding/rust, crate/core

#1979 refactor: trigger metadata retrieval only during `DeltaTable.metadata`
  python/deltalake/table.py
Labels: binding/python

#1985 fix: implement consistent formatting for constraint expressions
  crates/deltalake-core/src/delta_datafusion/expr.rs
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/operations/constraints.rs
Labels: binding/rust, crate/core

#1968 feat(python): combine load_version/load_with_datetime into `load_as_version`
  crates/deltalake-core/src/table/mod.rs
  crates/deltalake-core/tests/command_restore.rs
  python/deltalake/table.py
  python/tests/test_table_read.py
Labels: binding/python, binding/rust, crate/core

#1980 feat(python): add writer_properties to all operations
  python/deltalake/__init__.py
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
Labels: binding/python

#1973 feat(python): expose `add constraint` operation
  README.md
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/error.rs
  python/src/lib.rs
  python/tests/test_alter.py
Labels: binding/python

#1987 fix: flakey gcs test
  crates/deltalake-core/src/test_utils.rs
Labels: binding/rust, crate/core

#1958 feat: merge using partition filters
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/operations/merge.rs
Labels: binding/rust, crate/core

#1959 feat: cast list items to default before write with different item names
  crates/deltalake-core/src/operations/cast.rs
Labels: binding/rust, crate/core

#1999 chore: fix CI breaking lint issues
  crates/benchmarks/src/bin/merge.rs
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/kernel/arrow/mod.rs
  crates/deltalake-core/src/lib.rs
  crates/deltalake-core/tests/checkpoint_writer.rs
  crates/deltalake-core/tests/command_optimize.rs
Labels: binding/rust, crate/core

#1969 feat: omit unmodified files during merge write
  crates/benchmarks/src/bin/merge.rs
  crates/deltalake-core/src/delta_datafusion/logical.rs
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/operations/merge/barrier.rs
  crates/deltalake-core/src/operations/merge/mod.rs
Labels: binding/rust, crate/core
