Repository delta-io/delta-rs, pull requests merged in 2023-09, with the labels that each got.

#1594 fix: querying on date partitions (fixes #1445)
  rust/src/delta_arrow.rs
  rust/src/operations/transaction/state.rs
  rust/tests/integration_datafusion.rs
Labels: binding/rust, rust

#1615 perf: avoid holding GIL in DeltaFileSystemHandler
  .github/workflows/python_build.yml
  python/src/filesystem.rs
  python/tests/test_benchmark.py
Labels: binding/python

#1616 chore: bump python version to 0.10.2
  python/Cargo.toml
Labels: binding/python

#1622 ci: extend azure timeout
  python/tests/conftest.py
  python/tests/test_fs.py
Labels: binding/python

#1549 feat: buffered reading of transaction logs
  python/deltalake/table.py
  python/src/lib.rs
  rust/.gitignore
  rust/benches/read_checkpoint.rs
  rust/src/builder.rs
  rust/src/delta.rs
  rust/tests/fs_common/mod.rs
  rust/tests/read_delta_log_test.rs
Labels: binding/python, binding/rust, rust

#1522 feat: merge operation
  rust/src/action/mod.rs
  rust/src/operations/merge.rs
  rust/src/operations/mod.rs
  rust/src/operations/update.rs
Labels: binding/rust, rust

#1620 fix: change map nullable value to false
  rust/src/delta_arrow.rs
  rust/tests/integration_datafusion.rs
Labels: binding/rust, rust

#1613 fix: don't re-encode paths
  python/src/filesystem.rs
  python/tests/data_acceptance/test_reader.py
  python/tests/test_table_read.py
  rust/src/delta.rs
  rust/src/lib.rs
  rust/src/table_state.rs
Labels: binding/python, binding/rust, rust

#1440 docs: update Readme
  README.adoc
  README.md
  python/pyproject.toml
Labels: documentation, binding/python

#1634 chore: update datafusion to 31, arrow to 46 and object_store to 0.7
  Cargo.toml
  rust/Cargo.toml
  rust/src/operations/mod.rs
  rust/src/storage/mod.rs
  rust/src/writer/record_batch.rs
Labels: binding/rust, rust

#1635 chore: relax chrono pin to 0.4
  Cargo.toml
  python/src/filesystem.rs
Labels: binding/python

#1514 feat: expose create_checkpoint_for to the public
  rust/src/action/checkpoints.rs
Labels: binding/rust, rust

#1629 feat: implement parsing for the new `domainMetadata` actions in the commit log
  rust/src/action/mod.rs
  rust/src/table_state.rs
  rust/tests/data/table_with_liquid_clustering/_delta_log/.s3-optimization-0
  rust/tests/data/table_with_liquid_clustering/_delta_log/.s3-optimization-1
  rust/tests/data/table_with_liquid_clustering/_delta_log/.s3-optimization-2
  rust/tests/data/table_with_liquid_clustering/_delta_log/00000000000000000000.crc
  rust/tests/data/table_with_liquid_clustering/_delta_log/00000000000000000000.json
  rust/tests/data/table_with_liquid_clustering/part-00044-22c23f7f-2411-4d88-b78c-cebe430cdd47.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00089-b466c656-9b4a-41d6-ab41-f02007d1658c.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00134-34f9b771-c60a-4bd4-bdc0-cd25fcc951c6.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00179-76f56874-b389-409b-8a2d-18462928840e.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00223-24d8cffb-245d-4027-87d6-940fcf593a60.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00268-365db28b-f856-49e6-a25f-b0211cf95d20.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00313-c528546e-c8ab-425d-b49a-5afe731aaac8.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00358-5937ec73-64a5-44dd-a793-922e30c1b9df.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00403-6af19469-0fc5-4809-b02a-ddebda3966e8.c000.snappy.parquet
  rust/tests/data/table_with_liquid_clustering/part-00447-1755ad02-9b47-4287-8333-92cb01a5124b.c000.snappy.parquet
  rust/tests/read_delta_log_test.rs
Labels: binding/rust, rust

#1638 fix: include in-progress row group when calculating in-memory buffer length
  rust/src/writer/record_batch.rs
Labels: binding/rust, rust

#1621 feat: allow multiple incremental commits in optimize
  rust/src/operations/optimize.rs
  rust/tests/command_optimize.rs
Labels: binding/rust, rust

#1644 fix: avoid excess listing of log files
  rust/src/delta.rs
Labels: binding/rust, rust

#1630 feat: pass known file sizes to filesystem in Python
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/filesystem.rs
  python/src/lib.rs
  python/tests/test_file_system_handler.py
  python/tests/test_table_read.py
Labels: binding/python

#1338 feat: integrate unity catalog with datafusion
  .github/workflows/dev_pr/labeler.yml
  python/src/lib.rs
  rust/Cargo.toml
  rust/src/data_catalog/client/backoff.rs
  rust/src/data_catalog/client/mock_server.rs
  rust/src/data_catalog/client/mod.rs
  rust/src/data_catalog/client/pagination.rs
  rust/src/data_catalog/client/retry.rs
  rust/src/data_catalog/client/token.rs
  rust/src/data_catalog/mod.rs
  rust/src/data_catalog/unity/credential.rs
  rust/src/data_catalog/unity/datafusion.rs
  rust/src/data_catalog/unity/mod.rs
  rust/src/data_catalog/unity/models.rs
Labels: binding/python, binding/rust, rust

#1654 fix: enable offset listing for s3
  rust/src/storage/s3.rs
Labels: binding/rust, rust

#1647 fix: compensate for invalid log files created by Delta Live Tables
  rust/src/action/mod.rs
  rust/tests/data/delta-live-table/_delta_log/00000000000000000000.json
  rust/tests/data/delta-live-table/_delta_log/00000000000000000001.json
  rust/tests/read_delta_log_test.rs
Labels: binding/rust, rust

#1658 docs: make docs.rs build docs with all features enabled
  rust/Cargo.toml
Labels: binding/rust, rust

#1645 feat: expose min_commit_interval to `optimize.compact` and `optimize.z_order`
  python/deltalake/table.py
  python/docs/source/conf.py
  python/src/lib.rs
  python/tests/test_optimize.py
Labels: documentation, binding/python

#1660 docs: add docstring to protocol method
  python/deltalake/table.py
Labels: binding/python

#1661 fix: more consistent handling of partition values and file paths
  .gitignore
  python/deltalake/_util.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/tests/pyspark_integration/test_writer_readable.py
  python/tests/test_table_read.py
  python/tests/test_writer.py
  rust/Cargo.toml
  rust/examples/basic_operations.rs
  rust/examples/load_table.rs
  rust/examples/recordbatch-writer.rs
  rust/src/action/mod.rs
  rust/src/action/serde_path.rs
  rust/src/operations/restore.rs
  rust/src/operations/write.rs
  rust/src/operations/writer.rs
  rust/src/table_state.rs
  rust/src/writer/utils.rs
Labels: binding/python, binding/rust, rust

#1664 chore: increment python library version
  .github/workflows/python_release.yml
  python/Cargo.toml
Labels: binding/python

#1665 fix: exception string in writer.py
  python/deltalake/writer.py
Labels: binding/python

#1666 docs: small consistency update in guide and readme
  README.md
  python/docs/source/usage.rst
Labels: documentation, binding/python

#1668 feat: allow to set large dtypes for the schema check in `write_deltalake`
  python/deltalake/writer.py
Labels: binding/python

#1671 fix: change partitioning schema from large to normal string for pyarrow<12
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#1675 chore: bump rust crate version
  rust/Cargo.toml
Labels: binding/rust, rust

#1672 fix: use epoch instead of ce for date stats
  rust/src/writer/stats.rs
Labels: binding/rust, rust

#1677 docs: update readme in Rust directory
  rust/README.md
Labels: binding/rust, rust

#1678 fix: update the delta-inspect CLI to be build again by Cargo
  Cargo.toml
  delta-inspect/Cargo.toml
  delta-inspect/src/main.rs
Labels: rust, delta-inspect
