Repository delta-io/delta-rs, pull requests merged in 2023-11, with the labels that each got.

#1749 feat(python): allow python objects to be passed as new values in `.update()`
  python/deltalake/table.py
  python/tests/test_update.py
Labels: binding/python

#1750 feat(python): allow for multiple `when` calls in MERGE operation
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_merge.py
Labels: binding/python

#1804 fix(python): add support for pyarrow 13+
  crates/deltalake-core/src/operations/optimize.rs
  python/deltalake/writer.py
  python/pyproject.toml
  python/src/lib.rs
  python/tests/test_writer.py
Labels: binding/python

#1813 chore: fix typos
  crates/deltalake-core/src/data_catalog/storage/mod.rs
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/kernel/actions/types.rs
  crates/deltalake-core/src/operations/delete.rs
  crates/deltalake-core/src/operations/filesystem_check.rs
  crates/deltalake-core/src/operations/update.rs
  crates/deltalake-core/src/protocol/parquet2_read/mod.rs
  crates/deltalake-core/src/writer/utils.rs
  crates/deltalake-core/tests/command_filesystem_check.rs
  proofs/src/main.rs
Labels: rust, proofs

#1742 feat: default logstore implementation
  crates/deltalake-core/Cargo.toml
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/lib.rs
  crates/deltalake-core/src/logstore/default_logstore.rs
  crates/deltalake-core/src/logstore/mod.rs
  crates/deltalake-core/src/operations/create.rs
  crates/deltalake-core/src/operations/delete.rs
  crates/deltalake-core/src/operations/filesystem_check.rs
  crates/deltalake-core/src/operations/load.rs
  crates/deltalake-core/src/operations/merge.rs
  crates/deltalake-core/src/operations/mod.rs
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/src/operations/restore.rs
  crates/deltalake-core/src/operations/transaction/mod.rs
  crates/deltalake-core/src/operations/transaction/test_utils.rs
  crates/deltalake-core/src/operations/update.rs
  crates/deltalake-core/src/operations/vacuum.rs
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/src/operations/writer.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
  crates/deltalake-core/src/protocol/mod.rs
  crates/deltalake-core/src/storage/config.rs
  crates/deltalake-core/src/storage/mod.rs
  crates/deltalake-core/src/storage/utils.rs
  crates/deltalake-core/src/table/builder.rs
  crates/deltalake-core/src/table/mod.rs
  crates/deltalake-core/src/table/state.rs
  crates/deltalake-core/src/test_utils.rs
  crates/deltalake-core/src/writer/json.rs
  crates/deltalake-core/src/writer/mod.rs
  crates/deltalake-core/src/writer/record_batch.rs
  crates/deltalake-core/src/writer/test_utils.rs
  crates/deltalake-core/tests/command_optimize.rs
  crates/deltalake-core/tests/command_vacuum.rs
  crates/deltalake-core/tests/commit_info_format.rs
  crates/deltalake-core/tests/common/mod.rs
  crates/deltalake-core/tests/fs_common/mod.rs
  crates/deltalake-core/tests/integration_checkpoint.rs
  crates/deltalake-core/tests/integration_concurrent_writes.rs
  crates/deltalake-core/tests/integration_datafusion.rs
  crates/deltalake-core/tests/integration_object_store.rs
  crates/deltalake-core/tests/integration_read.rs
  crates/deltalake-core/tests/repair_s3_rename_test.rs
  python/src/filesystem.rs
  python/src/lib.rs
Labels: enhancement, binding/python, binding/rust

#1830 fix: run integration tests in CI
  .github/workflows/build.yml
  crates/deltalake-core/tests/repair_s3_rename_test.rs
Labels: binding/rust, crate/core

#1686 feat: add convert_to_delta
  crates/deltalake-core/src/kernel/schema.rs
  crates/deltalake-core/src/operations/convert_to_delta.rs
  crates/deltalake-core/src/operations/mod.rs
  crates/deltalake-core/src/schema/partitions.rs
  crates/deltalake-core/src/writer/utils.rs
Labels: binding/rust, crate/core

#1841 ci: adopt `ruff format` for formatting
  python/Makefile
  python/pyproject.toml
  python/tests/test_table_read.py
Labels: binding/python

#1852 fix: compile error with lifetime issues on optimize (#1843)
  crates/deltalake-core/src/operations/optimize.rs
Labels: binding/rust, crate/core

#1863 fix: prevent writing checkpoints with a version that does not exist in table state
  crates/deltalake-core/src/protocol/checkpoints.rs
Labels: bug, binding/rust, crate/core

#1859 feat: drop python 3.7 and adopt 3.12
  .github/workflows/python_build.yml
  README.md
  python/Cargo.toml
  python/pyproject.toml
Labels: binding/python

#1866 docs: tell how to claim an issue
  CONTRIBUTING.md
Labels: documentation

#1848 fix: checkpoint error with Azure Synapse
  crates/deltalake-core/src/operations/update.rs
  crates/deltalake-core/src/table/mod.rs
Labels: binding/rust, crate/core

#1871 chore: clippy
  crates/deltalake-core/src/operations/transaction/conflict_checker.rs
Labels: binding/rust, crate/core

#1775 chore: upgrade datafusion 33
  Cargo.toml
  crates/deltalake-core/Cargo.toml
  crates/deltalake-core/src/delta_datafusion/expr.rs
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/operations/mod.rs
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/src/operations/transaction/state.rs
  crates/deltalake-core/tests/integration_datafusion.rs
  crates/deltalake-sql/src/planner.rs
  python/Cargo.toml
Labels: binding/python, binding/rust, crate/core, crate/sql

#1807 feat: handle protocol compatibility
  crates/deltalake-core/Cargo.toml
  crates/deltalake-core/benches/read_checkpoint.rs
  crates/deltalake-core/src/kernel/actions/types.rs
  crates/deltalake-core/src/operations/create.rs
  crates/deltalake-core/src/operations/delete.rs
  crates/deltalake-core/src/operations/load.rs
  crates/deltalake-core/src/operations/merge.rs
  crates/deltalake-core/src/operations/mod.rs
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/src/operations/restore.rs
  crates/deltalake-core/src/operations/transaction/mod.rs
  crates/deltalake-core/src/operations/transaction/protocol.rs
  crates/deltalake-core/src/operations/transaction/test_utils.rs
  crates/deltalake-core/src/operations/update.rs
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/tests/integration_concurrent_writes.rs
Labels: binding/rust, crate/core

#1876 refactor: express log schema in delta types
  crates/deltalake-core/src/kernel/actions/arrow.rs
  crates/deltalake-core/src/kernel/actions/mod.rs
  crates/deltalake-core/src/kernel/actions/schemas.rs
  crates/deltalake-core/src/kernel/actions/types.rs
  crates/deltalake-core/src/kernel/arrow/mod.rs
  crates/deltalake-core/src/kernel/arrow/schemas.rs
  crates/deltalake-core/src/kernel/error.rs
  crates/deltalake-core/src/kernel/mod.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
  crates/deltalake-core/src/table/config.rs
Labels: binding/rust, crate/core

#1842 feat(python): expose `convert_to_deltalake`
  crates/deltalake-core/src/operations/convert_to_delta.rs
  crates/deltalake-core/src/protocol/mod.rs
  python/deltalake/__init__.py
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_convert_to_delta.py
Labels: binding/python, binding/rust, crate/core

#1720 refactor: merge to use logical plans
  crates/deltalake-core/src/delta_datafusion/logical.rs
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/delta_datafusion/physical.rs
  crates/deltalake-core/src/operations/merge.rs
  crates/deltalake-core/src/operations/mod.rs
  crates/deltalake-core/src/operations/update.rs
Labels: binding/rust, rust, crate/core

#1857 feat: create benchmarks for merge
  crates/benchmarks/Cargo.toml
  crates/benchmarks/README.md
  crates/benchmarks/src/bin/merge.rs
Labels: binding/rust

#1883 fix: improve catalog failure error message, add missing Glue native-tls feature dependency
  crates/deltalake-core/src/data_catalog/mod.rs
  crates/deltalake-core/src/lib.rs
  python/src/lib.rs
Labels: binding/python, binding/rust, crate/core

#1836 fix: use physical name for column name lookup in partitions
  crates/deltalake-core/src/errors.rs
  crates/deltalake-core/src/kernel/error.rs
  crates/deltalake-core/src/kernel/schema.rs
  crates/deltalake-core/src/protocol/mod.rs
  crates/deltalake-core/src/table/config.rs
  crates/deltalake-core/src/table/state_arrow.rs
  crates/deltalake-core/tests/data/table_with_column_mapping/8v/part-00001-69b4a452-aeac-4ffa-bf5c-a0c2833d05eb.c000.zstd.parquet
  crates/deltalake-core/tests/data/table_with_column_mapping/BH/part-00000-4d6e745c-8e04-48d9-aa60-438228358f1a.c000.zstd.parquet
  crates/deltalake-core/tests/data/table_with_column_mapping/_delta_log/00000000000000000000.crc
  crates/deltalake-core/tests/data/table_with_column_mapping/_delta_log/00000000000000000000.json
Labels: binding/rust, crate/core

#1840 ci: run doctest in CI for Python API examples
  .github/workflows/python_build.yml
  python/Makefile
  python/conftest.py
  python/deltalake/table.py
  python/pyproject.toml
Labels: binding/python

#1820 feat(python): add pyarrow to delta compatible schema conversion in writer/merge
  python/deltalake/schema.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/licenses/README.md
  python/licenses/deltalake_license.txt
  python/licenses/polars_license.txt
  python/pyproject.toml
  python/stubs/pyarrow/__init__.pyi
  python/tests/test_schema.py
  python/tests/test_writer.py
Labels: binding/python

#1913 feat: add more info for contributors
  CONTRIBUTING.md
  python/Makefile
Labels: documentation, binding/python

#1891 feat(python): expose rust writer as additional engine v2
  crates/deltalake-core/src/lib.rs
  crates/deltalake-core/src/operations/delete.rs
  crates/deltalake-core/src/operations/merge.rs
  crates/deltalake-core/src/operations/mod.rs
  crates/deltalake-core/src/operations/update.rs
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
  crates/deltalake-core/src/writer/utils.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_benchmark.py
  python/tests/test_writer.py
Labels: binding/python, binding/rust, crate/core

#1911 fix: add buffer flushing to filesystem writes
  python/src/filesystem.rs
Labels: binding/python

#1922 feat: extend write_deltalake to accept Deltalake schema
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#1885 test: loading version 0 Delta table
  crates/deltalake-core/src/lib.rs
Labels: binding/rust, crate/core

#1895 feat: compare timestamp partition values as timestamps instead of strings
  crates/deltalake-core/src/schema/partitions.rs
  crates/deltalake-core/tests/read_delta_partitions_test.rs
Labels: binding/rust, crate/core

#1887 feat: add high-level checking for append-only tables
  crates/deltalake-core/src/operations/delete.rs
  crates/deltalake-core/src/operations/transaction/protocol.rs
  crates/deltalake-core/src/operations/update.rs
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/src/protocol/mod.rs
Labels: binding/rust, crate/core
