Repository delta-io/delta-rs, pull requests merged in 2023-04, with the labels that each got.

#632 feat: optimistic transaction protocol
  rust/Cargo.toml
  rust/src/action/mod.rs
  rust/src/delta.rs
  rust/src/delta_datafusion.rs
  rust/src/operations/create.rs
  rust/src/operations/filesystem_check.rs
  rust/src/operations/optimize.rs
  rust/src/operations/transaction/conflict_checker.rs
  rust/src/operations/transaction/mod.rs
  rust/src/operations/transaction/state.rs
  rust/src/operations/transaction/test_utils.rs
  rust/src/operations/write.rs
  rust/src/storage/config.rs
  rust/tests/command_filesystem_check.rs
  rust/tests/command_optimize.rs
Labels: binding/rust, rust

#1264 Pin pandas for the Python binding to <2
  python/pyproject.toml
Labels: binding/python

#1265 Simplify the Store Backend Configuration code
  rust/src/storage/config.rs
  rust/src/storage/mod.rs
Labels: binding/rust, rust

#1258 Fix names and nullability when creating RecordBatch from MapArray
  rust/src/delta_arrow.rs
Labels: binding/rust, rust

#1276 Updated README.doc to fix broken slack channel join link
  README.adoc
Labels: documentation

#1275 feat: use new conflict checker in Python
  python/src/lib.rs
  python/tests/test_writer.py
  rust/src/operations/transaction/conflict_checker.rs
  rust/src/operations/transaction/mod.rs
Labels: binding/python, binding/rust, rust

#1281 Add description of decimal primitive to SchemaDataType
  rust/src/schema.rs
Labels: binding/rust, rust

#1266 feat: read schema from parquet files in datafusion scans
  rust/src/delta_datafusion.rs
  rust/src/operations/load.rs
  rust/src/operations/mod.rs
  rust/src/operations/transaction/state.rs
  rust/tests/datafusion_test.rs
Labels: binding/rust, rust

#1279 HDFS storage support via datafusion-objectstore-hdfs
  .github/workflows/build.yml
  README.adoc
  rust/Cargo.toml
  rust/README.md
  rust/src/data_catalog/mod.rs
  rust/src/storage/config.rs
  rust/src/test_utils.rs
  rust/tests/command_filesystem_check.rs
  rust/tests/common/hdfs.rs
  rust/tests/common/mod.rs
  rust/tests/integration_checkpoint.rs
  rust/tests/integration_commit.rs
  rust/tests/integration_concurrent_writes.rs
  rust/tests/integration_datafusion.rs
  rust/tests/integration_object_store.rs
  rust/tests/integration_read.rs
Labels: documentation, binding/rust, rust

#1288 chore: df / arrow changes after update
  rust/Cargo.toml
  rust/src/delta_arrow.rs
  rust/src/delta_datafusion.rs
  rust/src/operations/transaction/state.rs
  rust/tests/datafusion_test.rs
Labels: binding/rust, rust

#1307 Hide the parquet/json feature behind our own JSON feature
  rust/Cargo.toml
  rust/README.md
Labels: binding/rust, rust

#1311 fix: allow special characters in storage prefix
  rust/src/builder.rs
  rust/src/delta.rs
  rust/src/storage/config.rs
  rust/src/storage/file.rs
  rust/src/storage/mod.rs
  rust/src/test_utils.rs
  rust/tests/integration_concurrent_writes.rs
  rust/tests/integration_object_store.rs
  rust/tests/integration_read.rs
Labels: binding/rust, rust

#1318 docs: update message since we fixed the commit logic
  rust/src/operations/optimize.rs
Labels: binding/rust, rust
