Repository delta-io/delta-rs, pull requests merged in 2023-08, with the labels that each got.

#1576 fix: correct whitespace in delta protocol reader minimum version error message
  python/deltalake/table.py
Labels: binding/python

#1529 feat: add restore command in python binding
  python/deltalake/table.py
  python/docs/source/conf.py
  python/docs/source/usage.rst
  python/src/lib.rs
  python/tests/test_restore.py
  rust/src/operations/restore.rs
  rust/tests/command_restore.rs
Labels: documentation, binding/python, binding/rust, rust

#1578 fix: remove alpha classifier
  python/pyproject.toml
Labels: binding/python

#1573 refactor: use pa.table.cast in delta_arrow_schema_from_pandas
  python/deltalake/schema.py
Labels: binding/python

#1584 feat: add metadata for operations::write::WriteBuilder
  rust/src/operations/write.rs
Labels: binding/rust, rust

#1590 refactor: clean up arrow schema defs
  rust/src/delta_arrow.rs
Labels: binding/rust, rust

#1603 fix: just make pyarrow 12 the max
  python/deltalake/writer.py
  python/pyproject.toml
  python/src/lib.rs
  python/tests/conftest.py
  rust/src/action/checkpoints.rs
  rust/src/action/mod.rs
  rust/src/delta.rs
  rust/src/delta_arrow.rs
  rust/src/delta_datafusion.rs
  rust/src/operations/transaction/state.rs
  rust/src/storage/file.rs
Labels: binding/python, binding/rust, rust

#1599 fix: support partial statistics in JSON
  rust/src/action/mod.rs
Labels: binding/rust, rust

#1608 fix: update python test
  python/tests/test_table_read.py
  rust/src/delta_datafusion.rs
  rust/src/storage/utils.rs
  rust/tests/command_restore.rs
Labels: binding/python, binding/rust, rust

#1606 chore: update datafusion to 30, arrow to 45
  Cargo.toml
  rust/Cargo.toml
  rust/src/operations/optimize.rs
  rust/tests/command_restore.rs
Labels: binding/rust, rust
