Repository delta-io/delta-rs, pull requests merged in 2023-01, with the labels that each got.

#1047 bump version for dynamodb_lock crate
  dynamodb_lock/Cargo.toml
Labels: rust, dynamodb_lock

#1045 refactor: move vacuum command to operations module
  python/src/lib.rs
  python/tests/test_vacuum.py
  rust/src/action/mod.rs
  rust/src/builder/mod.rs
  rust/src/delta.rs
  rust/src/lib.rs
  rust/src/operations/create.rs
  rust/src/operations/mod.rs
  rust/src/operations/transaction.rs
  rust/src/operations/vacuum.rs
  rust/src/table_state.rs
  rust/src/vacuum.rs
  rust/tests/command_vacuum.rs
  rust/tests/common/clock.rs
  rust/tests/common/mod.rs
  rust/tests/read_delta_test.rs
Labels: python, rust, delta-rs-crate

#1058 Expose checkpoint creation for current table state in python
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_checkpoint.py
Labels: python

#1033 feat: expose function to get table of add actions
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_table_read.py
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/table_state.rs
  rust/src/table_state_arrow.rs
  rust/tests/add_actions_test.rs
Labels: python, rust, delta-rs-crate

#1052 feat: harmonize and simplify storage configuration
  python/docs/source/usage.rst
  python/tests/test_fs.py
  rust/Cargo.toml
  rust/src/builder.rs
  rust/src/builder/azure.rs
  rust/src/builder/google.rs
  rust/src/operations/create.rs
  rust/src/storage/config.rs
  rust/src/storage/mod.rs
  rust/src/storage/s3.rs
Labels: documentation, python, rust, delta-rs-crate

#1065 feat: improve storage location handling
  rust/src/builder.rs
  rust/src/delta.rs
  rust/src/delta_datafusion.rs
  rust/src/operations/create.rs
  rust/src/operations/load.rs
  rust/src/operations/transaction.rs
  rust/src/storage/config.rs
  rust/src/storage/mod.rs
  rust/src/storage/s3.rs
  rust/src/storage/utils.rs
  rust/tests/add_actions_test.rs
  rust/tests/checkpoint_writer.rs
  rust/tests/datafusion_test.rs
  rust/tests/fs_common/mod.rs
Labels: rust, delta-rs-crate

#1071 fix: datafusion predicate pushdown and dependencies
  python/Cargo.toml
  rust/Cargo.toml
  rust/src/delta_arrow.rs
  rust/src/delta_datafusion.rs
  rust/src/operations/load.rs
  rust/src/table_state_arrow.rs
Labels: python, rust, delta-rs-crate

#1054 Save operational params in the same way with delta io
  rust/src/action/mod.rs
  rust/tests/command_optimize.rs
  rust/tests/commit_info_format.rs
Labels: enhancement, binding/rust, rust, delta-rs-crate

#1072 Fix typo in delta-inspect
  delta-inspect/src/main.rs
Labels: rust, delta-inspect

#1077 Add missing documentation metadata to Cargo.toml
  rust/Cargo.toml
Labels: rust, delta-rs-crate

#1086 Add test for: to_scalar_value
  rust/src/delta_datafusion.rs
Labels: binding/rust, rust

#909 test: add Data Acceptance Tests
  .github/workflows/python_build.yml
  python/.gitignore
  python/Makefile
  python/tests/data_acceptance/__init__.py
  python/tests/data_acceptance/test_reader.py
Labels: binding/python, python

#1098 Bump deltalake-python version to 0.7.0
  python/Cargo.toml
Labels: binding/python

#1102 chore: remove unmaintained ruby bindings
  .github/workflows/ruby_build.yml
  Cargo.toml
  README.adoc
  ruby/.gitignore
  ruby/Cargo.toml
  ruby/Gemfile
  ruby/Rakefile
  ruby/lib/deltalake.rb
  ruby/lib/deltalake/version.rb
  ruby/spec/deltalake_spec.rb
  ruby/spec/spec_helper.rb
  ruby/src/lib.rs
Labels: documentation, binding/ruby

#1106 chore: clippy
  delta-inspect/Cargo.lock
  delta-inspect/src/main.rs
  dynamodb_lock/src/lib.rs
  glibc_version/src/lib.rs
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/schema.rs
  rust/examples/read_delta_table.rs
  rust/src/action/mod.rs
  rust/src/action/parquet_read/mod.rs
  rust/src/checkpoints.rs
  rust/src/delta.rs
  rust/src/delta_arrow.rs
  rust/src/delta_config.rs
  rust/src/operations/create.rs
  rust/src/operations/transaction.rs
  rust/src/optimize.rs
  rust/src/partitions.rs
  rust/src/schema.rs
  rust/src/storage/file.rs
  rust/src/table_state.rs
  rust/src/table_state_arrow.rs
  rust/src/writer/mod.rs
  rust/src/writer/stats.rs
  rust/src/writer/utils.rs
  rust/tests/checkpoint_writer.rs
  rust/tests/read_delta_partitions_test.rs
Labels: binding/python, binding/rust, rust, dynamodb_lock, delta-inspect, glibc_version

#1107 Delete lasted Ruby references
  .github/CODEOWNERS
  .github/workflows/dev_pr/labeler.yml
  .ignore
  README.adoc
  dev/release/update_change_log.sh
Labels: documentation

#1110 add test for left_larger_than_right
  rust/src/delta_datafusion.rs
Labels: binding/rust, rust

#1085 Add an example of writing to a delta table with a RecordBatch
  rust/Cargo.toml
  rust/examples/recordbatch-writer.rs
Labels: binding/rust, rust

#1112 fix: change unexpected field logging level to debug
  rust/src/action/parquet_read/mod.rs
Labels: binding/rust, rust
