Repository delta-io/delta-rs, pull requests merged in 2023-05, with the labels that each got.

#1322 fix: handle local paths on windows
  rust/src/builder.rs
  rust/src/storage/config.rs
Labels: binding/rust, rust

#1324 fix: double url encode of partition key
  rust/src/delta_datafusion.rs
  rust/src/operations/transaction/state.rs
  rust/src/storage/utils.rs
  rust/tests/read_delta_partitions_test.rs
Labels: binding/rust, rust

#1332 fix: documentation typo fix
  python/docs/source/usage.rst
Labels: documentation, binding/python

#1313 feat: add optimize command in python binding
  python/deltalake/table.py
  python/docs/source/usage.rst
  python/src/lib.rs
  python/tests/test_optimize.py
Labels: documentation, binding/python

#1335 chore: increment python version
  python/Cargo.toml
Labels: binding/python

#1331 feat: added support for Databricks Unity Catalog
  python/Cargo.toml
  python/deltalake/data_catalog.py
  python/docs/source/usage.rst
  rust/Cargo.toml
  rust/src/data_catalog/mod.rs
  rust/src/data_catalog/unity/mod.rs
Labels: documentation, binding/python, binding/rust, rust

#1337 feat: update incremental after operations
  python/deltalake/table.py
  python/deltalake/writer.py
  python/tests/test_optimize.py
  python/tests/test_writer.py
Labels: binding/python

#1339 ci(python): fix release script to use environment variable
  .github/workflows/python_release.yml
  python/pyproject.toml
Labels: binding/python

#1341 test: add some missing unit and doc tests for DeltaTablePartition
  rust/src/partitions.rs
Labels: binding/rust, rust

#1176 feat: delete operation
  rust/src/delta_datafusion.rs
  rust/src/operations/delete.rs
  rust/src/operations/mod.rs
  rust/src/operations/write.rs
  rust/src/writer/test_utils.rs
  rust/tests/datafusion_test.rs
Labels: binding/rust, rust

#1350 fix: add py.typed marker
  python/deltalake/py.typed
Labels: binding/python

#1349 feat(python): add filters argument to DeltaTable.to_pandas() for filter pushdown
  python/deltalake/table.py
  python/stubs/pyarrow/dataset.pyi
  python/tests/test_table_read.py
Labels: binding/python

#1346 chore: update Rust package version
  rust/Cargo.toml
Labels: binding/rust, rust

#1342 fix: include stats for all columns (#1223)
  rust/src/table_state_arrow.rs
  rust/tests/add_actions_test.rs
Labels: binding/rust, rust

#1365 fix: allow user defined config keys
  python/src/lib.rs
  python/tests/test_writer.py
  rust/src/operations/create.rs
Labels: binding/python, binding/rust, rust

#1373 fix: add conversion for string for `Field::TimestampMicros` (#1372)
  rust/src/action/parquet_read/mod.rs
Labels: binding/rust, rust

#1377 docs: updated schema.rs to use the right signature for decimal data type in documentation
  python/src/schema.rs
Labels: binding/python

#1375 fix: delete operation when partition and non partition columns are used
  rust/src/operations/delete.rs
  rust/src/operations/transaction/state.rs
Labels: binding/rust, rust

#1382 feat: vacuum with concurrent requests
  rust/src/operations/vacuum.rs
Labels: binding/rust, rust

#1388 refactor!: remove `DeltaDataType` aliases
  aws/delta-checkpoint/src/main.rs
  python/src/lib.rs
  rust/src/action/mod.rs
  rust/src/action/parquet2_read/mod.rs
  rust/src/builder.rs
  rust/src/checkpoints.rs
  rust/src/delta.rs
  rust/src/operations/delete.rs
  rust/src/operations/filesystem_check.rs
  rust/src/operations/optimize.rs
  rust/src/operations/transaction/conflict_checker.rs
  rust/src/operations/transaction/mod.rs
  rust/src/operations/vacuum.rs
  rust/src/schema.rs
  rust/src/storage/mod.rs
  rust/src/table_state.rs
  rust/src/table_state_arrow.rs
  rust/src/writer/mod.rs
  rust/src/writer/stats.rs
Labels: binding/python, binding/rust, storage/aws, rust, delta-checkpoint

#1389 chore: bump datafusion to 25
  python/Cargo.toml
  rust/Cargo.toml
  rust/examples/recordbatch-writer.rs
  rust/src/operations/delete.rs
  rust/src/table_state_arrow.rs
  rust/tests/add_actions_test.rs
Labels: binding/python, binding/rust, rust

#1396 perf: improve record batch partitioning
  rust/Cargo.toml
  rust/src/writer/record_batch.rs
Labels: binding/rust, rust

#1397 feat: more efficient parquet writer and more statistics
  rust/src/operations/writer.rs
  rust/src/writer/json.rs
  rust/src/writer/mod.rs
  rust/src/writer/record_batch.rs
  rust/src/writer/stats.rs
  rust/src/writer/test_utils.rs
Labels: binding/rust, rust

#1381 feat: add datafusion storage catalog
  rust/Cargo.toml
  rust/src/data_catalog/mod.rs
  rust/src/data_catalog/storage/mod.rs
Labels: binding/rust, rust

#1405 chore: bump the version for the next release
  rust/Cargo.toml
Labels: binding/rust, rust

#1406 chore: remove ancillary crates from the git tree
  .github/workflows/dev_pr/labeler.yml
  Cargo.toml
  dynamodb_lock/Cargo.toml
  dynamodb_lock/README.md
  dynamodb_lock/src/lib.rs
  glibc_version/Cargo.toml
  glibc_version/README.md
  glibc_version/src/lib.rs
  rust/Cargo.toml
Labels: binding/rust, rust, dynamodb_lock, glibc_version

#1407 chore: type-check friendlier exports
  python/deltalake/__init__.py
  python/deltalake/_internal.pyi
  python/pyproject.toml
  python/src/lib.rs
Labels: binding/python

#1410 feat: add list_with_offset to DeltaObjectStore
  rust/src/storage/mod.rs
Labels: binding/rust, rust

#1414 docs: update features table in README
  README.adoc
Labels: documentation
