Repository delta-io/delta-rs, pull requests merged in 2023-10, with the labels that each got.

#1673 fix: unify environment variables referenced by Databricks docs
  rust/Cargo.toml
  rust/src/data_catalog/unity/mod.rs
Labels: binding/rust, rust

#1693 docs: get docs.rs configured correctly again
  rust/Cargo.toml
Labels: binding/rust, rust

#1690 fix!: ensure predicates are parsable
  rust/src/delta_datafusion/expr.rs
  rust/src/delta_datafusion/mod.rs
  rust/src/operations/delete.rs
  rust/src/operations/merge.rs
  rust/src/operations/mod.rs
  rust/src/operations/transaction/conflict_checker.rs
  rust/src/operations/transaction/state.rs
  rust/src/operations/update.rs
Labels: binding/rust, rust

#1687 feat(python): expose delete operation
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_delete.py
  rust/src/operations/delete.rs
Labels: binding/python, binding/rust, rust

#1688 feat: support CREATE OR REPLACE
  rust/src/operations/create.rs
Labels: binding/rust, rust

#1707 chore: fix new clippy lints introduced in Rust 1.73
  rust/src/operations/optimize.rs
  rust/src/protocol/mod.rs
Labels: binding/rust, rust

#1563 docs: add Python API reference to mkdocs
  docs/python_api.md
  docs/requirements.txt
  docs/usage/examining-table.md
  docs/usage/index.md
  docs/usage/loading-table.md
  mkdocs.yml
  python/Makefile
  python/deltalake/_internal.pyi
  python/docs/source/conf.py
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/schema.rs
Labels: documentation, binding/python

#1704 docs(python): document the delete operation
  README.md
  python/docs/source/usage.rst
Labels: documentation, binding/python

#1709 feat: improve read performance by 7x with prebuffer
  python/deltalake/table.py
  python/stubs/pyarrow/dataset.pyi
Labels: binding/python

#1711 docs: add a write example to delta.rs
  rust/src/operations/write.rs
Labels: binding/rust, rust

#1710 feat: add version number in `.history()` and display in reversed chronological order
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_table_read.py
  rust/src/table/mod.rs
Labels: binding/python, binding/rust, rust

#1694 feat(python): expose UPDATE operation
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/docs/source/usage.rst
  python/src/lib.rs
  python/tests/test_update.py
  rust/src/operations/update.rs
Labels: documentation, binding/python, binding/rust, rust

#1705 fix: merge operation with string predicates
  rust/src/delta_datafusion/expr.rs
  rust/src/operations/merge.rs
  rust/src/operations/mod.rs
  rust/src/operations/transaction/state.rs
Labels: binding/rust, rust

#1725 refactor!: remove a layer of lifetimes from PartitionFilter
  python/src/lib.rs
  rust/src/lib.rs
  rust/src/operations/optimize.rs
  rust/src/schema/partitions.rs
  rust/src/table/mod.rs
  rust/src/table/state.rs
  rust/tests/read_delta_partitions_test.rs
Labels: binding/python, binding/rust, rust

#1685 feat(python): expose MERGE operation
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/stubs/pyarrow/__init__.pyi
  python/tests/conftest.py
  python/tests/test_merge.py
  rust/src/operations/merge.rs
Labels: binding/python, binding/rust, rust

#1734 chore: bump the python package version
  python/Cargo.toml
Labels: binding/python

#1733 fix: reorder encode_partition_value() checks and add tests
  python/deltalake/_util.py
  python/tests/test_table_read.py
Labels: binding/python

#1735 chore: remove deprecated functions
  python/deltalake/table.py
Labels: binding/python

#1743 fix: relax `pyarrow` pin
  python/pyproject.toml
Labels: binding/python

#1746 fix: remove `pandas` pin
  python/pyproject.toml
Labels: binding/python

#1639 refactor!: update operations to use delta scan
  rust/Cargo.toml
  rust/src/delta_datafusion/mod.rs
  rust/src/operations/delete.rs
  rust/src/operations/merge.rs
  rust/src/operations/update.rs
Labels: binding/rust, rust

#1741 chore: update datafusion
  Cargo.toml
  python/src/error.rs
  rust/Cargo.toml
  rust/src/operations/optimize.rs
  rust/src/writer/record_batch.rs
  rust/tests/common/datafusion.rs
Labels: binding/python, binding/rust, rust

#1731 docs: convert docs to use mkdocs
  .gitignore
  docs/python_api.md
  docs/usage/examining-table.md
  docs/usage/index.md
  mkdocs.yml
  python/deltalake/_internal.pyi
  python/deltalake/fs.py
  python/deltalake/schema.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/conf.py
  python/docs/source/usage.rst
  python/src/schema.rs
Labels: documentation, binding/python

#1752 docs: dynamodb lock configuration
  python/deltalake/writer.py
  python/docs/source/usage.rst
Labels: documentation, binding/python

#1766 fix: ignore binary columns for stats generation
  rust/src/schema/arrow_convert.rs
Labels: binding/rust, rust

#1747 feat: honor appendOnly table config
  README.md
  rust/src/operations/delete.rs
  rust/src/operations/merge.rs
  rust/src/operations/restore.rs
  rust/src/operations/transaction/conflict_checker.rs
  rust/src/operations/transaction/mod.rs
  rust/src/operations/transaction/state.rs
  rust/src/operations/transaction/test_utils.rs
  rust/src/operations/update.rs
  rust/src/operations/write.rs
  rust/src/writer/test_utils.rs
Labels: binding/rust, rust

#1769 chore: fix building/running tests without the datafusion feature
  rust/src/operations/optimize.rs
Labels: binding/rust, rust

#1780 fix(python): add write support explicitly for pyarrow dataset
  python/deltalake/writer.py
Labels: binding/python

#1730 feat(python): expose FSCK (repair) operation
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_repair.py
  rust/src/operations/filesystem_check.rs
Labels: binding/python, binding/rust, rust

#1763 refactor: perform bulk deletes during metadata cleanup
  rust/src/protocol/checkpoints.rs
Labels: binding/rust, rust

#1785 chore: bump Python package version
  python/Cargo.toml
Labels: binding/python

#1784 fix(python): ignore infinity in stats
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#1757 feat: add deltalake sql crate
  crates/deltalake-sql/Cargo.toml
  crates/deltalake-sql/README.md
  crates/deltalake-sql/src/lib.rs
  crates/deltalake-sql/src/logical_plan.rs
  crates/deltalake-sql/src/parser.rs
  crates/deltalake-sql/src/planner.rs
Labels: enhancement
