Repository delta-io/delta-rs, pull requests merged in 2023-06, with the labels that each got.

#1422 refactor: rewrite redundant_async_block
  python/src/lib.rs
Labels: binding/python

#1413 fix: `get_prune_stats` returns homogenous `ArrayRef`
  rust/src/delta_datafusion.rs
  rust/src/operations/transaction/state.rs
  rust/tests/data/issue_1374/_delta_log/00000000000000000000.json
  rust/tests/data/issue_1374/_delta_log/00000000000000000001.checkpoint.parquet
  rust/tests/data/issue_1374/_delta_log/00000000000000000001.json
  rust/tests/data/issue_1374/_delta_log/_last_checkpoint
  rust/tests/data/issue_1374/date=2023-05-24/part-00000-e2b01fc6-a906-4008-82df-e98efdcdd47d-c000.snappy.parquet
  rust/tests/data/issue_1374/date=2023-05-24/part-00000-e2b01fc6-a906-4008-82df-e98efdcdd49c-c000.snappy.parquet
  rust/tests/datafusion_test.rs
Labels: binding/rust, rust

#1421 fix: update cleanup regex to include `checkpoint.parquet` files
  rust/src/checkpoints.rs
  rust/tests/integration_checkpoint.rs
Labels: binding/rust, rust

#1409 feat: explicit python exceptions
  python/Cargo.toml
  python/deltalake/__init__.py
  python/deltalake/_internal.pyi
  python/deltalake/exceptions.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/error.rs
  python/src/filesystem.rs
  python/src/lib.rs
  python/tests/pyspark_integration/test_write_to_pyspark.py
  python/tests/test_fs.py
  python/tests/test_table_read.py
  python/tests/test_writer.py
Labels: binding/python

#1424 chore: remove no-longer-necessary build.rs for Rust bindings
  rust/Cargo.toml
  rust/build.rs
Labels: binding/rust, rust

#1423 chore: remove the delta-checkpoint lambda which I have moved to a new repo
  .github/CODEOWNERS
  .github/workflows/dev_pr/labeler.yml
  .github/workflows/lambda_checkpoint_build.yml
  .github/workflows/lambda_checkpoint_release.yml
  Cargo.toml
  aws/delta-checkpoint/.gitignore
  aws/delta-checkpoint/Cargo.lock
  aws/delta-checkpoint/Cargo.toml
  aws/delta-checkpoint/README.md
  aws/delta-checkpoint/bin/build.sh
  aws/delta-checkpoint/bin/setup-localstack.sh
  aws/delta-checkpoint/bin/test-localstack.sh
  aws/delta-checkpoint/docker-compose.yml
  aws/delta-checkpoint/src/main.rs
  aws/delta-checkpoint/tests/lambda_checkpoint.rs
Labels: storage/aws, rust, delta-checkpoint

#1426 docs: update README.adoc to fix expired Slack link
  README.adoc
Labels: documentation

#1383 feat: allow concurrent file compaction
  .github/workflows/python_build.yml
  python/Cargo.toml
  python/deltalake/table.py
  python/pyproject.toml
  python/src/lib.rs
  python/tests/test_benchmark.py
  rust/Cargo.toml
  rust/src/operations/optimize.rs
  rust/tests/command_optimize.rs
Labels: binding/python, binding/rust, rust

#1430 refactor: move checkpoint and errors into separate module
  python/src/error.rs
  python/src/lib.rs
  rust/examples/basic_operations.rs
  rust/examples/read_delta_table.rs
  rust/examples/recordbatch-writer.rs
  rust/src/action/checkpoints.rs
  rust/src/action/mod.rs
  rust/src/action/parquet2_read/mod.rs
  rust/src/action/parquet2_read/stats.rs
  rust/src/action/parquet_read/mod.rs
  rust/src/builder.rs
  rust/src/data_catalog/storage/mod.rs
  rust/src/delta.rs
  rust/src/delta_config.rs
  rust/src/delta_datafusion.rs
  rust/src/errors.rs
  rust/src/lib.rs
  rust/src/operations/create.rs
  rust/src/operations/delete.rs
  rust/src/operations/filesystem_check.rs
  rust/src/operations/load.rs
  rust/src/operations/mod.rs
  rust/src/operations/optimize.rs
  rust/src/operations/transaction/conflict_checker.rs
  rust/src/operations/transaction/mod.rs
  rust/src/operations/transaction/state.rs
  rust/src/operations/vacuum.rs
  rust/src/operations/write.rs
  rust/src/operations/writer.rs
  rust/src/partitions.rs
  rust/src/schema.rs
  rust/src/storage/config.rs
  rust/src/storage/mod.rs
  rust/src/storage/utils.rs
  rust/src/table_state.rs
  rust/src/table_state_arrow.rs
  rust/src/writer/json.rs
  rust/src/writer/mod.rs
  rust/src/writer/record_batch.rs
  rust/src/writer/stats.rs
  rust/src/writer/utils.rs
  rust/tests/command_filesystem_check.rs
  rust/tests/command_optimize.rs
  rust/tests/integration_checkpoint.rs
  rust/tests/integration_commit.rs
  rust/tests/read_delta_partitions_test.rs
  rust/tests/read_delta_test.rs
Labels: binding/python, binding/rust, rust

#1427 fix: casting when data to be written does not match table schema
  rust/src/operations/delete.rs
  rust/src/operations/write.rs
  rust/src/writer/test_utils.rs
Labels: binding/rust, rust

#1429 feat: add z-order optimize
  rust/Cargo.toml
  rust/src/operations/optimize.rs
  rust/tests/command_optimize.rs
Labels: binding/rust, rust

#1432 refactor: remove `LoadCheckpointError` and `ApplyLogError`
  python/src/error.rs
  rust/src/action/mod.rs
  rust/src/delta.rs
  rust/src/errors.rs
  rust/src/storage/utils.rs
  rust/src/table_state.rs
Labels: binding/python, binding/rust, rust

#1431 feat: update writers to include compression method in file name
  rust/src/operations/writer.rs
  rust/src/writer/json.rs
  rust/src/writer/record_batch.rs
  rust/src/writer/utils.rs
Labels: binding/rust, rust

#1443 feat(python): expose z-order in Python
  python/deltalake/table.py
  python/docs/source/usage.rst
  python/src/lib.rs
  python/tests/test_optimize.py
Labels: documentation, binding/python

#1449 chore: increment python version
  python/Cargo.toml
Labels: binding/python

#1448 chore: upgrade to arrow 40 and datafusion 26
  python/Cargo.toml
  rust/Cargo.toml
  rust/src/delta_datafusion.rs
  rust/src/operations/delete.rs
  rust/src/operations/write.rs
Labels: binding/python, binding/rust, rust

#1390 feat: implement update operation
  rust/src/action/mod.rs
  rust/src/delta_datafusion.rs
  rust/src/operations/delete.rs
  rust/src/operations/mod.rs
  rust/src/operations/update.rs
Labels: binding/rust, rust

#1463 fix(python): match Field signatures
  python/src/schema.rs
  python/tests/test_schema.py
Labels: binding/python

#1477 fix: add `sizeInBytes` to _last_checkpoint and change `size` to # of actions
  rust/src/action/checkpoints.rs
  rust/src/action/mod.rs
  rust/src/delta.rs
Labels: binding/rust, rust

#1500 chore: fix mypy failure
  python/deltalake/writer.py
Labels: binding/python

#1482 feat: expose create_add to the public
  rust/src/errors.rs
  rust/src/writer/mod.rs
  rust/src/writer/stats.rs
Labels: binding/rust, rust

#1484 feat: add UUID statistics handling
  rust/src/writer/stats.rs
Labels: binding/rust, rust

#1497 feat(rust): expose WriterProperties method on RecordBatchWriter and DeltaWriter
  rust/examples/basic_operations.rs
  rust/examples/recordbatch-writer.rs
  rust/src/operations/write.rs
  rust/src/operations/writer.rs
  rust/src/writer/record_batch.rs
Labels: binding/rust, rust
