Repository delta-io/delta-rs, pull requests merged in 2024-04, with the labels that each got.

#2365 fix: add snappy compression on checkpoint files
  crates/core/src/protocol/checkpoints.rs
Labels: binding/rust

#2249 chore(rust): bump datafusion to 36
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/data_catalog/unity/datafusion.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/merge/barrier.rs
  crates/sql/src/parser.rs
Labels: binding/rust

#2371 chore: bump python 0.16.4
  python/Cargo.toml
Labels: binding/python

#2357 fix(python, rust): expr parsing date/timestamp
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Labels: binding/python, binding/rust

#2387 fix(rust): remove flush after writing every batch
  crates/core/src/operations/writer.rs
Labels: binding/rust

#2391 feat(rust): post commit hook (v2), create checkpoint hook
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state.rs
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust

#2389 fix: time travel when checkpointed and logs removed
  crates/core/src/table/mod.rs
  python/tests/test_table_read.py
Labels: binding/python, binding/rust

#2383 fix(rust): timestamp deserialization format, missing type
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust

#2405 fix(rust): stats_parsed has different number of records with stats
  crates/core/src/kernel/arrow/json.rs
  crates/core/src/kernel/snapshot/replay.rs
Labels: binding/rust

#2421 feat: implement repartitioned for DeltaScan
  crates/core/src/delta_datafusion/mod.rs
Labels: binding/rust

#2429 fix(python): load_as_version with datetime object with no timezone specified
  python/deltalake/table.py
Labels: binding/python

#2437 fix(python,rust): missing remove actions during `create_or_replace`
  crates/core/src/operations/create.rs
  python/tests/test_create.py
Labels: binding/python, binding/rust

#2439 chore: bump python for 0.17 release
  python/Cargo.toml
Labels: binding/python

#2441 fix(python, rust): use from_name during column projection creation
  crates/core/src/operations/merge/mod.rs
  python/tests/test_merge.py
Labels: binding/python, binding/rust

#2443 fix(python, rust): check timestamp_ntz in nested fields, add check_can_write in pyarrow writer
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/protocol.rs
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2435 chore: introduce the Operation trait to enforce consistency between operations
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
Labels: binding/rust

#2453 fix(python): reuse table state in write engine
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Labels: binding/python

#2396 feat(rust): advance state in post commit
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/tests/command_merge.rs
Labels: binding/rust
