Repository delta-io/delta-rs, pull requests merged in 2024-11, with the labels that each got.

#2970 fix: enable readerFeatures in minReaderVersion 3
  crates/core/src/kernel/models/actions.rs
Labels: binding/rust

#2984 perf: close partition writers concurrently
  crates/core/src/operations/writer.rs
Labels: binding/rust

#2983 perf: batch json decode checkpoint actions when writing to parquet
  crates/core/src/protocol/checkpoints.rs
Labels: binding/rust

#2993 fix: jsonwriter should checkpoint by default
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
Labels: binding/rust

#3005 fix: correctly recognize existing delta tables using the transaction log
  crates/core/src/logstore/mod.rs
Labels: binding/rust

#3007 fix: fixed the deprecation warnings in spot check step of the build
  crates/aws/src/constants.rs
  crates/aws/src/storage.rs
Labels: binding/rust

#2975 fix: decimal stat rounding overflow
  crates/core/src/writer/stats.rs
Labels: binding/rust

#3009 chore: include license files in published crates
  crates/aws/LICENSE.txt
  crates/azure/LICENSE.txt
  crates/catalog-glue/LICENSE.txt
  crates/core/LICENSE.txt
  crates/deltalake/LICENSE.txt
  crates/gcp/LICENSE.txt
  crates/hdfs/LICENSE.txt
  crates/mount/LICENSE.txt
  crates/sql/LICENSE.txt
Labels: binding/rust

#3020 chore: fixed a bunch of warnings and deprecations
  crates/aws/src/credentials.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/writer/stats.rs
  crates/test/src/datafusion.rs
  python/src/features.rs
  python/src/filesystem.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#2990 fix: num rows statistics
  crates/core/src/kernel/snapshot/log_data.rs
Labels: binding/rust

#3024 chore: bump the python version for release
  python/Cargo.toml
Labels: binding/python

#3022 chore: refactor some of the writebuilder preconditions into the appropriate function
  crates/core/src/operations/write.rs
Labels: binding/rust

#3025 fix(python): pass ending_timestamp correctly
  python/src/lib.rs
Labels: binding/python

#3026 fix: check top level nullability during write
  crates/core/src/delta_datafusion/mod.rs
  python/tests/test_merge.py
Labels: binding/python, binding/rust

#3038 chore: bump for another python and core release
  crates/core/Cargo.toml
  python/Cargo.toml
Labels: binding/python, binding/rust
