Repository delta-io/delta-rs, pull requests merged in 2024-03, with the labels that each got.

#2207 fix(writer): retry storage.put on temporary network errors
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/storage/retry_ext.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
Labels: binding/rust

#2240 fix: fix ruff and mypy version and do formatting
  docs/src/python/check_constraints.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/docs/source/_ext/edit_on_github.py
  python/pyproject.toml
  python/tests/pyspark_integration/test_write_to_pyspark.py
  python/tests/pyspark_integration/test_writer_readable.py
Labels: documentation, binding/python

#2241 chore(python): bump version
  python/Cargo.toml
Labels: binding/python

#2236 feat(python, rust): timestampNtz support
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/eval.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/table/state_arrow.rs
  crates/core/tests/integration_datafusion.rs
  python/deltalake/_internal.pyi
  python/deltalake/schema.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/data_acceptance/test_reader.py
  python/tests/test_schema.py
  python/tests/test_table_read.py
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2248 chore: bump to 0.16
  python/Cargo.toml
Labels: binding/python

#2251 fix(rust): typo deletionvectors
  crates/core/src/table/config.rs
Labels: binding/rust

#2250 fix(rust): make interval parsing compatible with plural form
  crates/core/src/table/config.rs
Labels: binding/rust

#2260 fix(#2256): use consistent units of time
  crates/core/src/operations/delete.rs
Labels: binding/rust

#2243 chore!: replace rusoto with AWS SDK
  crates/aws/Cargo.toml
  crates/aws/src/errors.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/src/native.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
Labels: binding/rust

#2257 feat(python): release GIL in the write_deltalake function
  python/src/lib.rs
Labels: binding/python

#2271 fix(python): always encapsulate column names in backticks in _all functions
  python/deltalake/table.py
  python/tests/conftest.py
  python/tests/test_merge.py
Labels: binding/python

#2270 fix(rust): read only checkpoints that match _last_checkpoint version
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000000.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000001.checkpoint.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000001.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000002.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000003.checkpoint.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/00000000000000000003.json
  crates/test/tests/data/table_failed_last_checkpoint_update/_delta_log/_last_checkpoint
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-6791b37e-f318-4d2b-87a0-89be205c338b-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-9c90a84d-6999-463c-bd2d-f68333e6d03d-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-bea93a33-9112-41a5-aca6-c2d1f2c43873-c000.snappy.parquet
  crates/test/tests/data/table_failed_last_checkpoint_update/part-00001-fed6d112-d244-4c54-810d-25ba3f0a4016-c000.snappy.parquet
  python/tests/test_table_read.py
Labels: binding/python, binding/rust

#2286 fix: replace assert and AssertionError with appropriate exceptions
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#2154 refactor!: use builder for commit interface
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/errors.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/transaction/test_utils.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#2274 fix(python, rust): prevent table scan returning large arrow dtypes
  crates/core/src/operations/transaction/state.rs
  python/tests/test_delete.py
  python/tests/test_update.py
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#1868 fix: compatible to write to local file systems that do not support hard link
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
  crates/mount/Cargo.toml
  crates/mount/src/config.rs
  crates/mount/src/error.rs
  crates/mount/src/file.rs
  crates/mount/src/lib.rs
  crates/mount/tests/context.rs
  crates/mount/tests/integration.rs
  python/Cargo.toml
  python/src/lib.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2294 chore(python): bump to v0.16.1
  python/Cargo.toml
Labels: binding/python

#2293 fix(rust): features not maintained in protocol after checkpoint
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust

#2300 docs: fix typo
  crates/core/src/table/mod.rs
Labels: binding/rust

#2291 fix: merge predicate for concurrent writes
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Labels: binding/rust

#2295 fix(rust): add missing chrono-tz feature
  Cargo.toml
  crates/core/Cargo.toml
Labels: binding/rust

#2303 fix: clean up some non-datafusion builds
  crates/core/src/operations/transaction/conflict_checker.rs
Labels: binding/rust

#2307 fix: checkpoint features format below v3,7
  crates/core/src/protocol/checkpoints.rs
  python/Cargo.toml
  python/tests/pyspark_integration/test_writer_readable.py
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust

#2305 fix: schema evolution not coercing with large arrow types
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/operations/cast.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2311 chore: object store 0.9.1
  Cargo.toml
  python/tests/test_fs.py
Labels: binding/python

#2318 fix: try to fix timeouts
  crates/core/src/operations/writer.rs
  python/Cargo.toml
Labels: binding/python, binding/rust

#2315 docs: add example in to_pyarrow_dataset
  python/deltalake/table.py
Labels: binding/python

#2208 fix: handle conflict checking in optimize correctly
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/tests/command_optimize.rs
  crates/mount/src/file.rs
Labels: binding/rust

#2323 Revert 2291 merge predicate fix
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Labels: binding/rust

#2324 fix: merge concurrency control
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/mod.rs
  crates/core/tests/command_merge.rs
Labels: binding/rust

#2326 fix: merge pushdown handling
  crates/core/src/operations/merge/mod.rs
Labels: binding/rust

#2317 fix(rust): serialize MetricDetails from compaction runs to a string
  crates/core/src/operations/optimize.rs
  python/tests/pyspark_integration/test_write_to_pyspark.py
Labels: binding/python, binding/rust

#2194 feat: logical Node for find files
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/table/state_arrow.rs
  python/src/lib.rs
  python/src/schema.rs
Labels: binding/python, binding/rust

#2332 fix(rust): adhere to protocol for Decimal
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/schema.rs
  python/deltalake/_internal.pyi
  python/src/schema.rs
  python/tests/test_schema.py
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2330 fix(rust): raise schema mismatch when decimal is not subset
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2356 fix: remove tmp files in cleanup_metadata
  crates/core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust

#2358 fix(python,rust): optimize compact on schema evolved table
  crates/core/src/operations/optimize.rs
  python/tests/test_optimize.py
Labels: binding/python, binding/rust

#2329 feat(rust): derive Copy on some public enums
  crates/core/src/kernel/expressions/mod.rs
  crates/core/src/kernel/expressions/scalars.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
  crates/sql/src/parser.rs
  python/src/schema.rs
Labels: binding/python, binding/rust

#2364 fix: add config for parquet pushdown on delta scan
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/merge/mod.rs
Labels: binding/rust
