Repository delta-io/delta-rs, pull requests merged in 2024-08, with the labels that each got.

#2723 fix(python, rust): use input schema to get correct schema in cdf reads
  crates/core/src/operations/load_cdf.rs
Labels: binding/rust

#2513 feat: improve merge performance by using predicate non-partition columns min/max for prefiltering
  crates/core/src/operations/merge/mod.rs
  crates/core/tests/command_merge.rs
Labels: binding/rust

#2538 fix: change arrow map root name to follow with parquet root name
  crates/core/src/kernel/arrow/mod.rs
Labels: binding/rust

#2562 feat(python, rust): `add column` operation
  crates/core/src/kernel/models/actions.rs
  crates/core/src/operations/add_column.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/src/schema.rs
  python/tests/test_alter.py
Labels: binding/python, binding/rust

#2727 feat: use logical plan in update, refactor/simplify CDCTracker
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/planner.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Labels: binding/python, binding/rust

#2740 chore: update changelog and versions for next release
  CHANGELOG.md
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  dev/release/update_change_log.sh
Labels: binding/rust

#1650 fix: optimize Spark written tables
  crates/core/Cargo.toml
  crates/core/src/operations/optimize.rs
Labels: binding/rust, rust

#2763 fix(python, rust): don't flatten fields during cdf read
  crates/core/src/delta_datafusion/cdf/scan_utils.rs
  crates/core/src/operations/load_cdf.rs
  python/tests/test_cdf.py
Labels: binding/python, binding/rust

#2764 perf: early stop if all values in arr are null
  crates/core/src/kernel/snapshot/parse.rs
Labels: binding/rust

#2765 feat: fail fast on forked process
  python/src/utils.rs
  python/tests/test_table_read.py
Labels: binding/python

#2767 feat: restore the TryFrom for DeltaTablePartition
  crates/core/src/schema/partitions.rs
Labels: binding/rust

#2768 chore: prepare the next notable release of 0.19.0
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/hdfs/Cargo.toml
  crates/mount/Cargo.toml
  crates/test/Cargo.toml
  dev/publish.sh
Labels: binding/rust

#2737 fix: column parsing to include nested columns and enclosing char
  crates/core/Cargo.toml
  crates/core/src/kernel/snapshot/mod.rs
Labels: binding/rust

#2773 chore: fix a bunch of clippy lints and re-enable tests
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/write.rs
  crates/core/src/schema/partitions.rs
  crates/core/tests/command_merge.rs
  crates/core/tests/integration_checkpoint.rs
  crates/core/tests/read_delta_partitions_test.rs
  crates/test/src/lib.rs
Labels: binding/rust

#2786 style: more consistent imports
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/cdf/mod.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/delta_datafusion/planner.rs
  crates/core/src/delta_datafusion/schema_adapter.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/cast/merge_schema.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/schema/partitions.rs
  crates/core/src/storage/file.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/test_utils.rs
  crates/core/src/writer/utils.rs
Labels: binding/rust

#2787 chore: remove some `file_actions` call sites
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/tests/command_restore.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#2795 fix(rust): `max_spill_size` default value
  crates/core/src/operations/optimize.rs
Labels: binding/rust

#2793 feat(python, rust): add ColumnProperties And rework in python WriterProperties
  python/deltalake/__init__.py
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_writerproperties.py
Labels: binding/python

#2775 fix: trim trailing slash in url storage options (#2656)
  crates/core/src/table/builder.rs
Labels: binding/rust

#2799 chore(python): raise not implemented in from_data_catalog
  python/deltalake/table.py
Labels: binding/python

#2803 fix: enable feature flags to which deltalake-core build tokio with enable_io
  crates/core/Cargo.toml
Labels: binding/rust

#2812 test(python): fix optimize call in benchmark
  python/tests/test_benchmark.py
Labels: binding/python

#2820 docs: fix docstring of set_table_properties
  python/deltalake/table.py
Labels: binding/python

#2817 fix(rust): set token provider explicitly
  crates/aws/src/storage.rs
Labels: binding/rust

#2822 feat: make `Add::get_json_stats` public
  crates/core/src/protocol/mod.rs
Labels: binding/rust

#2823 refactor(python): add pymergebuilder
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/src/merge.rs
Labels: binding/python

#2835 docs: fix documentation about max_spill_size
  crates/core/src/operations/optimize.rs
  python/deltalake/table.py
Labels: binding/python, binding/rust
