Repository delta-io/delta-rs, pull requests merged in 2024-10, with the labels that each got.

#2830 fix: datafusion sanity checker passes when all files filtered out
  crates/core/src/delta_datafusion/mod.rs
Labels: binding/rust

#2931 fix: properly handle the different flavors of storage options keys
  crates/aws/Cargo.toml
  crates/aws/src/credentials.rs
Labels: binding/rust

#2935 chore: introduce some more writer tests to demonstrate schema promotion
  python/tests/test_writer.py
Labels: binding/python

#2940 fix: panics when creating delta tables in threads
  python/src/utils.rs
Labels: binding/python

#2932 fix: improve errors on field cast failures
  crates/core/src/operations/cast/mod.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2956 fix: dramatically reduce checkpoint memory consumption
  crates/core/src/protocol/checkpoints.rs
Labels: binding/rust

#2960 fix: ensure the checkpoint decoder is regularly flushed
  crates/core/src/protocol/checkpoints.rs
Labels: binding/rust

#2963 chore: be less verbose about zorder
  crates/core/src/operations/optimize.rs
Labels: binding/rust

#2967 chore: bump the python package version to 0.21.0
  python/Cargo.toml
Labels: binding/python
