Repository delta-io/delta-rs, pull requests merged in 2024-05, with the labels that each got.

#2470 chore: bump the core crate for its next release
  crates/core/Cargo.toml
  python/Cargo.toml
Labels: binding/python, binding/rust

#2458 feat(python, rust): add OBJECT_STORE_CONCURRENCY_LIMIT setting for ObjectStoreFactory
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
  crates/azure/src/lib.rs
  crates/core/src/operations/create.rs
  crates/core/src/storage/mod.rs
  crates/gcp/src/lib.rs
Labels: binding/rust

#2465 feat(python): add parameter to DeltaTable.to_pyarrow_dataset()
  python/deltalake/table.py
  python/tests/test_writer.py
Labels: binding/python

#2480 fix(python, rust): use new schema for stats parsing instead of old
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2482 fix: check to see if the file exists before attempting to rename
  crates/mount/src/file.rs
Labels: binding/rust

#2476 fix(rust): unable to read delta table when table contains both null and non-null add stats
  crates/core/src/protocol/mod.rs
  crates/core/src/table/state_arrow.rs
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000000.json
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000001.json
  crates/test/tests/data/delta-stats-optional/_delta_log/00000000000000000002.json
  crates/test/tests/data/delta-stats-optional/part-00000-28925d3a-bdf2-411e-bca9-b067444cbcb0-c000.snappy.parquet
  crates/test/tests/data/delta-stats-optional/part-00000-7a509247-4f58-4453-9202-51d75dee59af-c000.snappy.parquet
Labels: binding/rust

#2488 fix(python, rust): region lookup wasn't working correctly for dynamo
  crates/aws/src/credentials.rs
  crates/aws/src/storage.rs
Labels: binding/rust

#2469 fix: return unsupported error for merging schemas in the presence of partition columns
  crates/core/src/writer/record_batch.rs
Labels: binding/rust

#2151 test: add test for concurrent checkpoint during table load
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/test/src/utils.rs
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000000.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000001.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000002.checkpoint.parquet
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000002.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/00000000000000000003.json
  crates/test/tests/data/latest_not_checkpointed/_delta_log/_last_checkpoint
Labels: binding/rust

#2485 fix(python): reuse state in `to_pyarrow_dataset`
  python/Cargo.toml
  python/deltalake/_internal.pyi
  python/deltalake/fs.py
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/filesystem.rs
  python/tests/test_fs.py
Labels: binding/python

#2428 feat(python, rust): respect column stats collection configurations
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/table/config.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_delete.py
  python/tests/test_merge.py
  python/tests/test_update.py
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2500 fix(rust, python): fixed differences in storage options between log and object stores
  crates/aws/src/storage.rs
Labels: binding/rust

#2491 feat: add stats to convert-to-delta operation
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/writer/stats.rs
Labels: binding/rust

#2516 chore: tidying up builds without datafusion feature and clippy
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/transaction/conflict_checker.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#2264 feat(python, rust): add `set table properties` operation
  crates/core/src/kernel/models/actions.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
  python/tests/test_convert_to_delta.py
  python/tests/test_create.py
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2519 fix: enable field_with_name to support nested fields with '.' delimiter
  crates/core/src/kernel/models/schema.rs
Labels: binding/rust

#2512 fix(python): release GIL on most operations
  python/src/lib.rs
Labels: binding/python

#2521 chore: fixing some clips
  crates/aws/src/storage.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/operations/set_tbl_properties.rs
Labels: binding/rust

#2525 feat(rust): make PartitionWriter public
  crates/core/src/operations/writer.rs
Labels: binding/rust

#2531 chore: bump python 0.17.5
  python/Cargo.toml
Labels: binding/python

#2548 fix: clippy warnings
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
  crates/core/src/operations/cast.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/application.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/command_merge.rs
  crates/core/tests/integration_datafusion.rs
Labels: binding/rust
