Repository delta-io/delta-rs, pull requests merged in 2024-02, with the labels that each got.

#2149 fix: made generalize_filter less permissive, also added more cases
  crates/core/src/operations/merge/mod.rs
Labels: binding/rust

#2155 fix: allow loading of tables with identity columns
  crates/core/src/kernel/models/schema.rs
  crates/core/src/lib.rs
  crates/test/tests/data/issue-2152/_delta_log/00000000000000000000.json
Labels: binding/rust

#2150 fix: replace BTreeMap with IndexMap to preserve insertion order
  crates/core/Cargo.toml
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/writer.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
Labels: binding/rust

#2160 feat: implement clone for DeltaTable struct
  crates/core/src/table/mod.rs
Labels: binding/rust

#2161 chore: cleanup minor clippies and other warns
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/writer.rs
  crates/core/tests/fs_common/mod.rs
Labels: binding/rust

#2059 fix: allow checkpoints to contain metadata actions without a createdTime value
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/parquet_read/mod.rs
Labels: binding/rust

#2024 feat: introduce schema evolution on RecordBatchWriter
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
  crates/core/src/writer/record_batch.rs
Labels: binding/rust

#2166 fix: rm println in python lib
  python/src/lib.rs
Labels: binding/python

#2168 chore: update all the package metadata for publication to crates.io
  Cargo.toml
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/sql/Cargo.toml
Labels: binding/rust

#2170 chore(python): bump version
  python/Cargo.toml
Labels: binding/python

#2172 fix(python): skip empty row groups during stats gathering
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#2179 feat: add comment to explain why assert has failed and show state
  python/deltalake/writer.py
Labels: binding/python

#2185 fix: removed panic in method
  crates/core/src/table/builder.rs
Labels: binding/rust

#2182 fix: correct map field names
  crates/core/src/kernel/arrow/mod.rs
Labels: binding/rust

#2183 feat: implement string representation for PartitionFilter
  crates/core/src/operations/optimize.rs
  crates/core/src/schema/partitions.rs
  crates/core/tests/command_optimize.rs
Labels: binding/rust

#2190 fix: add data_type and nullable to StructField hash (#2045)
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/convert_to_delta.rs
Labels: binding/rust

#2213 fix: `is_commit_file` should only catch commit jsons
  crates/core/src/kernel/snapshot/log_segment.rs
Labels: binding/rust

#2209 fix(python): sort before schema comparison
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: bug, binding/python

#2206 fix: canonicalize config keys
  crates/aws/src/storage.rs
Labels: binding/rust

#2222 perf: directly create projection instead of using DataFrame::with_column
  crates/core/src/operations/merge/mod.rs
Labels: binding/rust

#2224 docs: fixing example in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#2211 chore: fix the Cargo.tomls to publish information properly on docs.rs
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
Labels: binding/rust

#2071 feat(rust, python): add `drop constraint` operation
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/mod.rs
  crates/core/src/protocol/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
Labels: binding/python, binding/rust
