Repository delta-io/delta-rs, pull requests merged in 2024-09, with the labels that each got.

#2840 chore(aws): use backon to replace backoff
  crates/aws/Cargo.toml
  crates/aws/src/lib.rs
Labels: binding/rust

#2838 feat(rust): add operationMetrics to WRITE
  crates/core/src/operations/write.rs
Labels: binding/rust

#2845 chore: update python
  python/Cargo.toml
Labels: binding/python

#2856 fix: pin the build-dependencies for Python to a slightly older vendored openssl
  python/Cargo.toml
Labels: binding/python

#2855 fix: escaped columns in dataskippingstatscolumns
  crates/core/src/writer/stats.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2861 fix: set put mode to overwrite in mount backend
  crates/mount/src/file.rs
Labels: binding/rust

#2870 chore: attempt to ignore all dependabot checks for arrow and datafusion
  .github/dependabot.yml
Labels: ci

#2841 fix: stats is optional in add action
  crates/core/src/kernel/snapshot/parse.rs
  crates/core/src/protocol/mod.rs
  crates/test/tests/data/delta-checkpoint-stats-optional/_delta_log/00000000000000000000.json
  crates/test/tests/data/delta-checkpoint-stats-optional/_delta_log/00000000000000000001.json
  crates/test/tests/data/delta-checkpoint-stats-optional/_delta_log/00000000000000000002.checkpoint.parquet
  crates/test/tests/data/delta-checkpoint-stats-optional/_delta_log/00000000000000000002.json
  crates/test/tests/data/delta-checkpoint-stats-optional/_delta_log/_last_checkpoint
  crates/test/tests/data/delta-checkpoint-stats-optional/part-00000-28925d3a-bdf2-411e-bca9-b067444cbcb0-c000.snappy.parquet
  crates/test/tests/data/delta-checkpoint-stats-optional/part-00000-7a509247-4f58-4453-9202-51d75dee59af-c000.snappy.parquet
Labels: binding/rust

#2874 chore: exclude parquet from dependabot as well
  .github/dependabot.yml
Labels: ci

#2876 chore: cleanup codecov defaults
  .github/codecov.yml
Labels: ci

#2809 fix(python, rust): use require files
  crates/core/src/errors.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write.rs
  crates/core/src/table/state.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Labels: binding/python, binding/rust

#2853 fix: re-enable optional old casting behavior in merge
  python/deltalake/table.py
Labels: binding/python

#2884 fix: conditionally disable enable_io non-unix based systems
  crates/core/src/storage/mod.rs
Labels: binding/rust

#2889 fix: convert last checkpoint json keys to camelCase
  crates/core/src/table/mod.rs
Labels: binding/rust

#2890 fix: ensure log store correctly identifies existing delta tables
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/create.rs
  crates/core/src/storage/mod.rs
  python/Cargo.toml
Labels: binding/python, binding/rust

#2897 fix: double-encode paths during zorder optimize when they contain special characters
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  python/tests/test_optimize.py
Labels: binding/python, binding/rust

#2907 refactor: exposing CommitConflictError enum
  crates/core/src/operations/transaction/mod.rs
Labels: binding/rust

#2916 chore: bump the patch version for a 0.20.1 release
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  python/Cargo.toml
Labels: binding/python, binding/rust

#2917 fix: avoid reference after move when building w/o datafusion
  crates/core/src/operations/optimize.rs
Labels: binding/rust
