Repository delta-io/delta-rs, pull requests merged in 2024-07, with the labels that each got.

#2644 chore: add a reproduction case for merge failures with struct<string>
  python/deltalake/table.py
  python/tests/test_merge.py
Labels: binding/python

#2649 feat(rust): fix size_in_bytes in last_checkpoint_ to i64
  crates/core/src/kernel/snapshot/log_segment.rs
Labels: binding/rust

#2614 fix(rust): inconsistent order of partitioning columns (#2494)
  crates/core/src/delta_datafusion/mod.rs
Labels: binding/rust

#2673 chore: bump ruff to 0.5.2
  python/Makefile
  python/pyproject.toml
  python/tests/test_file_system_handler.py
Labels: binding/python

#2680 fix(rust,python): checkpoint with column nullable false
  crates/core/src/kernel/arrow/mod.rs
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust

#2534 feat(python): handle PyCapsule interface objects in write_deltalake
  python/deltalake/writer.py
Labels: binding/python

#2677 chore: enable `RUF` ruleset for `ruff`
  python/deltalake/table.py
  python/deltalake/writer.py
  python/pyproject.toml
  python/tests/pyspark_integration/test_write_to_pyspark.py
Labels: binding/python

#2679 chore: pin `ruff` and `mypy` versions in the `lint` stage in the CI pipeline
  .github/workflows/python_build.yml
  python/pyproject.toml
Labels: binding/python

#2688 chore: add test coverage command to `Makefile`
  python/Makefile
  python/pyproject.toml
Labels: binding/python

#2672 chore: improve contributing.md
  .gitignore
  CONTRIBUTING.md
Labels: documentation

#2615 feat(rust,python): cast each parquet file to delta schema
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/schema_adapter.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/tests/integration_datafusion.rs
Labels: binding/rust

#2689 fix(python): empty dataset fix for "pyarrow" engine
  python/deltalake/schema.py
  python/tests/test_writer.py
Labels: binding/python

#2676 chore: remove stale code for conditional import of `Literal`
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
Labels: binding/python

#2674 chore: remove references to black from the project
  .github/workflows/docs.yml
  docs/Makefile
  python/pyproject.toml
Labels: binding/python

#2670 feat: support userMetadata in CommitInfo
  crates/core/src/kernel/models/actions.rs
Labels: binding/rust

#2695 chore: refactor `write_deltalake` in `writer.py`
  python/deltalake/writer.py
Labels: binding/python

#2702 fix: ensure DataFusion SessionState Parquet options are applied to DeltaScan
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
Labels: binding/rust

#2661 chore: upgrade to datafusion 40
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/merge/barrier.rs
  crates/deltalake/Cargo.toml
  crates/sql/src/planner.rs
Labels: binding/rust

#2705 fix(python, rust): use url encoder when encoding partition values
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/kernel/scalars.rs
Labels: binding/rust

#2459 feat(python, rust): cleanup expired logs post-commit hook
  crates/core/src/operations/transaction/mod.rs
  python/deltalake/__init__.py
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust

#2707 chore: prepare python release 0.18.3
  python/Cargo.toml
Labels: binding/python

#2717 perf: apply projection when reading checkpoint parquet
  crates/core/src/kernel/snapshot/log_segment.rs
Labels: binding/rust
