Repository delta-io/delta-rs, pull requests merged in 2024-06, with the labels that each got.

#2559 fix: update deltalake crate examples for crate layout and TimestampNtz
  crates/deltalake/Cargo.toml
  crates/deltalake/examples/basic_operations.rs
  crates/deltalake/examples/load_table.rs
  crates/deltalake/examples/read_delta_table.rs
  crates/deltalake/examples/recordbatch-writer.rs
Labels: binding/rust

#2558 docs: clarify locking mechanism requirement for S3
  docs/usage/writing/writing-to-s3-with-locking-provider.md
  python/deltalake/writer.py
Labels: binding/python

#2565 fix: add raise_if_key_not_exists to CreateBuilder
  crates/core/src/operations/create.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Labels: binding/python, binding/rust

#2569 fix: consistently use raise_if_key_not_exists in CreateBuilder
  crates/core/src/operations/create.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#2541 fix: cast support fields nested in lists and maps
  crates/core/src/operations/cast.rs
Labels: binding/rust

#2575 feat: add custom dynamodb endpoint configuration
  crates/aws/src/lib.rs
  crates/aws/src/logstore.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
Labels: binding/rust

#2581 chore: bump to datafusion 39, arrow 52, pyo3 0.21
  Cargo.toml
  crates/aws/src/lib.rs
  crates/aws/src/storage.rs
  crates/aws/tests/common.rs
  crates/aws/tests/repair_s3_rename_test.rs
  crates/azure/tests/integration.rs
  crates/benchmarks/src/bin/merge.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/cdf/scan_utils.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/find_files/logical.rs
  crates/core/src/delta_datafusion/find_files/mod.rs
  crates/core/src/delta_datafusion/find_files/physical.rs
  crates/core/src/delta_datafusion/logical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/operations/writer.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/storage/file.rs
  crates/core/src/storage/retry_ext.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/fs_common/mod.rs
  crates/gcp/src/storage.rs
  crates/gcp/tests/context.rs
  crates/mount/src/file.rs
  crates/sql/src/logical_plan.rs
  crates/sql/src/planner.rs
  crates/test/src/lib.rs
  python/Cargo.toml
  python/src/filesystem.rs
  python/src/lib.rs
  python/tests/test_update.py
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2533 chore: expose `files_by_partition` to public api
  python/deltalake/table.py
Labels: binding/python

#2596 chore: migrate to pyo3 Bounds API
  python/.gitignore
  python/Cargo.toml
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/schema.rs
Labels: binding/python

#2598 test: reintroduce azurite SAS integration tests
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/test_fs.py
Labels: binding/python

#2600 feat(#2597): allow pyarrow.dataset.Expression in filters kwarg
  python/deltalake/table.py
  python/stubs/pyarrow/parquet.pyi
  python/tests/test_table_read.py
Labels: binding/python

#2606 fix(python): constrain multipart upload size to fixed length
  python/src/filesystem.rs
  python/src/schema.rs
  python/src/utils.rs
  python/tests/test_fs.py
Labels: binding/python

#2604 chore: implement regression test for push down panic
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/deltalake/Cargo.toml
Labels: binding/rust

#2612 feat(rust, python): add HDFS support via hdfs-native package
  .github/workflows/build.yml
  README.md
  crates/deltalake/Cargo.toml
  crates/deltalake/src/lib.rs
  crates/hdfs/Cargo.toml
  crates/hdfs/src/lib.rs
  crates/hdfs/tests/context.rs
  crates/hdfs/tests/integration.rs
  docs/integrations/object-storage/hdfs.md
  mkdocs.yml
  python/Cargo.toml
  python/src/lib.rs
Labels: binding/python, binding/rust

#2621 chore: bump python 0.18.2
  python/Cargo.toml
Labels: binding/python

#2623 fix(rust, python): fix merge schema with overwrite
  crates/core/src/operations/write.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#2635 fix(python): fixed large_dtype to schema convert
  python/deltalake/writer.py
  python/tests/test_writer.py
Labels: binding/python

#2627 fix(rust, python): fix writing empty structs when creating checkpoint
  crates/core/src/kernel/arrow/mod.rs
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust

#2637 fix: enable parquet pushdown for DeltaScan via TableProvider impl for DeltaTable (rebase)
  crates/core/src/delta_datafusion/mod.rs
Labels: binding/rust
