Repository delta-io/delta-rs, pull requests merged in 2024-12, with the labels that each got.

#3039 chore: missed a version update!
  crates/deltalake/Cargo.toml
Labels: binding/rust

#3051 chore: bump delta-kernel to 0.5.0
  Cargo.toml
  crates/aws/src/lib.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/schema/partitions.rs
  crates/core/src/table/config.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/test_utils/factories/actions.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/stats.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#3069 chore: create a new minor version with the MSRV upgrade
  .github/workflows/build.yml
  .github/workflows/codecov.yml
  Cargo.toml
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/catalog-unity/Cargo.toml
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/hdfs/Cargo.toml
  crates/mount/Cargo.toml
  crates/test/Cargo.toml
  python/Cargo.toml
Labels: binding/python, binding/rust

#3071 fix: remove println from regular_rename func
  crates/mount/src/file.rs
Labels: binding/rust

#3072 fix: use correct aws_endpoint key
  crates/aws/src/storage.rs
Labels: binding/rust

#3077 chore: Reduce compiler warnings by updating to use non deprecated DataFusion APIs
  crates/catalog-unity/src/error.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/optimize.rs
  crates/sql/src/parser.rs
  crates/test/src/datafusion.rs
Labels: binding/rust

#3079 fix: add test for Parquet column pruning in scans
  crates/core/src/delta_datafusion/mod.rs
Labels: binding/rust

#3085 Add steps to install uv in venv
  CONTRIBUTING.md
Labels: documentation

#3080 fix: use of deprecated DeltaTable::peek_next_commit
  crates/core/src/lib.rs
Labels: binding/rust
