Repository delta-io/delta-rs, pull requests merged in 2024-01, with the labels that each got.

#2010 fix: fix the test_restore_by_datetime test
  crates/deltalake-core/tests/command_restore.rs
Labels: binding/rust, crate/core

#2011 chore: version bump python release
  python/Cargo.toml
Labels: binding/python

#2003 feat(python): expose large_dtype param in `merge`
  python/deltalake/table.py
Labels: binding/python

#1994 feat(python): expose custom metadata to writers
  crates/deltalake-core/src/operations/create.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
Labels: binding/python, binding/rust, crate/core

#2002 docs: add writer properties to docs
  docs/api/delta_writer.md
  python/deltalake/table.py
Labels: binding/python

#2014 docs: add alterer
  docs/api/delta_table/delta_table_alterer.md
  mkdocs.yml
  python/deltalake/table.py
Labels: binding/python

#2017 fix: use temporary table names during the constraint checks
  crates/deltalake-core/src/delta_datafusion/mod.rs
Labels: binding/rust, crate/core

#2029 chore: update datafusion
  Cargo.toml
  crates/deltalake-aws/src/storage.rs
  crates/deltalake-aws/tests/repair_s3_rename_test.rs
  crates/deltalake-azure/tests/integration.rs
  crates/deltalake-core/Cargo.toml
  crates/deltalake-core/src/data_catalog/storage/mod.rs
  crates/deltalake-core/src/delta_datafusion/expr.rs
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/logstore/mod.rs
  crates/deltalake-core/src/operations/convert_to_delta.rs
  crates/deltalake-core/src/operations/filesystem_check.rs
  crates/deltalake-core/src/operations/merge/mod.rs
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/src/operations/transaction/state.rs
  crates/deltalake-core/src/operations/vacuum.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
  crates/deltalake-core/src/protocol/mod.rs
  crates/deltalake-core/src/storage/file.rs
  crates/deltalake-core/src/storage/utils.rs
  crates/deltalake-core/src/table/mod.rs
  crates/deltalake-core/tests/fs_common/mod.rs
  python/src/utils.rs
Labels: binding/python, binding/rust, crate/core

#2030 feat: refactor WriterProperties class
  python/deltalake/table.py
  python/tests/conftest.py
  python/tests/test_writerproperties.py
Labels: binding/python

#2009 feat(rust): add more commit info to most operations
  crates/deltalake-core/src/operations/delete.rs
  crates/deltalake-core/src/operations/filesystem_check.rs
  crates/deltalake-core/src/operations/merge/mod.rs
  crates/deltalake-core/src/operations/update.rs
Labels: binding/rust, crate/core

#2027 refactor: increase metadata action usage
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/kernel/arrow/mod.rs
  crates/deltalake-core/src/operations/constraints.rs
  crates/deltalake-core/src/operations/delete.rs
  crates/deltalake-core/src/operations/merge/mod.rs
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/src/operations/transaction/conflict_checker.rs
  crates/deltalake-core/src/operations/transaction/state.rs
  crates/deltalake-core/src/operations/update.rs
  crates/deltalake-core/src/operations/vacuum.rs
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
  crates/deltalake-core/src/table/mod.rs
  crates/deltalake-core/src/table/state.rs
  crates/deltalake-core/src/table/state_arrow.rs
Labels: binding/rust, crate/core

#2033 fix: remove casts of structs to record batch
  crates/deltalake-core/src/delta_datafusion/expr.rs
  crates/deltalake-core/src/operations/cast.rs
  crates/deltalake-core/src/operations/delete.rs
Labels: binding/rust, crate/core

#2042 docs: update docs for merge
  README.md
  crates/deltalake-core/src/operations/merge/mod.rs
Labels: binding/rust, crate/core

#2044 fix: ensure metadata cleanup do not corrupt tables without checkpoints
  crates/deltalake-core/src/protocol/checkpoints.rs
  python/tests/test_checkpoint.py
Labels: binding/python, binding/rust, crate/core

#2005 feat(python): add schema conversion of FixedSizeBinaryArray and FixedSizeListType
  python/deltalake/schema.py
  python/stubs/pyarrow/__init__.pyi
  python/tests/test_schema.py
Labels: binding/python

#2047 chore: bump version python
  python/Cargo.toml
Labels: binding/python

#2041 chore: update documentation for S3 / DynamoDb log store configuration
  crates/deltalake-aws/src/storage.rs
  crates/deltalake-aws/tests/common.rs
  python/deltalake/writer.py
  python/docs/source/usage.rst
Labels: documentation, binding/python, binding/rust

#2035 fix: properly deserialize percent-encoded file paths of Remove actions, to make sure tombstone and file paths match
  crates/deltalake-core/src/kernel/actions/types.rs
  crates/deltalake-core/src/table/state.rs
Labels: binding/rust, crate/core

#2091 feat: allow merge_execute to release the GIL
  python/src/lib.rs
Labels: binding/python

#2093 docs: move dynamo docs into new docs page
  docs/usage/writing/index.md
  docs/usage/writing/writing-to-s3-with-locking-provider.md
  mkdocs.yml
  python/README.md
  python/deltalake/writer.py
Labels: binding/python

#2111 chore: removed unnecessary print statement from update method
  python/deltalake/table.py
Labels: binding/python

#2114 chore: temporarily ignore the repair on update test
  crates/deltalake-aws/tests/integration_s3_dynamodb.rs
Labels: binding/rust

#2092 chore: bump python
  python/Cargo.toml
Labels: binding/python

#2106 fix: schema issue within writebuilder
  crates/deltalake-core/src/operations/write.rs
  crates/deltalake-core/tests/integration_datafusion.rs
Labels: binding/rust, crate/core

#2124 fix: temporarily skip s3 roundtrip test
  python/tests/test_fs.py
Labels: binding/python

#2119 fix: set partition values for added files when building compaction plan
  crates/deltalake-core/src/operations/optimize.rs
  crates/deltalake-core/tests/command_optimize.rs
Labels: binding/rust, crate/core

#2126 fix: clean-up paths created during tests
  crates/deltalake-core/src/table/builder.rs
Labels: binding/rust, crate/core

#2116 fix: add missing pandas import
  python/deltalake/table.py
Labels: binding/python

#2127 feat: update table config to contain new config keys
  crates/deltalake-core/src/table/config.rs
Labels: binding/rust, crate/core

#2128 feat: expose stats schema on Snapshot
  crates/deltalake-core/src/kernel/snapshot/mod.rs
  crates/deltalake-core/src/kernel/snapshot/replay.rs
Labels: binding/rust, crate/core

#2129 fix: order logical schema to match physical schema
  crates/deltalake-core/src/delta_datafusion/mod.rs
  crates/deltalake-core/src/table/mod.rs
Labels: binding/rust, crate/core

#2123 fix: do not write empty parquet file/add on writer close; accurately …
  crates/deltalake-core/src/operations/writer.rs
Labels: binding/rust, crate/core

#2125 fix: prevent empty stats struct during parquet write
  crates/deltalake-core/src/kernel/arrow/mod.rs
  crates/deltalake-core/src/protocol/checkpoints.rs
Labels: binding/rust, crate/core

#2103 docs: fix arg indent
  python/deltalake/table.py
Labels: binding/python

#2144 fix(#2143): keep specific error type when writing fails
  crates/core/src/writer/json.rs
  crates/core/src/writer/mod.rs
Labels: binding/rust

#2137 refactor(python): drop custom filesystem in write_deltalake
  python/deltalake/writer.py
  python/tests/test_benchmark.py
  python/tests/test_fs.py
Labels: binding/python

#2121 chore: upgrade to DataFusion 35.0
  Cargo.toml
  crates/azure/src/config.rs
  crates/azure/src/error.rs
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/transaction/state.rs
  crates/core/src/operations/update.rs
  crates/gcp/src/error.rs
  crates/sql/src/parser.rs
Labels: binding/rust

#2120 fix(s3): restore working test for DynamoDb log store repair log on read
  crates/aws/src/logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
Labels: binding/rust

#1996 feat: implementation for replaceWhere
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/write.rs
  crates/core/src/writer/test_utils.rs
  docs/_build/links.yml
  docs/index.md
  docs/src/python/operations.py
  docs/src/rust/operations.rs
  docs/usage/writing/index.md
  python/deltalake/writer.py
  python/docs/source/index.rst
  python/src/lib.rs
  python/tests/test_writer.py
Labels: documentation, binding/python, binding/rust
