Repository delta-io/delta-rs, pull requests merged in 2025-06, with the labels that each got.

#3509 refactor: move LazyTableProvider into python crate
  crates/core/src/delta_datafusion/mod.rs
  python/Cargo.toml
  python/src/datafusion.rs
  python/src/lib.rs
  python/src/merge.rs
  python/src/writer.rs
Labels: binding/python, binding/rust

#3510 feat: add convenience extension for kernel engine types
  crates/core/src/kernel/arrow/engine_ext.rs
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
Labels: binding/rust

#3514 refactor: compute stats schema with kernel types
  Cargo.toml
  crates/core/src/kernel/arrow/engine_ext.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/config.rs
Labels: binding/rust

#3521 refactor: remove unecessary uses of datafusion subcrates
  Cargo.toml
  crates/benchmarks/Cargo.toml
  crates/benchmarks/src/bin/merge.rs
  crates/catalog-unity/Cargo.toml
  crates/catalog-unity/src/datafusion.rs
  crates/catalog-unity/src/lib.rs
  crates/core/Cargo.toml
  crates/core/src/data_catalog/storage/mod.rs
  crates/core/src/delta_datafusion/cdf/scan.rs
  crates/core/src/delta_datafusion/cdf/scan_utils.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/logical.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/delta_datafusion/planner.rs
  crates/core/src/delta_datafusion/schema_adapter.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/transaction/conflict_checker.rs
  crates/core/src/kernel/transaction/state.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/filter.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write/execution.rs
  crates/core/src/operations/write/generated_columns.rs
  crates/core/src/operations/write/metrics.rs
  crates/core/src/operations/write/mod.rs
  crates/core/tests/command_merge.rs
  crates/core/tests/integration_datafusion.rs
  crates/sql/Cargo.toml
  crates/sql/src/lib.rs
  crates/sql/src/logical_plan.rs
  crates/sql/src/parser.rs
  crates/sql/src/planner.rs
  python/Cargo.toml
  python/src/datafusion.rs
Labels: binding/python, binding/rust

#3522 fix: using state provided in args in merge op
  crates/core/src/operations/merge/mod.rs
Labels: binding/rust

#3542 chore: update the minor version to reflect a behavior change
  python/Cargo.toml
Labels: binding/python

#3558 chore: update arrow/parquet to 55.2.0
  Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/cast/mod.rs
  crates/core/src/table/state_arrow.rs
Labels: binding/rust

#3520 chore: update to DataFusion `48.0.0` / arrow to 55.2.0
  Cargo.toml
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/delta_datafusion/physical.rs
  crates/core/src/delta_datafusion/schema_adapter.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/filter.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write/generated_columns.rs
  crates/core/src/table/state_arrow.rs
  crates/core/tests/integration_datafusion.rs
  crates/sql/src/parser.rs
Labels: binding/rust

#3564 docs: ensure create_checkpoint() is visible in the Python API docs
  python/deltalake/table.py
Labels: binding/python
