Repository delta-io/delta-rs, pull requests merged in 2025-07, with the labels that each got.

#3550 fix: use proper DeltaTableState for vacuum commits
  crates/core/src/operations/vacuum.rs
Labels: binding/rust

#3569 refactor: move schema code to kernel module
  crates/core/src/delta_datafusion/schema_adapter.rs
  crates/core/src/kernel/mod.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/mod.rs
  crates/core/src/kernel/schema/cast/merge_schema.rs
  crates/core/src/kernel/schema/cast/mod.rs
  crates/core/src/kernel/schema/mod.rs
  crates/core/src/kernel/schema/partitions.rs
  crates/core/src/kernel/schema/schema.rs
  crates/core/src/lib.rs
  crates/core/src/operations/add_column.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/write/mod.rs
  crates/core/src/schema/mod.rs
  crates/core/src/writer/record_batch.rs
  python/src/writer.rs
Labels: binding/python, binding/rust

#3570 feat: convert partition filters to kernel predicates
  crates/core/src/kernel/schema/partitions.rs
Labels: binding/rust

#3571 chore: latest clippy
  crates/core/src/kernel/arrow/engine_ext.rs
  crates/core/src/logstore/config.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/update_table_metadata.rs
  crates/core/src/operations/write/generated_columns.rs
  crates/core/src/table/config.rs
  crates/core/tests/dat.rs
  crates/core/tests/integration_datafusion.rs
  crates/derive/src/lib.rs
  crates/lakefs/src/client.rs
  crates/lakefs/src/logstore.rs
  python/src/datafusion.rs
  python/src/error.rs
Labels: binding/python, binding/rust

#3537 feat: vacuum with version retention
  crates/core/src/operations/vacuum.rs
Labels: binding/rust

#3604 fix: fix typo to fix CI typo check
  crates/mount/src/lib.rs
Labels: binding/rust

#3614 fix: switch the url schemes for Azure integration tests
  crates/azure/tests/context.rs
  docker-compose.yml
  python/tests/test_fs.py
Labels: binding/python, binding/rust

#3605 refactor: make match_partitions and new_metadata public
  crates/core/src/kernel/schema/partitions.rs
Labels: binding/rust

#3618 fix: allow writing to DeltaTable objects across Python threads
  python/deltalake/writer/_utils.py
  python/src/lib.rs
  python/tests/test_threaded.py
Labels: binding/python

#3619 fix: ensure openssl-sys doesn't creep into the dependency via the kernel default engine
  Cargo.toml
  python/Cargo.toml
Labels: binding/python

#3633 chore: bump version for release
  python/Cargo.toml
Labels: binding/python

#3635 feat: add keep_versions parameter to vacuum command for python
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_vacuum.py
Labels: binding/python

#3642 chore: use pytest-xdist for speeding up python tests
  .github/workflows/python_build.yml
  python/Makefile
  python/pyproject.toml
  python/tests/test_table_read.py
  python/tests/test_threaded.py
Labels: binding/python
