Repository delta-io/delta-rs, pull requests merged in 2025-01, with the labels that each got.

#3090 fix: add decimal expr parsing
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Labels: binding/python, binding/rust

#3095 fix: scalar extraction view types
  crates/core/src/kernel/scalars.rs
  python/Cargo.toml
Labels: binding/python, binding/rust

#3093 fix: introduce a reproduction case for List casting with polars
  .github/workflows/python_build.yml
  python/Makefile
  python/pyproject.toml
  python/tests/test_writer.py
Labels: binding/python

#3098 feat(python): add `except_cols` argument to `when_matched_update_all` and `when_not_matched_insert_all` for excluding specific columns
  python/deltalake/table.py
  python/tests/test_merge.py
Labels: binding/python

#3100 feat(python): add sql() and show() convenience method to QueryBuilder
  python/deltalake/query.py
  python/tests/test_table_read.py
Labels: binding/python

#3101 feat: allow multiple Python threads to work with a single DeltaTable instance
  python/Cargo.toml
  python/src/error.rs
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/query.rs
  python/tests/test_threaded.py
  python/tests/test_writer.py
Labels: enhancement, binding/python

#3114 chore: raise patch versions for rust crate release
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
Labels: binding/rust

#3117 refactor: use kernel table features
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/parse.rs
  crates/core/src/operations/add_feature.rs
  crates/core/src/operations/cdc.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/operations/write.rs
  crates/core/src/protocol/parquet_read/mod.rs
  crates/core/src/test_utils/factories/actions.rs
  crates/core/tests/read_delta_log_test.rs
Labels: binding/rust

#2966 chore: allow kernel::visitors to be public for Snapshot usage
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/visitors.rs
Labels: binding/rust

#3127 chore: 0.24 py release
  python/Cargo.toml
Labels: binding/python

#3130 fix: fmt scalar view values
  crates/core/src/delta_datafusion/expr.rs
  python/tests/test_merge.py
Labels: binding/python, binding/rust

#3126 feat(python, rust): add statistics_enabled to ColumnProperties
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_writerproperties.py
Labels: binding/python

#3132 chore: preparing the 0.24 release of the Rust crates`
  crates/aws/Cargo.toml
  crates/aws/src/credentials.rs
  crates/azure/Cargo.toml
  crates/catalog-glue/Cargo.toml
  crates/catalog-unity/Cargo.toml
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/gcp/Cargo.toml
  crates/hdfs/Cargo.toml
  crates/lakefs/Cargo.toml
  crates/mount/Cargo.toml
  crates/test/Cargo.toml
Labels: binding/rust

#3141 refactor: logical plans in writer
  crates/core/src/operations/write.rs
  crates/core/tests/integration_datafusion.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#3148 chore: remove lazy_static and once_cell dependencies
  crates/aws/Cargo.toml
  crates/aws/src/constants.rs
  crates/aws/src/lib.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/azure/Cargo.toml
  crates/azure/src/config.rs
  crates/core/Cargo.toml
  crates/core/src/delta_datafusion/cdf/mod.rs
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/mod.rs
  crates/core/src/kernel/models/fields.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/transaction/protocol.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/config.rs
  crates/core/src/test_utils/factories/mod.rs
  crates/core/src/writer/stats.rs
  crates/gcp/Cargo.toml
  crates/gcp/src/config.rs
  crates/mount/Cargo.toml
  python/Cargo.toml
Labels: binding/python, binding/rust

#3149 feat: update metadata field builder
  crates/core/src/operations/mod.rs
  crates/core/src/operations/update_field_metadata.rs
  crates/core/src/protocol/mod.rs
Labels: enhancement, binding/rust
