Repository delta-io/delta-rs, pull requests merged in 2025-05, with the labels that each got.

#3409 chore: reduce scope of feature flags and compilation requirements for subcrates
  crates/aws/Cargo.toml
  crates/azure/Cargo.toml
  crates/core/src/logstore/config.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/logstore/storage/retry_ext.rs
  crates/deltalake/Cargo.toml
  crates/derive/Cargo.toml
  crates/gcp/Cargo.toml
  crates/hdfs/Cargo.toml
  crates/lakefs/Cargo.toml
  crates/mount/Cargo.toml
Labels: binding/rust

#3368 feat: introduce VacuumMode::Full for cleaning up orphaned files
  crates/core/src/operations/vacuum.rs
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
Labels: binding/python, binding/rust

#3374 fix: if field contains space in constraint expression, checks will fail
  crates/core/src/delta_datafusion/mod.rs
Labels: binding/rust

#3415 chore: missed a version bump for core
  crates/core/Cargo.toml
Labels: binding/rust

#3420 fix: build Unity Catalog crate without DataFusion
  crates/catalog-unity/Cargo.toml
  crates/catalog-unity/src/lib.rs
Labels: binding/rust

#3416 fix: drop column update
  crates/core/src/operations/update.rs
Labels: binding/rust

#3419 feat: added a check for gc code to run
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/write/generated_columns.rs
  crates/core/src/operations/write/mod.rs
Labels: binding/rust

#3430 chore: bump crate versions which are due for release
  crates/catalog-unity/Cargo.toml
  crates/core/Cargo.toml
  crates/deltalake/Cargo.toml
  crates/lakefs/Cargo.toml
Labels: binding/rust

#3434 chore: make codecov more vigorously enforced to help ensure quality
  .github/codecov.yml
Labels: ci

#3435 chore: prepare py-1.0 release
  python/Cargo.toml
Labels: binding/python

#3436 feat: optimize datafusion predicate pushdown and partition pruning
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/tests/integration_datafusion.rs
Labels: binding/rust

#3441 chore: remove unused code and deps
  crates/core/Cargo.toml
  crates/core/src/kernel/models/actions.rs
Labels: binding/rust

#3442 chore: minor table module refactors
  crates/core/src/kernel/models/schema.rs
  crates/core/src/table/checkpoint.rs
  crates/core/src/table/columns.rs
  crates/core/src/table/mod.rs
  python/tests/test_generated_columns.py
Labels: binding/python, binding/rust

#3445 refactor: more specific factory parameter names
  crates/aws/src/lib.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/logstore/factories.rs
  crates/core/src/logstore/mod.rs
  crates/gcp/src/lib.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/lib.rs
  crates/mount/src/lib.rs
Labels: binding/rust

#3450 test: avoid circular dependency with core/test crates
  crates/core/Cargo.toml
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/lib.rs
  crates/core/src/test_utils/mod.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration_datafusion.rs
  crates/test/Cargo.toml
  crates/test/src/datafusion.rs
  crates/test/src/lib.rs
  crates/test/src/utils.rs
Labels: binding/rust

#3452 refactor: use LogStore in Snapshot / LogSegment APIs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/lib.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  crates/core/tests/checkpoint_writer.rs
  crates/core/tests/command_filesystem_check.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/eager_snapshot.rs
  crates/core/tests/integration.rs
  crates/core/tests/integration_checkpoint.rs
  crates/test/src/lib.rs
  crates/test/src/read.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#3458 chore: mark more tests which require datafusion
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/operations/create.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
Labels: binding/rust

#3456 refactor: use full paths in log processing
  crates/azure/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/conflict_checker.rs
  crates/core/src/kernel/transaction/protocol.rs
  crates/core/src/kernel/transaction/state.rs
  crates/core/src/logstore/config.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/table/state.rs
Labels: binding/rust

#3462 chore: update kernel
  Cargo.toml
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/operations/cast/mod.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write/execution.rs
  crates/core/src/operations/write/generated_columns.rs
  crates/core/src/operations/write/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/test_utils/factories/data.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/integration_datafusion.rs
  crates/deltalake/Cargo.toml
  crates/deltalake/examples/recordbatch-writer.rs
  python/src/lib.rs
  python/src/schema.rs
Labels: binding/python, binding/rust

#3470 chore: remove unused time_utils
  crates/core/src/protocol/mod.rs
  crates/core/src/protocol/time_utils.rs
Labels: binding/rust

#3471 chore: more typos
  .pre-commit-config.yaml
  Cargo.toml
  docs/usage/examining-table.md
  docs/usage/optimize/small-file-compaction-with-optimize.md
  python/docs/source/usage.rst
Labels: documentation, binding/python

#3475 chore: remove unused stats_parsed field
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/kernel/snapshot/parse.rs
  crates/core/src/logstore/storage/utils.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/test_utils/factories/actions.rs
  crates/core/src/writer/stats.rs
  crates/core/tests/fs_common/mod.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#3484 refactor!: get transaction versions for specific applications
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/transaction/application.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/state.rs
  docs/upgrade-guides/guide-1.0.0.md
  python/deltalake/__init__.py
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#3485 test: improve storage config testing
  crates/catalog-unity/src/client/retry.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/logstore/config.rs
  crates/core/src/logstore/storage/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/test_utils/mod.rs
  crates/test/src/utils.rs
Labels: binding/rust

#3486 chore: exclude Invariants from the default writer v2 feature set
  crates/core/src/kernel/transaction/protocol.rs
Labels: binding/rust

#3487 fix: ensure projecting only columns that exist in new files afte sche…
  crates/core/src/operations/cast/mod.rs
  crates/core/tests/integration_datafusion.rs
  python/Makefile
Labels: binding/python, binding/rust

#3500 refactor!: have DeltaTable::version return an Option
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/transaction/application.rs
  crates/core/src/lib.rs
  crates/core/src/operations/add_feature.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/filter.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/mod.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/checkpoint_writer.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/command_update_table_metadata.rs
  crates/core/tests/integration_checkpoint.rs
  crates/core/tests/read_delta_log_test.rs
  crates/core/tests/read_delta_partitions_test.rs
  crates/core/tests/time_travel.rs
  crates/deltalake/examples/basic_operations.rs
  crates/test/src/concurrent.rs
  crates/test/src/read.rs
  python/src/lib.rs
Labels: binding/python, binding/rust
