Repository delta-io/delta-rs, pull requests merged in 2025-09, with the labels that each got.

#3747 fix: `write_deltalake` with `mode="overwrite"` mode and `schema_mode=None` does not overwrite schema metadata
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/write/mod.rs
Labels: binding/rust

#3749 feat: update to DataFusion 50, pyo3 24, pyo3-arrow 0.11
  .github/workflows/build.yml
  Cargo.toml
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/operations/optimize.rs
  python/Cargo.toml
  python/src/datafusion.rs
  python/src/writer.rs
Labels: binding/python, binding/rust

#3769 feat(unity-catalog): support credentials via storage options
  crates/catalog-unity/src/lib.rs
Labels: binding/rust

#3732 feat: get the delta table row count based on the table history
  python/deltalake/table.py
  python/tests/test_table_read.py
Labels: binding/python

#3788 fix: somehow the right test value didn't make it into the pr
  python/tests/test_table_read.py
Labels: binding/python
