Repository delta-io/delta-rs, pull requests merged in 2025-02, with the labels that each got.

#3177 chore(python): choose performance over compile time in release mode
  python/Cargo.toml
Labels: binding/python

#3183 fix: properly encode metadata field values when creating actions
  python/src/schema.rs
  python/tests/test_generated_columns.py
  python/tests/test_schema.py
Labels: binding/python

#3189 feat: set column metadata from python
  python/deltalake/_internal.pyi
  python/deltalake/table.py
  python/src/lib.rs
  python/tests/test_alter.py
Labels: binding/python

#3160 fix: removing openssl from the dependency tree
  Cargo.toml
  crates/lakefs/Cargo.toml
  dev/publish.sh
  python/Cargo.toml
Labels: binding/python, binding/rust

#3216 feat: make Add:get_stats public
  crates/core/src/protocol/mod.rs
Labels: binding/rust

#3218 fix: load cdf latest version
  crates/core/src/errors.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/test_utils.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/integration_datafusion.rs
  python/tests/test_cdf.py
Labels: binding/python, binding/rust

#3202 feat: return metrics about the commit
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/operations/transaction/mod.rs
  crates/core/src/protocol/checkpoints.rs
Labels: binding/rust

#3209 fix: adhere write stats configuration
  README.md
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/protocol/checkpoints.rs
Labels: binding/rust

#3219 fix(rust, python): treat FSCK files_removed as strings
  crates/core/src/operations/filesystem_check.rs
  python/deltalake/table.py
  python/tests/pyspark_integration/test_write_to_pyspark.py
Labels: binding/python, binding/rust

#3205 fix: update snapshot after conflict check
  crates/core/src/operations/transaction/mod.rs
Labels: binding/rust

#3227 fix(typo): s/implemtnation/implementation/
  crates/aws/src/lib.rs
Labels: binding/rust

#3233 chore: bump python 0.25
  python/Cargo.toml
Labels: binding/python

#3240 chore: bump the patch for a new release of python
  python/Cargo.toml
Labels: binding/python

#3154 chore: inline format args to improve readability
  crates/aws/src/lib.rs
  crates/aws/src/logstore/dynamodb_logstore.rs
  crates/azure/src/lib.rs
  crates/azure/tests/context.rs
  crates/benchmarks/src/bin/merge.rs
  crates/catalog-unity/src/credential.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/arrow/extract.rs
  crates/core/src/kernel/models/actions.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/kernel/scalars.rs
  crates/core/src/kernel/snapshot/log_data.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/snapshot/serde.rs
  crates/core/src/lib.rs
  crates/core/src/operations/cast/merge_schema.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/write/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/protocol/mod.rs
  crates/core/src/schema/partitions.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/state_arrow.rs
  crates/core/src/test_utils/factories/actions.rs
  crates/core/src/writer/record_batch.rs
  crates/core/src/writer/test_utils.rs
  crates/core/src/writer/utils.rs
  crates/core/tests/integration_checkpoint.rs
  crates/core/tests/integration_datafusion.rs
  crates/deltalake/examples/basic_operations.rs
  crates/deltalake/examples/load_table.rs
  crates/deltalake/examples/recordbatch-writer.rs
  crates/gcp/src/lib.rs
  crates/gcp/src/storage.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/client.rs
  crates/lakefs/src/execute.rs
  crates/lakefs/src/lib.rs
  crates/lakefs/src/logstore.rs
  crates/mount/src/lib.rs
  crates/sql/src/lib.rs
  crates/sql/src/logical_plan.rs
  crates/test/src/concurrent.rs
  python/src/error.rs
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/utils.rs
Labels: binding/python, binding/rust

#3242 feat: set clientVersion for python binding
  crates/core/src/lib.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#3257 docs: update CONTRIBUTING.md and Makefile to account for switch to uv
  CONTRIBUTING.md
  python/Makefile
Labels: documentation, binding/python

#3260 fix: enable missing cloud features for uc crate
  .github/scripts/retry_integration_test.sh
  .github/workflows/python_build.yml
  python/Cargo.toml
Labels: binding/python

#3252 fix: refresh snapshot after vacuuming logs
  crates/core/src/operations/transaction/mod.rs
  python/deltalake/_internal.pyi
  python/deltalake/writer.py
  python/src/lib.rs
  python/tests/test_checkpoint.py
  python/tests/test_threaded.py
Labels: binding/python, binding/rust

#3264 chore: fix clippy warnings on main
  crates/catalog-unity/src/datafusion.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/tests/integration_datafusion.rs
  crates/gcp/tests/context.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#3265 chore: update tests to use `Column::new` and other expr_fn functions
  crates/core/src/operations/merge/filter.rs
Labels: binding/rust

#3263 fix: aarch64 ssl handshakes
  .github/workflows/python_release.yml
  python/Cargo.toml
Labels: binding/python

#3275 fix(rust): on write, have a schema evolution maintain metadata table id
  crates/core/src/kernel/models/actions.rs
  crates/core/src/operations/write/mod.rs
  python/tests/pyspark_integration/test_write_to_pyspark.py
  python/tests/pyspark_integration/utils.py
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#3277 chore: remove unused dev dependency on `home`
  crates/hdfs/Cargo.toml
Labels: binding/rust
