Repository delta-io/delta-rs, pull requests merged in 2025-03, with the labels that each got.

#3270 refactor: replaced asterisk with constraint name in get_constraints
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/mod.rs
  crates/core/src/kernel/models/schema.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/table/config.rs
  crates/core/src/table/mod.rs
Labels: binding/rust

#3281 refactor: simplify expressions
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/merge/mod.rs
  python/tests/test_merge.py
Labels: binding/python, binding/rust

#3282 fix: compare before after schema before creating action
  crates/core/src/operations/write/mod.rs
Labels: binding/rust

#3288 fix: timestamp truncation in stats parsed
  crates/core/src/kernel/snapshot/log_data.rs
  python/tests/test_stats.py
Labels: binding/python, binding/rust

#3290 feat: remove optimize operations when building without Apache Datafusion
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
Labels: binding/rust

#3291 chore: bump python version for release
  python/Cargo.toml
Labels: binding/python

#3296 fix(pandas): retain pyarrow decimal datatype in to_pandas() by adding types_mapper to prevent precision loss
  python/deltalake/table.py
  python/tests/test_writer.py
Labels: binding/python

#3308 fix: prevent panics when peek_next_commit() encounters invalid data
  crates/core/src/logstore/mod.rs
Labels: binding/rust

#3309 fix: serialize empty deletionVector in add actions as absent
  crates/core/src/kernel/models/actions.rs
Labels: binding/rust

#3261 chore: upgrade to DataFusion 46.0.0
  .github/workflows/build.yml
  .github/workflows/codecov.yml
  Cargo.toml
  crates/core/src/delta_datafusion/expr.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/operations/load_cdf.rs
  crates/core/src/operations/merge/barrier.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/tests/integration_datafusion.rs
  crates/sql/src/parser.rs
  crates/sql/src/planner.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#3146 fix: stats column binary_column has unsupported type binary
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/operations/write/mod.rs
  crates/core/src/writer/stats.rs
  python/tests/test_writer.py
Labels: binding/python, binding/rust

#3318 fix: check for all known valid delta files in is_deltatable
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/logstore/mod.rs
Labels: binding/rust

#3338 perf: use lazy sync reader
  python/src/lib.rs
  python/src/reader.rs
Labels: binding/python

#3325 chore: remove pyarrow upper
  python/pyproject.toml
Labels: binding/python

#3328 chore: improve io error msg
  python/src/error.rs
Labels: binding/python

#3324 fix: block_in_place to allow nested tasks
  python/Cargo.toml
  python/src/filesystem.rs
Labels: binding/python

#3355 fix: parse snapshot
  crates/core/src/kernel/snapshot/parse.rs
Labels: binding/rust
