Repository delta-io/delta-rs, pull requests merged in 2025-04, with the labels that each got.

#3361 chore: relax the pyarrow constraints now that 19.0.1 is out
  python/Cargo.toml
  python/pyproject.toml
Labels: binding/python

#3365 chore: remove cdf feature
  crates/core/Cargo.toml
  crates/core/src/operations/mod.rs
  crates/core/src/operations/transaction/protocol.rs
Labels: binding/rust

#3303 fix: added restored metadata as action to the next committed version
  crates/core/src/operations/restore.rs
Labels: binding/rust

#3366 chore: fix some minor build warnings
  crates/core/src/operations/write/mod.rs
  crates/core/src/storage/mod.rs
Labels: binding/rust

#3380 refactor: move transaction module to kernel
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/src/logstore/dynamodb_logstore.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/core/src/errors.rs
  crates/core/src/kernel/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/snapshot/mod.rs
  crates/core/src/kernel/snapshot/replay.rs
  crates/core/src/kernel/transaction/application.rs
  crates/core/src/kernel/transaction/conflict_checker.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/kernel/transaction/protocol.rs
  crates/core/src/kernel/transaction/state.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/operations/add_column.rs
  crates/core/src/operations/add_feature.rs
  crates/core/src/operations/constraints.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/delete.rs
  crates/core/src/operations/drop_constraints.rs
  crates/core/src/operations/filesystem_check.rs
  crates/core/src/operations/load.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/operations/set_tbl_properties.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/update_field_metadata.rs
  crates/core/src/operations/vacuum.rs
  crates/core/src/operations/write/mod.rs
  crates/core/src/protocol/checkpoints.rs
  crates/core/src/table/state.rs
  crates/core/src/test_utils/factories/actions.rs
  crates/core/src/writer/mod.rs
  crates/core/tests/command_merge.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/commit_info_format.rs
  crates/core/tests/fs_common/mod.rs
  crates/lakefs/src/client.rs
  crates/lakefs/src/errors.rs
  crates/lakefs/src/logstore.rs
  crates/test/src/concurrent.rs
  crates/test/src/lib.rs
  python/src/lib.rs
Labels: binding/python, binding/rust

#3379 chore: clippy
  crates/catalog-unity/src/datafusion.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/operations/create.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/restore.rs
  crates/core/src/protocol/parquet_read/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/writer/stats.rs
  python/src/error.rs
  python/src/schema.rs
Labels: binding/python, binding/rust

#3381 chore: move proofs into dedicated folder
  .gitignore
  proofs/stateright/Cargo.lock
  proofs/stateright/Cargo.toml
  proofs/stateright/README.md
  proofs/stateright/src/main.rs
  proofs/tlaplus/README.md
  proofs/tlaplus/dynamodblock.tla
  proofs/tlaplus/dynamodblock.toolbox/.project
  proofs/tlaplus/dynamodblock.toolbox/.settings/org.lamport.tla.toolbox.prefs
  proofs/tlaplus/dynamodblock.toolbox/dynamodblock___fast_dev.launch
  proofs/tlaplus/dynamodblock.toolbox/dynamodblock___full_tiimeless.launch
Labels: proofs

#3382 refactor!: move storage module into logstore
  Cargo.toml
  crates/aws/src/credentials.rs
  crates/aws/src/lib.rs
  crates/aws/src/logstore/default_logstore.rs
  crates/aws/src/logstore/dynamodb_logstore.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/aws/tests/repair_s3_rename_test.rs
  crates/azure/src/lib.rs
  crates/catalog-unity/src/lib.rs
  crates/core/Cargo.toml
  crates/core/src/data_catalog/storage/mod.rs
  crates/core/src/delta_datafusion/mod.rs
  crates/core/src/kernel/snapshot/log_segment.rs
  crates/core/src/kernel/transaction/mod.rs
  crates/core/src/lib.rs
  crates/core/src/logstore/default_logstore.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/logstore/storage/mod.rs
  crates/core/src/logstore/storage/retry_ext.rs
  crates/core/src/logstore/storage/runtime.rs
  crates/core/src/logstore/storage/utils.rs
  crates/core/src/operations/convert_to_delta.rs
  crates/core/src/operations/merge/filter.rs
  crates/core/src/operations/merge/mod.rs
  crates/core/src/operations/optimize.rs
  crates/core/src/operations/update.rs
  crates/core/src/operations/write/execution.rs
  crates/core/src/operations/write/writer.rs
  crates/core/src/storage/file.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
  crates/core/src/writer/json.rs
  crates/core/src/writer/record_batch.rs
  crates/core/tests/command_optimize.rs
  crates/core/tests/command_restore.rs
  crates/core/tests/fs_common/mod.rs
  crates/core/tests/read_delta_log_test.rs
  crates/gcp/src/lib.rs
  crates/gcp/src/storage.rs
  crates/hdfs/src/lib.rs
  crates/lakefs/src/execute.rs
  crates/lakefs/src/lib.rs
  crates/lakefs/src/logstore.rs
  crates/lakefs/src/storage.rs
  crates/mount/src/lib.rs
  crates/test/src/utils.rs
  python/src/filesystem.rs
  python/src/lib.rs
  python/src/utils.rs
Labels: binding/python, binding/rust

#3390 fix: clippy warnings
  crates/aws/src/credentials.rs
  crates/aws/src/lib.rs
  crates/aws/src/native.rs
  crates/aws/src/storage.rs
  crates/aws/tests/integration_s3_dynamodb.rs
  crates/azure/tests/integration.rs
  crates/catalog-unity/src/lib.rs
  crates/core/src/kernel/arrow/mod.rs
  crates/core/src/logstore/config.rs
  crates/core/src/logstore/mod.rs
  crates/core/src/logstore/storage/runtime.rs
  crates/core/src/operations/write/async_utils.rs
  crates/lakefs/src/lib.rs
  crates/lakefs/tests/context.rs
  crates/mount/src/file.rs
  crates/mount/src/lib.rs
Labels: binding/rust

#3393 chore: put a couple symbols behind the right feature gate
  crates/core/src/logstore/config.rs
  crates/core/src/logstore/storage/retry_ext.rs
Labels: binding/rust

#3404 fix: the default target size should be 100MB
  python/deltalake/table.py
Labels: binding/python
